# Github code owners
# Siehe auch https://help.github.com/articles/about-codeowners/
#
# Bitte die Sortierung dieser Datei beibehalten. Die zuletzt zutreffende Regel
# hat Vorrang.
* @europace/baufi-beratung
