openapi: 3.0.1
info:
  title: Kundenangaben API
  description: Diese Schnittstelle erlaubt das Importieren von Kundenangaben in einen
    neuen Vorgang auf der Europace Plattform.
  termsOfService: https://docs.api.europace.de/nutzungsbedingungen/
  contact:
    name: Europace AG
    url: http://developer.europace.de
    email: devsupport@europace2.de
  version: 1.0-alpha.5; 76011c984cbc8fa52dd6fb6be21afa51e1d248c7
externalDocs:
  url: https://developer.europace.de/api/kundenangaben-api
servers:
- url: https://baufinanzierung.api.europace.de
  description: Produktionsserver
tags:
- name: Kundenangaben
  description: Kundenangaben in einen neuen Vorgang importieren
paths:
  /kundenangaben:
    post:
      tags:
      - Kundenangaben
      summary: Kundenangaben in einen neuen Vorgang importieren
      description: Kundenangaben werden in BaufiSmart in einen neuen Vorgang importiert.
      operationId: importKundenangaben
      parameters:
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
      - $ref: '#/parameters/TraceId'
      - name: sendEmailNotification
        in: query
        description: "Sendet eine E-Mail an den angegebenen Berater, wenn true übergeben\
          \ wird "
        required: false
        schema:
          type: boolean
          default: false
      - name: datenkontext
        in: query
        required: false
        schema:
          type: string
          enum:
          - TEST_MODUS
          - ECHT_GESCHAEFT
          default: ECHT_GESCHAEFT
      requestBody:
        content:
          application/json; version=1.0:
            schema:
              $ref: '#/components/schemas/Kundenangaben'
        required: true
      responses:
        "201":
          description: Kundenangaben in neuen Vorgang importiert
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/KundenangabenImportResponse'
        "400":
          description: Der Request hat ein fehlerhaftes Format oder der Datentyp eines
            Felds weicht von der Spezifikation ab.
      security:
      - OAuth2:
        - baufinanzierung:vorgang:schreiben
components:
  schemas:
    AbloesungBestehendesDarlehen:
      type: object
      properties:
        referenzIdAbzuloesendesDarlehen:
          type: string
          description: ReferenzId des abzuloesenden bestehenden Darlehens des Finanzierungsobjektes.
            (Nicht von bestehenden Immobilien.)
        sondertilgungZumZinsbindungsende:
          type: number
          format: double
        referenzIdFinanzierungsbaustein:
          type: string
          description: "ReferenzId des Finanzierungsbausteins, welches das bestehende\
            \ Darlehen des Finanzierungsobjektes ablösen soll."
      description: Ablösung der bestehenden Darlehen des Finanzierungsobjektes. (Nicht
        von bestehenden Immobilien.)
    AbsicherungUndVorsorgePraeferenz:
      type: object
      properties:
        praeferenz:
          type: string
          enum:
          - VORHANDENE_PRUEFEN
          - VORHANDENE_NICHT_PRUEFEN
          - NICHT_VORHANDEN_BERATEN
          - NICHT_VORHANDEN_NICHT_BERATEN
          - UNBEDEUTEND
          - KEINE_PRAEFERENZ
        kommentar:
          type: string
    AbtretenAlsVerwendung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Verwendung'
      - type: object
        properties:
          abtreten:
            type: boolean
          kommentar:
            type: string
    Angestellter:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          beschaeftigungsverhaeltnis:
            $ref: '#/components/schemas/Beschaeftigungsverhaeltnis'
          beschaeftigungsstatus:
            type: string
            enum:
            - UNBEFRISTET
            - BEFRISTET
    Annuitaetendarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
          darlehensbetrag:
            type: number
            format: double
          annuitaetendetails:
            $ref: '#/components/schemas/Annuitaetendetails'
          bereitstellungszinsfreieZeitInMonaten:
            type: integer
            format: int32
          riesterfoerderung:
            $ref: '#/components/schemas/RiesterfoerderungAnnuitaetendarlehen'
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
    Annuitaetendetails:
      type: object
      properties:
        zinsbindungInJahren:
          type: integer
          format: int32
        tilgungswunsch:
          $ref: '#/components/schemas/Tilgungswunsch'
        sondertilgungJaehrlich:
          type: number
          description: Angabe in Prozent.
          format: double
        auszahlungszeitpunkt:
          type: string
          format: date
    Anschlussfinanzierung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          kosten:
            $ref: '#/components/schemas/KostenAnschlussfinanzierung'
          marktwertFinanzierungsobjekt:
            type: number
            format: double
          abloesungDarlehenDesFinanzierungsobjektes:
            type: array
            description: Ablösung der bestehenden Darlehen des Finanzierungsobjektes.
              (Nicht von bestehenden Immobilien.)
            items:
              $ref: '#/components/schemas/AbloesungBestehendesDarlehen'
    Anschrift:
      type: object
      properties:
        strasse:
          type: string
        hausnummer:
          type: string
        plz:
          type: string
        ort:
          type: string
    Arbeiter:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          beschaeftigungsverhaeltnis:
            $ref: '#/components/schemas/Beschaeftigungsverhaeltnis'
          beschaeftigungsstatus:
            type: string
            enum:
            - UNBEFRISTET
            - BEFRISTET
    Arbeitgeber:
      type: object
      properties:
        name:
          type: string
        inDeutschland:
          type: boolean
        inDeutschlandKommentar:
          type: string
    Arbeitserlaubnis:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          ARBEITSERLAUBNIS_VORHANDEN: '#/components/schemas/ArbeitserlaubnisVorhanden'
          KEINE_ARBEITSERLAUBNIS: '#/components/schemas/KeineArbeitserlaubnis'
    ArbeitserlaubnisVorhanden:
      type: object
      allOf:
      - $ref: '#/components/schemas/Arbeitserlaubnis'
      - type: object
        properties:
          befristetBis:
            type: string
            format: date
    Arbeitsloser:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
    Aufenthaltserlaubnis:
      type: object
      allOf:
      - $ref: '#/components/schemas/Aufenthaltstitel'
      - type: object
        properties:
          befristetBis:
            type: string
            format: date
          arbeitserlaubnis:
            $ref: '#/components/schemas/Arbeitserlaubnis'
    Aufenthaltstitel:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          VISUM: '#/components/schemas/Visum'
          AUFENTHALTSERLAUBNIS: '#/components/schemas/Aufenthaltserlaubnis'
          NIEDERLASSUNGSERLAUBNIS: '#/components/schemas/Niederlassungserlaubnis'
          DAUERAUFENTHALT_EU: '#/components/schemas/DaueraufenthaltEu'
    AufloesungAlsVerwendung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Verwendung'
      - type: object
        properties:
          aufloesen:
            type: boolean
          maximalEinzusetzenderBetrag:
            type: number
            format: double
          kommentar:
            type: string
    BankUndSparguthaben:
      type: object
      properties:
        guthaben:
          type: number
          format: double
        zinsertragJaehrlich:
          type: number
          format: double
        verwendung:
          $ref: '#/components/schemas/AufloesungAlsVerwendung'
    Bankverbindung:
      type: object
      properties:
        iban:
          type: string
        bic:
          type: string
        kundenreferenzIdsDerKontoinhaber:
          type: array
          description: "Kontoinhaberliste mit ReferenzIds der Kunden, falls zutreffend."
          items:
            type: string
            description: "Kontoinhaberliste mit ReferenzIds der Kunden, falls zutreffend."
        nameKontoinhaberKeinKunde:
          type: string
          description: Name des von den Kunden abweichenden Kontoinhabers.
    Baugrundstueck:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          grundstuecksart:
            type: string
            enum:
            - UNBEBAUTES_WOHNGRUNDSTUECK
            - UNBEBAUTES_MISCHGRUNDSTUECK
            - UNBEBAUTES_GEWERBEGRUNDSTUECK
            - LANDWIRTSCHAFTLICHES_GRUNDSTUECK
            - SONSTIGES_GRUNDSTUECK
    Bauspardarlehen:
      required:
      - sonderzahlungen
      type: object
      description: Für leer gelassene Parameter werden automatisch Vorschläge berechnet.
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          kundenreferenzIdsDerVertragspartner:
            type: array
            description: Liste von ReferenzIds der Kunden.
            items:
              type: string
              description: Liste von ReferenzIds der Kunden.
          abschlussgebuehrmodus:
            type: string
            enum:
            - SOFORTZAHLUNG
            - VERRECHNUNG
          verwendung:
            type: string
            enum:
            - FREI_BESPAREN
            - ABTRETEN
          tilgungsrateMonatlich:
            type: number
            format: double
          sparbeginn:
            type: string
            format: date
          tarifListe:
            type: array
            items:
              type: string
              enum:
              - BKM_MAX_PREMIUM_OPTIMAL
              - BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE
              - BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG
              - BKM_MAX_PREMIUM_BESTER_ZINS
              - FUCHS_IMMO_1
              - FUCHS_IMMO_1_PLUS
              - FUCHS_IMMO_2
              - FUCHS_IMMO_3
              - FUCHS_IMMO_4
              - FUCHS_IMMO_5
              - FUCHS_IMMO_6
              - FUCHS_IMMO_7
              - LBS_BAYERN_W4
              - LBS_BAYERN_W4_X30
              - LBS_BAYERN_W4_X35
              - LBS_BAYERN_W4_X40
              - LBS_BAYERN_W6
              - LBS_BAYERN_W9
              - LBS_BAYERN_WF
              - LBS_BAYERN_WU
              - LBS_HT_CLASSIC_S_2015
              - LBS_HT_CLASSIC_F_2015
              - LBS_HT_CLASSIC_L_2015
              - LBS_HT_CLASSIC_N_2015
              - LBS_HT_HOME_M
              - LBS_HT_HOME_L
              - LBS_HT_HOME_XL
              - LBS_HT_COMFORT_S
              - LBS_HT_COMFORT_N
              - LBS_HT_FLEX
              - LBS_NORD_N_STARTER_S4
              - LBS_NORD_N_STARTER_Q5
              - LBS_NORD_N_STARTER_S5
              - LBS_NORD_N_STARTER_S6
              - LBS_NORD_N_FINANZIERER_F3
              - LBS_NORD_N_FINANZIERER_F4
              - LBS_NORD_N_FINANZIERER_F5
              - LBS_NORD_N_FINANZIERER_F6
              - LBS_NORD_N_FINANZIERER_F7
              - LBS_NORD_N_MODERNISIERER_MINIZINS
              - LBS_NORD_N_MODERNISIERER_M8
              - LBS_NORD_N_MODERNISIERER_MX
              - LBS_OST_CLASSIC15_F5
              - LBS_OST_CLASSIC_F15_F5
              - LBS_OST_CLASSIC_F_H4
              - LBS_OST_CLASSIC_F_H5
              - LBS_OST_CLASSIC_12_C4
              - LBS_OST_CLASSIC_12_C9
              - LBS_OST_CLASSIC15_F3
              - LBS_OST_CLASSIC15_F4
              - LBS_OST_CLASSIC15_F6
              - LBS_OST_CLASSIC15_F8
              - LBS_OST_CLASSIC15_PLUS_F
              - LBS_OST_CLASSIC15_PLUS_S
              - LBS_OST_VARIO_FLEX
              - LBS_OST_CLASSIC20_F3
              - LBS_OST_CLASSIC20_F8
              - LBS_OST_CLASSIC20_PLUS_F
              - LBS_SHH_PRIMUS_SC
              - LBS_SHH_PRIMUS_SD
              - LBS_SHH_PRIMUS_SH
              - LBS_SHH_PRIMUS_SI
              - LBS_SHH_PRIMUS_SJ
              - LBS_SHH_TREND_SD
              - LBS_SHH_PRIMUS_TC
              - LBS_SHH_PRIMUS_TH
              - LBS_SHH_PRIMUS_TI
              - LBS_SHH_PRIMUS_TJ
              - LBS_SHH_PRIMUS_TD
              - LBS_SHH_TREND_TD
              - LBS_WEST_ZUHAUSE_DIREKT_10
              - LBS_WEST_ZUHAUSE_DIREKT_15
              - LBS_WEST_ZUHAUSE_PLUS
              - LBS_WEST_ZUHAUSE_FLEX_4_S
              - LBS_WEST_ZUHAUSE_FLEX_4_L
              - LBS_WEST_ZUHAUSE_FLEX_5_S
              - LBS_WEST_ZUHAUSE_FLEX_5_L
              - LBS_WEST_ZUHAUSE_FLEX_6_S
              - LBS_WEST_ZUHAUSE_FLEX_6_L
              - LBS_WEST_ZUHAUSE_FLEX_8_S
              - LBS_WEST_ZUHAUSE_FLEX_8_L
              - LBS_WEST_ZUHAUSE_PRIMA
              - LBS_WEST_ZUHAUSE_PRIMA_10
              - LBS_WEST_ZUHAUSE_FLEX_4
              - LBS_WEST_ZUHAUSE_FLEX_5
              - LBS_WEST_ZUHAUSE_FLEX_6
              - LBS_WEST_ZUHAUSE_FLEX_8
              - LBS_WEST_ZUHAUSE_YOUNG
              - LBS_WEST_ZUHAUSE_SPEZIAL
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_10
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_15
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_PLUS
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_L
              - LBS_WEST_RIESTER_ZUHAUSE_SPEZIAL
              - LBS_SUEDWEST_KLASSIK_PLUS_2018
              - LBS_SUEDWEST_LANGZEIT_PLUS_2019
              - LBS_SAAR_PREMIUM_FLEX_18
              - LBS_SAAR_PREMIUM_SICHER_18
              - LBS_SAAR_PREMIUM_TOP_18
              - LBS_SAAR_EXTRA_GUENSTIG_18
              - LBS_SAAR_EXTRA_SICHER_18
              - LBS_SAAR_EXTRA_SPEZIAL_18
              - SIGNAL_IDUNA_FREIRAUM_F_30
              - SIGNAL_IDUNA_FREIRAUM_F_30_16
              - SIGNAL_IDUNA_FREIRAUM_F_35
              - SIGNAL_IDUNA_FREIRAUM_F_35_16
              - SIGNAL_IDUNA_FREIRAUM_F_40
              - SIGNAL_IDUNA_FREIRAUM_F_40_16
              - SIGNAL_IDUNA_FREIRAUM_F_45
              - SIGNAL_IDUNA_FREIRAUM_F_45_16
              - SIGNAL_IDUNA_FREIRAUM_F_50
              - SIGNAL_IDUNA_FREIRAUM_F_60
              - SIGNAL_IDUNA_FREIRAUM_F_30_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_30_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_35_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_35_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_40_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_40_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_45_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_45_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_50_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_60_MZ
              - BHW_TARIF_FI1
              - BHW_TARIF_FI2
              - BHW_TARIF_FI3
              - BHW_TARIF_FI4
              - BHW_TARIF_FX1
              - BHW_TARIF_FX2
              - BHW_TARIF_REN
              - BHW_TARIF_FI1N
              - BHW_TARIF_FI2N
              - BHW_TARIF_FX1N
              - BHW_TARIF_FX2N
              - DT_RING_TARIF_FT
              - DT_RING_TARIF_FT_0
              - DT_RING_TARIF_FT_1
              - DT_RING_TARIF_FT_2
              - DT_RING_TARIF_XT_1
              - DT_RING_TARIF_XT_0
              - DT_RING_TARIF_F_1
              - ALTE_LEIPZIGER_150X
              - ALTE_LEIPZIGER_160X
              - ALTE_LEIPZIGER_170X
              - ALTE_LEIPZIGER_180X
              - ALTE_LEIPZIGER_190X
              - ALTE_LEIPZIGER_200X
              - ALTE_LEIPZIGER_150X_MZ
              - ALTE_LEIPZIGER_160X_MZ
              - ALTE_LEIPZIGER_170X_MZ
              - ALTE_LEIPZIGER_180X_MZ
              - ALTE_LEIPZIGER_190X_MZ
              - ALTE_LEIPZIGER_200X_MZ
              - ALTE_LEIPZIGER_ZG_21XX_20
              - ALTE_LEIPZIGER_ZG_21XX_30
              - ALTE_LEIPZIGER_ZG_25XX_49
              - ALTE_LEIPZIGER_21XX_27
              - ALTE_LEIPZIGER_21XX_33
              - ALTE_LEIPZIGER_21XX
              - ALTE_LEIPZIGER_25XX_30
              - ALTE_LEIPZIGER_25XX_45
              - ALTE_LEIPZIGER_22XX_33
              - ALTE_LEIPZIGER_22XX_27
              - ALTE_LEIPZIGER_22XX
              - ALTE_LEIPZIGER_26XX_30
              - ALTE_LEIPZIGER_26XX_45
              - WUESTENROT_01063_4
              - WUESTENROT_01063_5
              - WUESTENROT_01063_6
              - WUESTENROT_01063_7
              - WUESTENROT_01063_8
              - WUESTENROT_01063_9
              - WUESTENROT_01063_10
              - WUESTENROT_01063_12
              - WUESTENROT_01064_4
              - WUESTENROT_01064_6
              - WUESTENROT_01064_8
              - WUESTENROT_01064_10
              - WUESTENROT_01064_12
              - WUESTENROT_01061_10
              - WUESTENROT_01062_4
              - WUESTENROT_01061_10_0000
              - WUESTENROT_01062_04_0000
              - WUESTENROT_01063_05_3585
              - WUESTENROT_01063_07_5110
              - WUESTENROT_01063_09_0000
              - WUESTENROT_01064_10_0000
              - WUESTENROT_01064_04_0000
              - WUESTENROT_01064_04_5000
              - WUESTENROT_01064_05_4121
              - WUESTENROT_01064_06_0000
              - WUESTENROT_01064_07_5161
              - WUESTENROT_01064_09_0000
              - WUESTENROT_01073_04_5000
              - WUESTENROT_01073_05_9000
              - WUESTENROT_01073_08_0000
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI1
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI2
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI3
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI4
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FX1
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FX2
          weitereWunschparameter:
            $ref: '#/components/schemas/Bausparvertragsdetails'
          sonderzahlungen:
            type: array
            items:
              $ref: '#/components/schemas/Sonderzahlung'
          riesterfoerderung:
            $ref: '#/components/schemas/RiesterfoerderungBauspardarlehen'
    BausparvertragAlsVermoegen:
      required:
      - bausparkasse
      type: object
      properties:
        angesparterBetrag:
          type: number
          format: double
        bausparkasse:
          type: string
          enum:
          - AACHENER_BAUSPARKASSE
          - ALTE_LEIPZIGER_BAUSPAR
          - ALTE_LEIPZIGER_BAUSPAR_RATENKREDIT
          - BAUSPARKASSE_MAINZ
          - BAUSPARKASSE_SCHWAEBISCH_HALL
          - BHW
          - BSQ_BAUSPAR
          - DEBEKA_BAUSPARKASSE
          - DEUTSCHE_BANK_BAUSPAR
          - BADENIA
          - DEUTSCHER_RING
          - LBS_BAYERN
          - LBS_NORD
          - LBS_BREMEN
          - LBS_HESSEN_THUERINGEN
          - LBS_SCHLESWIG_HOLSTEIN_HAMBURG
          - LBS_RHEINLAND_PFALZ
          - LBS_WEST
          - LBS_OST
          - LBS_SAAR
          - LBS_SUEDWEST
          - LBS_BADEN_WUERTTEMBERG
          - SIGNAL_IDUNA
          - SIGNAL_IDUNA_BAUSPAR
          - WUESTENROT
        vertragsnummer:
          type: string
        tarif:
          type: string
          enum:
          - BKM_MAX_PREMIUM_OPTIMAL
          - BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE
          - BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG
          - BKM_MAX_PREMIUM_BESTER_ZINS
          - FUCHS_IMMO_1
          - FUCHS_IMMO_1_PLUS
          - FUCHS_IMMO_2
          - FUCHS_IMMO_3
          - FUCHS_IMMO_4
          - FUCHS_IMMO_5
          - FUCHS_IMMO_6
          - FUCHS_IMMO_7
          - LBS_BAYERN_W4
          - LBS_BAYERN_W4_X30
          - LBS_BAYERN_W4_X35
          - LBS_BAYERN_W4_X40
          - LBS_BAYERN_W6
          - LBS_BAYERN_W9
          - LBS_BAYERN_WF
          - LBS_BAYERN_WU
          - LBS_HT_CLASSIC_S_2015
          - LBS_HT_CLASSIC_F_2015
          - LBS_HT_CLASSIC_L_2015
          - LBS_HT_CLASSIC_N_2015
          - LBS_HT_HOME_M
          - LBS_HT_HOME_L
          - LBS_HT_HOME_XL
          - LBS_HT_COMFORT_S
          - LBS_HT_COMFORT_N
          - LBS_HT_FLEX
          - LBS_NORD_N_STARTER_S4
          - LBS_NORD_N_STARTER_Q5
          - LBS_NORD_N_STARTER_S5
          - LBS_NORD_N_STARTER_S6
          - LBS_NORD_N_FINANZIERER_F3
          - LBS_NORD_N_FINANZIERER_F4
          - LBS_NORD_N_FINANZIERER_F5
          - LBS_NORD_N_FINANZIERER_F6
          - LBS_NORD_N_FINANZIERER_F7
          - LBS_NORD_N_MODERNISIERER_MINIZINS
          - LBS_NORD_N_MODERNISIERER_M8
          - LBS_NORD_N_MODERNISIERER_MX
          - LBS_OST_CLASSIC15_F5
          - LBS_OST_CLASSIC_F15_F5
          - LBS_OST_CLASSIC_F_H4
          - LBS_OST_CLASSIC_F_H5
          - LBS_OST_CLASSIC_12_C4
          - LBS_OST_CLASSIC_12_C9
          - LBS_OST_CLASSIC15_F3
          - LBS_OST_CLASSIC15_F4
          - LBS_OST_CLASSIC15_F6
          - LBS_OST_CLASSIC15_F8
          - LBS_OST_CLASSIC15_PLUS_F
          - LBS_OST_CLASSIC15_PLUS_S
          - LBS_OST_VARIO_FLEX
          - LBS_OST_CLASSIC20_F3
          - LBS_OST_CLASSIC20_F8
          - LBS_OST_CLASSIC20_PLUS_F
          - LBS_SHH_PRIMUS_SC
          - LBS_SHH_PRIMUS_SD
          - LBS_SHH_PRIMUS_SH
          - LBS_SHH_PRIMUS_SI
          - LBS_SHH_PRIMUS_SJ
          - LBS_SHH_TREND_SD
          - LBS_SHH_PRIMUS_TC
          - LBS_SHH_PRIMUS_TH
          - LBS_SHH_PRIMUS_TI
          - LBS_SHH_PRIMUS_TJ
          - LBS_SHH_PRIMUS_TD
          - LBS_SHH_TREND_TD
          - LBS_WEST_ZUHAUSE_DIREKT_10
          - LBS_WEST_ZUHAUSE_DIREKT_15
          - LBS_WEST_ZUHAUSE_PLUS
          - LBS_WEST_ZUHAUSE_FLEX_4_S
          - LBS_WEST_ZUHAUSE_FLEX_4_L
          - LBS_WEST_ZUHAUSE_FLEX_5_S
          - LBS_WEST_ZUHAUSE_FLEX_5_L
          - LBS_WEST_ZUHAUSE_FLEX_6_S
          - LBS_WEST_ZUHAUSE_FLEX_6_L
          - LBS_WEST_ZUHAUSE_FLEX_8_S
          - LBS_WEST_ZUHAUSE_FLEX_8_L
          - LBS_WEST_ZUHAUSE_PRIMA
          - LBS_WEST_ZUHAUSE_PRIMA_10
          - LBS_WEST_ZUHAUSE_FLEX_4
          - LBS_WEST_ZUHAUSE_FLEX_5
          - LBS_WEST_ZUHAUSE_FLEX_6
          - LBS_WEST_ZUHAUSE_FLEX_8
          - LBS_WEST_ZUHAUSE_YOUNG
          - LBS_WEST_ZUHAUSE_SPEZIAL
          - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_10
          - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_15
          - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_PLUS
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_S
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_S
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_S
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_S
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_L
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_L
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_L
          - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_L
          - LBS_WEST_RIESTER_ZUHAUSE_SPEZIAL
          - LBS_SUEDWEST_KLASSIK_PLUS_2018
          - LBS_SUEDWEST_LANGZEIT_PLUS_2019
          - LBS_SAAR_PREMIUM_FLEX_18
          - LBS_SAAR_PREMIUM_SICHER_18
          - LBS_SAAR_PREMIUM_TOP_18
          - LBS_SAAR_EXTRA_GUENSTIG_18
          - LBS_SAAR_EXTRA_SICHER_18
          - LBS_SAAR_EXTRA_SPEZIAL_18
          - SIGNAL_IDUNA_FREIRAUM_F_30
          - SIGNAL_IDUNA_FREIRAUM_F_30_16
          - SIGNAL_IDUNA_FREIRAUM_F_35
          - SIGNAL_IDUNA_FREIRAUM_F_35_16
          - SIGNAL_IDUNA_FREIRAUM_F_40
          - SIGNAL_IDUNA_FREIRAUM_F_40_16
          - SIGNAL_IDUNA_FREIRAUM_F_45
          - SIGNAL_IDUNA_FREIRAUM_F_45_16
          - SIGNAL_IDUNA_FREIRAUM_F_50
          - SIGNAL_IDUNA_FREIRAUM_F_60
          - SIGNAL_IDUNA_FREIRAUM_F_30_MZ
          - SIGNAL_IDUNA_FREIRAUM_F_30_MZ_16
          - SIGNAL_IDUNA_FREIRAUM_F_35_MZ
          - SIGNAL_IDUNA_FREIRAUM_F_35_MZ_16
          - SIGNAL_IDUNA_FREIRAUM_F_40_MZ
          - SIGNAL_IDUNA_FREIRAUM_F_40_MZ_16
          - SIGNAL_IDUNA_FREIRAUM_F_45_MZ
          - SIGNAL_IDUNA_FREIRAUM_F_45_MZ_16
          - SIGNAL_IDUNA_FREIRAUM_F_50_MZ
          - SIGNAL_IDUNA_FREIRAUM_F_60_MZ
          - BHW_TARIF_FI1
          - BHW_TARIF_FI2
          - BHW_TARIF_FI3
          - BHW_TARIF_FI4
          - BHW_TARIF_FX1
          - BHW_TARIF_FX2
          - BHW_TARIF_REN
          - BHW_TARIF_FI1N
          - BHW_TARIF_FI2N
          - BHW_TARIF_FX1N
          - BHW_TARIF_FX2N
          - DT_RING_TARIF_FT
          - DT_RING_TARIF_FT_0
          - DT_RING_TARIF_FT_1
          - DT_RING_TARIF_FT_2
          - DT_RING_TARIF_XT_1
          - DT_RING_TARIF_XT_0
          - DT_RING_TARIF_F_1
          - ALTE_LEIPZIGER_150X
          - ALTE_LEIPZIGER_160X
          - ALTE_LEIPZIGER_170X
          - ALTE_LEIPZIGER_180X
          - ALTE_LEIPZIGER_190X
          - ALTE_LEIPZIGER_200X
          - ALTE_LEIPZIGER_150X_MZ
          - ALTE_LEIPZIGER_160X_MZ
          - ALTE_LEIPZIGER_170X_MZ
          - ALTE_LEIPZIGER_180X_MZ
          - ALTE_LEIPZIGER_190X_MZ
          - ALTE_LEIPZIGER_200X_MZ
          - ALTE_LEIPZIGER_ZG_21XX_20
          - ALTE_LEIPZIGER_ZG_21XX_30
          - ALTE_LEIPZIGER_ZG_25XX_49
          - ALTE_LEIPZIGER_21XX_27
          - ALTE_LEIPZIGER_21XX_33
          - ALTE_LEIPZIGER_21XX
          - ALTE_LEIPZIGER_25XX_30
          - ALTE_LEIPZIGER_25XX_45
          - ALTE_LEIPZIGER_22XX_33
          - ALTE_LEIPZIGER_22XX_27
          - ALTE_LEIPZIGER_22XX
          - ALTE_LEIPZIGER_26XX_30
          - ALTE_LEIPZIGER_26XX_45
          - WUESTENROT_01063_4
          - WUESTENROT_01063_5
          - WUESTENROT_01063_6
          - WUESTENROT_01063_7
          - WUESTENROT_01063_8
          - WUESTENROT_01063_9
          - WUESTENROT_01063_10
          - WUESTENROT_01063_12
          - WUESTENROT_01064_4
          - WUESTENROT_01064_6
          - WUESTENROT_01064_8
          - WUESTENROT_01064_10
          - WUESTENROT_01064_12
          - WUESTENROT_01061_10
          - WUESTENROT_01062_4
          - WUESTENROT_01061_10_0000
          - WUESTENROT_01062_04_0000
          - WUESTENROT_01063_05_3585
          - WUESTENROT_01063_07_5110
          - WUESTENROT_01063_09_0000
          - WUESTENROT_01064_10_0000
          - WUESTENROT_01064_04_0000
          - WUESTENROT_01064_04_5000
          - WUESTENROT_01064_05_4121
          - WUESTENROT_01064_06_0000
          - WUESTENROT_01064_07_5161
          - WUESTENROT_01064_09_0000
          - WUESTENROT_01073_04_5000
          - WUESTENROT_01073_05_9000
          - WUESTENROT_01073_08_0000
          - DEUTSCHE_BANK_BAUSPAR_TARIF_FI1
          - DEUTSCHE_BANK_BAUSPAR_TARIF_FI2
          - DEUTSCHE_BANK_BAUSPAR_TARIF_FI3
          - DEUTSCHE_BANK_BAUSPAR_TARIF_FI4
          - DEUTSCHE_BANK_BAUSPAR_TARIF_FX1
          - DEUTSCHE_BANK_BAUSPAR_TARIF_FX2
        vertragsbeginn:
          type: string
          format: date
        jahresentgelt:
          type: number
          format: double
        details:
          $ref: '#/components/schemas/Bausparvertragsdetails'
        verwendung:
          oneOf:
          - $ref: '#/components/schemas/AbtretenAlsVerwendung'
          - $ref: '#/components/schemas/AufloesungAlsVerwendung'
      description: In anderen APIs als 'bestehenderBausparvertrag' bezeichnet.
    Bausparvertragsdetails:
      type: object
      properties:
        sparbeitragMonatlich:
          type: number
          format: double
        bausparsumme:
          type: number
          format: double
        zuteilungsdatum:
          type: string
          format: date
    Beamter:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          beschaeftigungsverhaeltnis:
            $ref: '#/components/schemas/Beschaeftigungsverhaeltnis'
    BereitstellungszinsfreieZeitPraeferenz:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          DARLEHENSBETRAG_BENOETIGT_KURZ_NACH_DARLEHENSVERTRAG: '#/components/schemas/DarlehensbetragBenoetigtKurzNachDarlehensvertrag'
          IN_MONATEN: '#/components/schemas/InMonaten'
          NOCH_NICHT_FESTGELEGT: '#/components/schemas/NochNichtFestgelegt'
          KEINE_BEREITSTELLUNGSZINSFREIE_ZEIT_PRAEFERENZ: '#/components/schemas/KeineBereitstellungszinsfreieZeitPraeferenz'
    Beschaeftigung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          ARBEITSLOSER: '#/components/schemas/Arbeitsloser'
          HAUSHALTENDE_PERSON: '#/components/schemas/HaushaltendePerson'
          ANGESTELLTER: '#/components/schemas/Angestellter'
          ARBEITER: '#/components/schemas/Arbeiter'
          BEAMTER: '#/components/schemas/Beamter'
          SELBSTSTAENDIGER: '#/components/schemas/Selbststaendiger'
          FREIBERUFLER: '#/components/schemas/Freiberufler'
          RENTNER: '#/components/schemas/Rentner'
    Beschaeftigungsverhaeltnis:
      type: object
      properties:
        arbeitgeber:
          $ref: '#/components/schemas/Arbeitgeber'
        probezeit:
          type: boolean
        anzahlGehaelterProJahr:
          type: string
          enum:
          - ZWOELF
          - ZWOELF_EINHALB
          - DREIZEHN
          - DREIZEHN_EINHALB
          - VIERZEHN
          - VIERZEHN_EINHALB
          - FUENFZEHN
        beschaeftigtSeit:
          type: string
          format: date
    BestandteileDerFinanzierungPraeferenz:
      type: object
      properties:
        praeferenz:
          type: string
          enum:
          - UNKOMPLIZIERTE_FINANZIERUNG
          - WEITERE_PRODUKTE_WILLKOMMEN
          - KONKRETE_VORSTELLUNGEN
          - KEINE_PRAEFERENZ
        kommentar:
          type: string
    BestehendeImmobilie:
      type: object
      properties:
        bezeichnung:
          type: string
        immobilie:
          $ref: '#/components/schemas/Immobilie'
        darlehensliste:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/BestehendesBauspardarlehen'
            - $ref: '#/components/schemas/BestehendesFoerderdarlehen'
            - $ref: '#/components/schemas/BestehendesImmobiliendarlehen'
            - $ref: '#/components/schemas/BestehendesPrivatdarlehen'
            - $ref: '#/components/schemas/BestehendesSonstigesDarlehen'
        marktwert:
          type: number
          format: double
        kommentar:
          type: string
        einsatz:
          type: string
          enum:
          - KEIN_EINSATZ
          - VERKAUFEN
          - ALS_ZUSATZSICHERHEIT
        maximalEinzusetzenderBetragBeiVerkauf:
          type: number
          format: double
    BestehendesBauspardarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesDarlehen:
      required:
      - '@type'
      type: object
      properties:
        darlehensgeber:
          oneOf:
          - $ref: '#/components/schemas/NichtGesetzterDarlehensgeber'
          - $ref: '#/components/schemas/ProduktanbieterDarlehensgeber'
          - $ref: '#/components/schemas/SonstigerDarlehensgeber'
        grundschuld:
          type: number
          format: double
        darlehensbetrag:
          type: number
          format: double
        rateMonatlich:
          type: number
          format: double
        sollzins:
          type: number
          format: double
        zinsbindungBis:
          type: string
          format: date
        laufzeitende:
          type: string
          format: date
        restschuld:
          $ref: '#/components/schemas/Restschuld'
        darlehenskontonummer:
          type: string
          description: IBAN des Darlehenskontos
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          BESTEHENDES_IMMOBILIENDARLEHEN: '#/components/schemas/BestehendesImmobiliendarlehen'
          BESTEHENDES_BAUSPARDARLEHEN: '#/components/schemas/BestehendesBauspardarlehen'
          BESTEHENDES_FOERDERDARLEHEN: '#/components/schemas/BestehendesFoerderdarlehen'
          BESTEHENDES_PRIVATDARLEHEN: '#/components/schemas/BestehendesPrivatdarlehen'
          BESTEHENDES_SONSTIGES_DARLEHEN: '#/components/schemas/BestehendesSonstigesDarlehen'
    BestehendesDarlehenDesFinanzierungsobjektes:
      type: object
      properties:
        referenzId:
          type: string
          description: "Eindeutige Referenz-ID für dieses bestehende Darlehen des\
            \ Finanzierungsobjektes. Sie gilt nur innerhalb dieses Aufrufs, ist freiwä\
            hlbar und wird nicht abgespeichert. Auf sie wird beim (optionalen) Ablö\
            sen dieses Darlehens verwiesen."
        darlehen:
          oneOf:
          - $ref: '#/components/schemas/BestehendesBauspardarlehen'
          - $ref: '#/components/schemas/BestehendesFoerderdarlehen'
          - $ref: '#/components/schemas/BestehendesImmobiliendarlehen'
          - $ref: '#/components/schemas/BestehendesPrivatdarlehen'
          - $ref: '#/components/schemas/BestehendesSonstigesDarlehen'
    BestehendesFoerderdarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesImmobiliendarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesPrivatdarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
    BestehendesSonstigesDarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    Betrag:
      type: object
      allOf:
      - $ref: '#/components/schemas/Tippgeberprovision'
      - type: object
        properties:
          betrag:
            type: number
            format: double
    Betreuung:
      required:
      - kundenbetreuer
      type: object
      properties:
        kundenbetreuer:
          type: string
          description: Hier wird eine gültige PartnerId erwartet. Empfänger des Vorgangs.
        bearbeiter:
          type: string
          description: Hier wird eine gültige PartnerId erwartet. Diese kann identisch
            zum Kundenbetreuer sein.
    BisZumJahr:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          jahr:
            type: integer
            format: int32
          kommentar:
            type: string
    BisZurRenteImJahr:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          jahr:
            type: integer
            format: int32
          kommentar:
            type: string
    DarlehensbetragBenoetigtKurzNachDarlehensvertrag:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Darlehensgeber:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          SONSTIGER_DARLEHENSGEBER: '#/components/schemas/SonstigerDarlehensgeber'
          NICHT_GESETZTER_DARLEHENSGEBER: '#/components/schemas/NichtGesetzterDarlehensgeber'
          PRODUKTANBIETER_DARLEHENSGEBER: '#/components/schemas/ProduktanbieterDarlehensgeber'
    DaueraufenthaltEu:
      type: object
      allOf:
      - $ref: '#/components/schemas/Aufenthaltstitel'
    Deadline:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZeitlicherRahmenPraeferenz'
      - type: object
        properties:
          zumDatum:
            type: string
            format: date
          kommentar:
            type: string
    Depotvermoegen:
      type: object
      properties:
        depotwert:
          type: number
          format: double
        verwendung:
          $ref: '#/components/schemas/AufloesungAlsVerwendung'
    DerzeitNichtGeplant:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Doppelhaushaelfte:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          einliegerwohnungVorhanden:
            type: boolean
          nutzflaechen:
            $ref: '#/components/schemas/Nutzflaechen'
          fertighaus:
            type: boolean
    Eigengenutzt:
      type: object
      allOf:
      - $ref: '#/components/schemas/Nutzungsart'
    Eigentumswohnung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          miteigentumsanteil:
            $ref: '#/components/schemas/Miteigentumsanteil'
          anzahlDerWohneinheitenImObjekt:
            type: integer
            format: int32
          anzahlDerGewerbeeinheitenImObjekt:
            type: integer
            format: int32
          bezeichnungWohneinheit:
            type: string
    Einfamilienhaus:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          einliegerwohnungVorhanden:
            type: boolean
          nutzflaechen:
            $ref: '#/components/schemas/Nutzflaechen'
          fertighaus:
            type: boolean
    Einkommen:
      type: object
      properties:
        einkommenNetto:
          type: number
          format: double
        bezugsrahmen:
          type: string
          enum:
          - MONATLICH
          - JAEHRLICH
    EinkuenfteAusNebentaetigkeit:
      type: object
      properties:
        betragMonatlich:
          type: number
          format: double
        beginnDerTaetigkeit:
          type: string
          format: date
    EinmaligePraemienzahlung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Praemienzahlung'
      - type: object
        properties:
          absicherungsfinanzierungsweise:
            type: string
            enum:
            - DURCH_HAUPTDARLEHEN
            - INDIVIDUELL
    Erbbaurecht:
      type: object
      properties:
        erbbauzinsJaehrlich:
          type: number
          format: double
        grundstueckseigentuemer:
          type: string
          enum:
          - OEFFENTLICH_KIRCHLICH
          - ANDERE
        laufzeitBis:
          type: integer
          format: int32
    EuBuerger:
      type: object
      allOf:
      - $ref: '#/components/schemas/Staatsangehoerigkeit'
    EuroEinmalig:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          betrag:
            type: number
            format: double
          kommentar:
            type: string
    EuroJaehrlich:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          betrag:
            type: number
            format: double
          kommentar:
            type: string
    Familienstand:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          LEDIG: '#/components/schemas/Ledig'
          VERHEIRATET: '#/components/schemas/Verheiratet'
          VERWITWET: '#/components/schemas/Verwitwet'
          GESCHIEDEN: '#/components/schemas/Geschieden'
          GETRENNT_LEBEND: '#/components/schemas/GetrenntLebend'
          LEBENSPARTNERSCHAFT: '#/components/schemas/Lebenspartnerschaft'
    FinanzielleSituation:
      type: object
      properties:
        bestehendeImmobilien:
          type: array
          items:
            $ref: '#/components/schemas/BestehendeImmobilie'
        vermoegen:
          $ref: '#/components/schemas/Haushaltsvermoegen'
        einnahmen:
          $ref: '#/components/schemas/Haushaltseinnahmen'
        ausgaben:
          $ref: '#/components/schemas/Haushaltsausgaben'
        verbindlichkeiten:
          $ref: '#/components/schemas/Haushaltsverbindlichkeiten'
    Finanzielles:
      type: object
      properties:
        steuerId:
          type: string
        beschaeftigung:
          oneOf:
          - $ref: '#/components/schemas/Angestellter'
          - $ref: '#/components/schemas/Arbeiter'
          - $ref: '#/components/schemas/Arbeitsloser'
          - $ref: '#/components/schemas/Beamter'
          - $ref: '#/components/schemas/Freiberufler'
          - $ref: '#/components/schemas/HaushaltendePerson'
          - $ref: '#/components/schemas/Rentner'
          - $ref: '#/components/schemas/Selbststaendiger'
        einkommen:
          $ref: '#/components/schemas/Einkommen'
        riesterangaben:
          $ref: '#/components/schemas/Riesterangaben'
    Finanzierungsbaustein:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: In anderen APIs im 'Finanzierungswunsch' zu finden.
      discriminator:
        propertyName: '@type'
        mapping:
          ANNUITAETENDARLEHEN: '#/components/schemas/Annuitaetendarlehen'
          FORWARDDARLEHEN: '#/components/schemas/Forwarddarlehen'
          PRIVATDARLEHEN: '#/components/schemas/Privatdarlehen'
          ZWISCHENFINANZIERUNG: '#/components/schemas/Zwischenfinanzierung'
          VARIABLES_DARLEHEN: '#/components/schemas/VariablesDarlehen'
          KFW_DARLEHEN: '#/components/schemas/KfwDarlehen'
          REGIONALE_FOERDERBANK_DARLEHEN: '#/components/schemas/RegionaleFoerderbankDarlehen'
          BAUSPARDARLEHEN: '#/components/schemas/Bauspardarlehen'
    Finanzierungsbedarf:
      type: object
      properties:
        finanzierungszweck:
          oneOf:
          - $ref: '#/components/schemas/Anschlussfinanzierung'
          - $ref: '#/components/schemas/Kapitalbeschaffung'
          - $ref: '#/components/schemas/Kauf'
          - $ref: '#/components/schemas/KaufNeubauVomBautraeger'
          - $ref: '#/components/schemas/ModernisierungUmbauAnbau'
          - $ref: '#/components/schemas/Neubau'
        beratungshonorar:
          type: number
          description: "Das Beratungshonorar, welches anstelle einer Provision zwischen\
            \ dem Kundenbetreuer und Kunden vereinbart wurde."
          format: double
        unbesicherteExterneDarlehen:
          type: array
          description: Als Eigenkapital. In anderen APIs als 'nachrangigesExternesDarlehen'
            bezeichnet.
          items:
            $ref: '#/components/schemas/UnbesichertesExternesDarlehen'
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
        finanzierungsbausteine:
          type: array
          description: In anderen APIs im 'Finanzierungswunsch' zu finden.
          items:
            oneOf:
            - $ref: '#/components/schemas/Annuitaetendarlehen'
            - $ref: '#/components/schemas/Bauspardarlehen'
            - $ref: '#/components/schemas/Forwarddarlehen'
            - $ref: '#/components/schemas/KfwDarlehen'
            - $ref: '#/components/schemas/Privatdarlehen'
            - $ref: '#/components/schemas/RegionaleFoerderbankDarlehen'
            - $ref: '#/components/schemas/VariablesDarlehen'
            - $ref: '#/components/schemas/Zwischenfinanzierung'
        ratenschutzbausteine:
          type: array
          description: Absicherungswünsche in Form von Ratenschutzversicherungen.
            In anderen APIs im 'absicherungsWunsch' zu finden. Maximal ein Baustein
            je Kunde.
          items:
            $ref: '#/components/schemas/Ratenschutz'
      description: Der Finanzierungsbedarf beinhaltet alle relevanten Finanzierungsinformationen.
        In anderen APIs als 'Vorhaben' bezeichnet.
    Finanzierungsdetailspraeferenzen:
      type: object
      properties:
        zinsbindung:
          oneOf:
          - $ref: '#/components/schemas/FlexibelKurzfristigHandlungsfaehig'
          - $ref: '#/components/schemas/KeineZinsbindungPraeferenz'
          - $ref: '#/components/schemas/LangeZinssicherheit'
          - $ref: '#/components/schemas/ZinsbindungInJahren'
          - $ref: '#/components/schemas/Zinsbindungsspanne'
        laufzeit:
          oneOf:
          - $ref: '#/components/schemas/BisZumJahr'
          - $ref: '#/components/schemas/BisZurRenteImJahr'
          - $ref: '#/components/schemas/InJahren'
          - $ref: '#/components/schemas/KeineLaufzeitPraeferenz'
          - $ref: '#/components/schemas/MoeglichstSchnell'
        ratenhoehe:
          oneOf:
          - $ref: '#/components/schemas/KeineRatePraeferenz'
          - $ref: '#/components/schemas/MoeglichstNiedrigeRate'
          - $ref: '#/components/schemas/RateAlsBetrag'
          - $ref: '#/components/schemas/Ratenspanne'
          - $ref: '#/components/schemas/VerfuegbaresEinkommenAusschoepfen'
          - $ref: '#/components/schemas/WarmmieteVonHeute'
        tilgungssatzwechsel:
          oneOf:
          - $ref: '#/components/schemas/KeineTilgungssatzwechselPraeferenz'
          - $ref: '#/components/schemas/Mindestens'
          - $ref: '#/components/schemas/NichtEingeplantOderAbsehbar'
        sondertilgung:
          oneOf:
          - $ref: '#/components/schemas/DerzeitNichtGeplant'
          - $ref: '#/components/schemas/EuroEinmalig'
          - $ref: '#/components/schemas/EuroJaehrlich'
          - $ref: '#/components/schemas/KeineSondertilgungPraeferenz'
          - $ref: '#/components/schemas/ProzentJaehrlich'
        bereitstellungszinsfreieZeit:
          oneOf:
          - $ref: '#/components/schemas/DarlehensbetragBenoetigtKurzNachDarlehensvertrag'
          - $ref: '#/components/schemas/InMonaten'
          - $ref: '#/components/schemas/KeineBereitstellungszinsfreieZeitPraeferenz'
          - $ref: '#/components/schemas/NochNichtFestgelegt'
    Finanzierungsobjekt:
      type: object
      properties:
        immobilie:
          $ref: '#/components/schemas/Immobilie'
        darlehensliste:
          type: array
          items:
            $ref: '#/components/schemas/BestehendesDarlehenDesFinanzierungsobjektes'
    Finanzierungszweck:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Der Finanzierungszweck legt fest, wofür die gestellten Mittel\
        \ verwendet werden, sowie jeweilige Besonderheiten."
      discriminator:
        propertyName: '@type'
        mapping:
          NEUBAU: '#/components/schemas/Neubau'
          KAUF: '#/components/schemas/Kauf'
          KAUF_NEUBAU_VOM_BAUTRAEGER: '#/components/schemas/KaufNeubauVomBautraeger'
          MODERNISIERUNG_UMBAU_ANBAU: '#/components/schemas/ModernisierungUmbauAnbau'
          ANSCHLUSSFINANZIERUNG: '#/components/schemas/Anschlussfinanzierung'
          KAPITALBESCHAFFUNG: '#/components/schemas/Kapitalbeschaffung'
    Flaechennutzung:
      type: object
      properties:
        gesamtflaeche:
          minimum: 0
          type: number
          format: double
        nutzungsart:
          $ref: '#/components/schemas/Nutzungsart'
    FlexibelKurzfristigHandlungsfaehig:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZinsbindungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Flurstueck:
      type: object
      properties:
        flur:
          type: string
        flurstueck:
          type: string
        anteil:
          $ref: '#/components/schemas/Miteigentumsanteil'
        groesse:
          minimum: 0
          type: number
          format: double
    Forwarddarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
          darlehensbetrag:
            type: number
            format: double
          annuitaetendetails:
            $ref: '#/components/schemas/Annuitaetendetails'
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
    Freiberufler:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          taetigkeit:
            $ref: '#/components/schemas/SelbststaendigeTaetigkeit'
    Gebaeude:
      type: object
      properties:
        baujahr:
          type: integer
          format: int32
        bauweise:
          type: string
          enum:
          - MASSIV
          - HOLZ
          - GLAS_STAHL
          - FACHWERK_MIT_ZIEGELN
          - FACHWERK_MIT_STROH_LEHM
        anzahlGeschosse:
          type: integer
          format: int32
        zustand:
          type: string
          enum:
          - SEHR_GUT
          - GUT
          - MITTEL
          - MAESSIG
          - SCHLECHT
        ausstattung:
          type: string
          enum:
          - STARK_GEHOBEN
          - GEHOBEN
          - MITTEL
          - EINFACH
        nutzung:
          $ref: '#/components/schemas/Nutzung'
        modernisierung:
          $ref: '#/components/schemas/Modernisierung'
    Geschieden:
      type: object
      allOf:
      - $ref: '#/components/schemas/Familienstand'
    GetrenntLebend:
      type: object
      allOf:
      - $ref: '#/components/schemas/Familienstand'
      - type: object
        properties:
          guetertrennungVereinbart:
            type: boolean
            description: Wurde zwischen den Partnern Gütertrennung vereinbart
    GirokontoPraeferenz:
      type: object
      properties:
        bestehendeGirokontenBeiBanken:
          type: array
          description: "Einige Darlehensgeber geben Zinsvorteile, wenn bereits ein\
            \ Girokonto besteht."
          items:
            type: string
            description: "Einige Darlehensgeber geben Zinsvorteile, wenn bereits ein\
              \ Girokonto besteht."
        wechselbereitZumDarlehensgeber:
          type: boolean
          description: "Einige Darlehensgeber geben Zinsvorteile, wenn mit Abschluss\
            \ der Finanzierung auch ein Girokonto eingerichtet wird."
      description: Sonderkonditionen für Girokonten.
    Grundbuchangabe:
      type: object
      properties:
        ort:
          type: string
        blatt:
          type: string
        amtsgericht:
          type: string
        flurstueck:
          type: array
          items:
            $ref: '#/components/schemas/Flurstueck'
        rechteInAbteilung2:
          $ref: '#/components/schemas/RechteAbteilung2'
        anmerkungen:
          type: string
    Grundstueckskosten:
      type: object
      properties:
        grundstueckkaufpreis:
          type: number
          format: double
        grundstueckBereitsBezahlt:
          type: boolean
        erschliessungskosten:
          type: number
          format: double
    Haushalt:
      type: object
      properties:
        kunden:
          type: array
          description: In anderen APIs als 'Antragsteller' bezeichnet.
          items:
            $ref: '#/components/schemas/Kunde'
        kinder:
          type: array
          items:
            $ref: '#/components/schemas/Kind'
        finanzielleSituation:
          $ref: '#/components/schemas/FinanzielleSituation'
    HaushaltendePerson:
      type: object
      description: "Ein allgemeiner Begriff, der die Beschäftigungen 'Hausfrau' und\
        \ 'Hausmann' zusammenfasst."
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
    Haushaltsausgaben:
      type: object
      properties:
        summeMietausgaben:
          $ref: '#/components/schemas/Mietausgaben'
        summePrivaterKrankenversicherungenMonatlich:
          type: number
          format: double
        unterhaltsverpflichtungenMonatlich:
          type: array
          items:
            type: number
            format: double
        summeSonstigerVersicherungsausgabenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
        summeSonstigerAusgabenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
    Haushaltseinnahmen:
      type: object
      properties:
        summeEinkuenfteAusKapitalvermoegen:
          type: number
          description: In anderen APIs als 'dividende' unter 'wertpapiere'.
          format: double
        summeVariablerEinkuenfteMonatlich:
          type: number
          format: double
        einkuenfteAusNebentaetigkeit:
          type: array
          items:
            $ref: '#/components/schemas/EinkuenfteAusNebentaetigkeit'
        summeEhegattenunterhalt:
          type: number
          format: double
        summeUnbefristeteZusatzrentenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
        summeSonstigeEinnahmenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
    Haushaltsverbindlichkeiten:
      type: object
      properties:
        ratenkredite:
          type: array
          items:
            $ref: '#/components/schemas/Verbindlichkeit'
        privatdarlehen:
          type: array
          items:
            $ref: '#/components/schemas/Verbindlichkeit'
        sonstigeVerbindlichkeit:
          $ref: '#/components/schemas/Verbindlichkeit'
    Haushaltsvermoegen:
      required:
      - summeSonstigesVermoegen
      type: object
      properties:
        summeBankUndSparguthaben:
          $ref: '#/components/schemas/BankUndSparguthaben'
        summeSparplaene:
          $ref: '#/components/schemas/Sparplaene'
        summeDepotvermoegen:
          $ref: '#/components/schemas/Depotvermoegen'
        bausparvertraege:
          type: array
          items:
            $ref: '#/components/schemas/BausparvertragAlsVermoegen'
        lebensOderRentenversicherungen:
          type: array
          items:
            $ref: '#/components/schemas/LebensOderRentenversicherung'
        summeSonstigesVermoegen:
          $ref: '#/components/schemas/SonstigesVermoegen'
    Immobilie:
      type: object
      properties:
        adresse:
          $ref: '#/components/schemas/Anschrift'
        typ:
          oneOf:
          - $ref: '#/components/schemas/Baugrundstueck'
          - $ref: '#/components/schemas/Doppelhaushaelfte'
          - $ref: '#/components/schemas/Eigentumswohnung'
          - $ref: '#/components/schemas/Einfamilienhaus'
          - $ref: '#/components/schemas/ImmobilieOhneTyp'
          - $ref: '#/components/schemas/Mehrfamilienhaus'
          - $ref: '#/components/schemas/Reihenhaus'
          - $ref: '#/components/schemas/Zweifamilienhaus'
        stellplaetze:
          type: array
          items:
            $ref: '#/components/schemas/Stellplatz'
        erbbaurecht:
          $ref: '#/components/schemas/Erbbaurecht'
        grundbuchangabe:
          $ref: '#/components/schemas/Grundbuchangabe'
    ImmobilieOhneTyp:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
    Immobilientyp:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          BAUGRUNDSTUECK: '#/components/schemas/Baugrundstueck'
          EIGENTUMSWOHNUNG: '#/components/schemas/Eigentumswohnung'
          DOPPELHAUSHAELFTE: '#/components/schemas/Doppelhaushaelfte'
          EINFAMILIENHAUS: '#/components/schemas/Einfamilienhaus'
          ZWEIFAMILIENHAUS: '#/components/schemas/Zweifamilienhaus'
          MEHRFAMILIENHAUS: '#/components/schemas/Mehrfamilienhaus'
          REIHENHAUS: '#/components/schemas/Reihenhaus'
          IMMOBILIE_OHNE_TYP: '#/components/schemas/ImmobilieOhneTyp'
    InJahren:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          jahre:
            type: integer
            format: int32
          kommentar:
            type: string
    InMonaten:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          monate:
            type: integer
            format: int32
          kommentar:
            type: string
    Kapitalbeschaffung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          kosten:
            $ref: '#/components/schemas/KostenKapitalbeschaffung'
          marktwertFinanzierungsobjekt:
            type: number
            format: double
    Kauf:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          kosten:
            $ref: '#/components/schemas/KostenKauf'
    KaufNeubauVomBautraeger:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          kosten:
            $ref: '#/components/schemas/KostenKaufNeubauVomBautraeger'
          eigenleistung:
            type: number
            description: Persönlich erbrachte Arbeitsleistung als Eigenleistung
            format: double
    KeinZeitdruck:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZeitlicherRahmenPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineArbeitserlaubnis:
      type: object
      allOf:
      - $ref: '#/components/schemas/Arbeitserlaubnis'
    KeineBereitstellungszinsfreieZeitPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineLaufzeitPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineRatePraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/RatenhoehePraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineSondertilgungPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineTilgungssatzwechselPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/TilgungssatzwechselPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineZeitlicherRahmenPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZeitlicherRahmenPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineZinsbindungPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZinsbindungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KfwDarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          darlehensbetrag:
            type: number
            format: double
          laufzeitInJahren:
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            format: int32
          zinsbindungInJahren:
            type: integer
            format: int32
          tilgungswunsch:
            $ref: '#/components/schemas/Tilgungswunsch'
          kfwProgramm:
            type: string
            enum:
            - PROGRAMM_124
            - PROGRAMM_151
            - PROGRAMM_152
            - PROGRAMM_153
            - PROGRAMM_159
            - PROGRAMM_167
          kfwEnergieEffizienzStandard:
            type: string
            enum:
            - STANDARD_40_PLUS
            - STANDARD_40
            - STANDARD_55
          kfwEndfaellig:
            type: string
            enum:
            - NEIN
            - ENDFAELLIG_BERECHNET
            - ENDFAELLIG_EIGENES_ANGEBOT
    Kind:
      type: object
      properties:
        name:
          type: string
        geburtsdatum:
          type: string
          format: date
        kindergeldWirdBezogen:
          type: boolean
        unterhalt:
          type: number
          format: double
        kundenreferenzIdRiesterzuordnung:
          type: string
          description: ReferenzId eines Kunden bei Riesterbezug. Sonst leer.
    KommentierterBetrag:
      type: object
      properties:
        betrag:
          type: number
          format: double
        kommentar:
          type: string
    Kontakt:
      type: object
      properties:
        telefonnummer:
          $ref: '#/components/schemas/Telefonnummer'
        email:
          type: string
        weitereKontaktmoeglichkeiten:
          type: string
    KostenAnschlussfinanzierung:
      type: object
      properties:
        bereitsBeglicheneKosten:
          type: number
          format: double
        modernisierung:
          $ref: '#/components/schemas/Modernisierungskosten'
        zuBeschaffendesKapital:
          $ref: '#/components/schemas/KommentierterBetrag'
      description: Alle bereits beglichenen und anfallenden Kosten
    KostenKapitalbeschaffung:
      type: object
      properties:
        zuBeschaffendesKapital:
          $ref: '#/components/schemas/KommentierterBetrag'
      description: Alle bereits beglichenen und anfallenden Kosten
    KostenKauf:
      type: object
      properties:
        weitereKosten:
          $ref: '#/components/schemas/WeitereKosten'
        nebenkosten:
          $ref: '#/components/schemas/Nebenkosten'
        kaufpreis:
          type: number
          format: double
        modernisierung:
          $ref: '#/components/schemas/Modernisierungskosten'
      description: Alle bereits beglichenen und anfallenden Kosten
    KostenKaufNeubauVomBautraeger:
      type: object
      properties:
        weitereKosten:
          $ref: '#/components/schemas/WeitereKosten'
        nebenkosten:
          $ref: '#/components/schemas/Nebenkosten'
        kaufpreis:
          type: number
          format: double
        anzahlTeilzahlungen:
          type: integer
          format: int32
      description: Alle bereits beglichenen und anfallenden Kosten
    KostenModernisierung:
      type: object
      properties:
        weitereKosten:
          $ref: '#/components/schemas/WeitereKosten'
        modernisierungskostenInklEigenleistungen:
          type: number
          format: double
        renovierungskosten:
          type: number
          format: double
        zuBeschaffendesKapital:
          $ref: '#/components/schemas/KommentierterBetrag'
        anzahlTeilzahlungen:
          type: integer
          format: int32
      description: Alle bereits beglichenen und anfallenden Kosten
    KostenNeubau:
      type: object
      properties:
        weitereKosten:
          $ref: '#/components/schemas/WeitereKosten'
        nebenkosten:
          $ref: '#/components/schemas/Nebenkosten'
        grundstueckskosten:
          $ref: '#/components/schemas/Grundstueckskosten'
        herstellungskostenInklusiveEigenleistungen:
          type: number
          format: double
        aussenanlagen:
          type: number
          format: double
        baunebenkosten:
          type: number
          format: double
        anzahlTeilzahlungen:
          type: integer
          format: int32
      description: Alle bereits beglichenen und anfallenden Kosten
    Kunde:
      required:
      - referenzId
      type: object
      properties:
        externeKundenId:
          type: string
          description: Externe ID für diesen Kunden. In anderen APIs auch als externeAntragstellerId
            bezeichnet.
        referenzId:
          type: string
          description: "Eindeutige Referenz-ID für diesen Kunden. Sie gilt nur innerhalb\
            \ dieses Aufrufs, ist freiwählbar und wird nicht abgespeichert. Auf sie\
            \ wird an mehreren Stellen verwiesen. Hier kann auch die externeKundenId\
            \ verwendet werden."
        personendaten:
          $ref: '#/components/schemas/Personendaten'
        wohnsituation:
          $ref: '#/components/schemas/Wohnsituation'
        finanzielles:
          $ref: '#/components/schemas/Finanzielles'
        kontakt:
          $ref: '#/components/schemas/Kontakt'
      description: In anderen APIs als 'Antragsteller' bezeichnet.
    Kundenangaben:
      type: object
      properties:
        haushalte:
          maxItems: 4
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Haushalt'
        finanzierungsobjekt:
          $ref: '#/components/schemas/Finanzierungsobjekt'
        finanzierungsbedarf:
          $ref: '#/components/schemas/Finanzierungsbedarf'
        bankverbindung:
          $ref: '#/components/schemas/Bankverbindung'
        metadaten:
          $ref: '#/components/schemas/Metadaten'
      description: In anderen APIs als 'Erfasste Daten' bezeichnet.
    LangeZinssicherheit:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZinsbindungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    LaufzeitPraeferenz:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          MOEGLICHST_SCHNELL: '#/components/schemas/MoeglichstSchnell'
          IN_JAHREN: '#/components/schemas/InJahren'
          BIS_ZUM_JAHR: '#/components/schemas/BisZumJahr'
          BIS_ZUR_RENTE_IM_JAHR: '#/components/schemas/BisZurRenteImJahr'
          KEINE_LAUFZEIT_PRAEFERENZ: '#/components/schemas/KeineLaufzeitPraeferenz'
    Leadtracking:
      type: object
      properties:
        kampagne:
          type: string
          description: Frei wählbare Kampagne. Wird von BaufiSmart nicht verwendet.
        keyword:
          type: string
          description: Frei wählbares Schlagwort. Wird von BaufiSmart nicht verwendet.
        trackingId:
          type: string
          description: Frei wählbare TrackingId. Wird von BaufiSmart nicht verwendet.
      description: Ermöglicht die Effizienz von Lead Kampagnen zu messen. Z.B. im
        Reporting.
    LebensOderRentenversicherung:
      type: object
      properties:
        rueckkaufswert:
          type: number
          format: double
        praemieMonatlich:
          type: number
          format: double
        verwendung:
          oneOf:
          - $ref: '#/components/schemas/AbtretenAlsVerwendung'
          - $ref: '#/components/schemas/AufloesungAlsVerwendung'
        detailsWennZusatzsicherheit:
          $ref: '#/components/schemas/LebensOderRentenversicherungsdetails'
    LebensOderRentenversicherungsdetails:
      type: object
      properties:
        versicherungsgesellschaft:
          type: string
        vertragsnummer:
          type: string
        tarif:
          type: string
        vertragsdatum:
          type: string
          format: date
        vertragsende:
          type: string
          format: date
        versicherungsart:
          type: string
          enum:
          - KAPITALBILDENDE_LEBENSVERSICHERUNG
          - FONDSGEBUNDENE_LEBENSVERSICHERUNG
          - KAPITALBILDENDE_RENTENVERSICHERUNG
          - FONDSGEBUNDENE_RENTENVERSICHERUNG
          - RISIKO_LEBENSVERSICHERUNG
        versicherungssumme:
          type: number
          format: double
        verwaltungsgebuehrenJaehrlich:
          type: number
          format: double
    Lebenspartnerschaft:
      type: object
      allOf:
      - $ref: '#/components/schemas/Familienstand'
      - type: object
        properties:
          guetertrennungVereinbart:
            type: boolean
            description: Wurde zwischen den Partnern Gütertrennung vereinbart
    Ledig:
      type: object
      allOf:
      - $ref: '#/components/schemas/Familienstand'
    Mehrfamilienhaus:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          haustyp:
            type: string
            enum:
            - FREISTEHEND
            - KOPFHAUS
            - MITTELHAUS
          nutzflaechen:
            $ref: '#/components/schemas/Nutzflaechen'
          anzahlDerWohneinheiten:
            type: integer
            format: int32
          anzahlDerGewerbeeinheiten:
            type: integer
            format: int32
    Metadaten:
      required:
      - kundenbetreuer
      type: object
      properties:
        kundenbetreuer:
          $ref: '#/components/schemas/Betreuung'
        externeVorgangsId:
          type: string
          description: "Externe VorgangsId, mit welcher sich z.B. die importierten\
            \ Daten suchen lassen."
        importquelle:
          type: string
          description: "Quelle, aus der die Kundenangaben importiert werden. Kann\
            \ im Reporting zur Gruppierung verwendet werden."
        leadtracking:
          $ref: '#/components/schemas/Leadtracking'
        zusaetzlicherEreignistext:
          type: string
          description: Bei erfolgreichem Import der Kundenangaben wird ein 'Vorgang
            angelegt' Ereignis erzeugt. Hier kann ein ergänzender Text hinzugefügt
            werden.
        prioritaet:
          type: string
          description: Die Priorität dient der Sortierung und Filterung von Vorgängen
            im Vorgangsmanagement.
          enum:
          - NIEDRIG
          - NEUTRAL
          - HOCH
        tippgeber:
          $ref: '#/components/schemas/Tippgeber'
    Mietausgaben:
      type: object
      properties:
        betragMonatlich:
          type: number
          format: double
        entfaelltMitFinanzierung:
          type: boolean
    Mindestens:
      type: object
      allOf:
      - $ref: '#/components/schemas/TilgungssatzwechselPraeferenz'
      - type: object
        properties:
          anzahl:
            type: integer
            format: int32
          kommentar:
            type: string
    Miteigentumsanteil:
      type: object
      properties:
        anteil:
          type: number
          format: double
        gesamt:
          type: integer
          format: int32
    Modernisierung:
      type: object
      properties:
        jahr:
          type: integer
          format: int32
        grad:
          type: string
          enum:
          - HOCH
          - MITTEL
          - GERING
    ModernisierungUmbauAnbau:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          kosten:
            $ref: '#/components/schemas/KostenModernisierung'
          marktwertFinanzierungsobjekt:
            type: number
            format: double
          eigenleistung:
            type: number
            description: Persönlich erbrachte Arbeitsleistung als Eigenleistung
            format: double
    Modernisierungskosten:
      type: object
      properties:
        modernisierungskostenInklEigenleistungen:
          type: number
          description: "Werterhöhende Maßnahmen wie Fenster, Heizung, Dach, Dämmung\
            \ etc."
          format: double
        renovierungskosten:
          type: number
          description: "Nicht werterhöhende Maßnahmen wie Malerarbeiten, kleine Reparaturen\
            \ etc."
          format: double
    MoeglichstNiedrigeRate:
      type: object
      allOf:
      - $ref: '#/components/schemas/RatenhoehePraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    MoeglichstSchnell:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    MonatlichePraemienzahlung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Praemienzahlung'
    Nebenkosten:
      type: object
      properties:
        maklergebuehr:
          $ref: '#/components/schemas/WertInEuroOderProzent'
        notargebuehr:
          $ref: '#/components/schemas/WertInEuroOderProzent'
        grunderwerbsteuer:
          $ref: '#/components/schemas/WertInEuroOderProzent'
    Neubau:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          kosten:
            $ref: '#/components/schemas/KostenNeubau'
          eigenleistung:
            type: number
            description: Persönlich erbrachte Arbeitsleistung als Eigenleistung
            format: double
    NichtEingeplantOderAbsehbar:
      type: object
      allOf:
      - $ref: '#/components/schemas/TilgungssatzwechselPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    NichtEuBuerger:
      type: object
      allOf:
      - $ref: '#/components/schemas/Staatsangehoerigkeit'
      - type: object
        properties:
          inDeutschlandSeit:
            type: string
            format: date
          aufenthaltstitel:
            $ref: '#/components/schemas/Aufenthaltstitel'
    NichtGesetzterDarlehensgeber:
      type: object
      allOf:
      - $ref: '#/components/schemas/Darlehensgeber'
    Niederlassungserlaubnis:
      type: object
      allOf:
      - $ref: '#/components/schemas/Aufenthaltstitel'
    NochNichtFestgelegt:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Nutzflaechen:
      type: object
      properties:
        dachgeschoss:
          type: string
          enum:
          - VOLL_AUSGEBAUT
          - TEILWEISE_AUSGEBAUT
          - NICHT_AUSGEBAUT
          - FLACHDACH
        unterkellerung:
          type: string
          enum:
          - UNTERKELLERT
          - TEILWEISE_UNTERKELLERT
          - NICHT_UNTERKELLERT
      description: In anderen APIs als 'DachgeschossKeller' bezeichnet.
    Nutzung:
      type: object
      properties:
        wohnen:
          $ref: '#/components/schemas/Flaechennutzung'
        gewerbe:
          $ref: '#/components/schemas/Flaechennutzung'
    Nutzungsart:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          EIGENGENUTZT: '#/components/schemas/Eigengenutzt'
          VERMIETET: '#/components/schemas/Vermietet'
          TEILVERMIETET: '#/components/schemas/Teilvermietet'
    Person:
      type: object
      properties:
        titel:
          $ref: '#/components/schemas/Titel'
        anrede:
          type: string
          enum:
          - HERR
          - FRAU
        vorname:
          type: string
        nachname:
          type: string
    Personendaten:
      type: object
      properties:
        person:
          $ref: '#/components/schemas/Person'
        geburtsdatum:
          type: string
          format: date
        geburtsort:
          type: string
        staatsangehoerigkeit:
          oneOf:
          - $ref: '#/components/schemas/EuBuerger'
          - $ref: '#/components/schemas/NichtEuBuerger'
        familienstand:
          oneOf:
          - $ref: '#/components/schemas/Geschieden'
          - $ref: '#/components/schemas/GetrenntLebend'
          - $ref: '#/components/schemas/Lebenspartnerschaft'
          - $ref: '#/components/schemas/Ledig'
          - $ref: '#/components/schemas/Verheiratet'
          - $ref: '#/components/schemas/Verwitwet'
    Praeferenzen:
      type: object
      properties:
        finanzierungsdetailspraeferenzen:
          $ref: '#/components/schemas/Finanzierungsdetailspraeferenzen'
        bestandteileDerFinanzierung:
          $ref: '#/components/schemas/BestandteileDerFinanzierungPraeferenz'
        absicherungUndVorsorge:
          $ref: '#/components/schemas/AbsicherungUndVorsorgePraeferenz'
        zeitlicherRahmen:
          oneOf:
          - $ref: '#/components/schemas/Deadline'
          - $ref: '#/components/schemas/KeinZeitdruck'
          - $ref: '#/components/schemas/KeineZeitlicherRahmenPraeferenz'
          - $ref: '#/components/schemas/SoSchnellWieMoeglich'
        girokonto:
          $ref: '#/components/schemas/GirokontoPraeferenz'
        weiterePraeferenz:
          type: string
    Praemienzahlung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      discriminator:
        propertyName: '@type'
        mapping:
          MONATLICHE_PRAEMIENZAHLUNG: '#/components/schemas/MonatlichePraemienzahlung'
          EINMALIGE_PRAEMIENZAHLUNG: '#/components/schemas/EinmaligePraemienzahlung'
    Privatdarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
          darlehensbetrag:
            type: number
            format: double
          laufzeitInMonaten:
            type: integer
            format: int32
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
    ProduktanbieterDarlehensgeber:
      type: object
      allOf:
      - $ref: '#/components/schemas/Darlehensgeber'
      - type: object
        properties:
          produktanbieter:
            type: string
            enum:
            - AACHENER_BANK
            - AACHENER_BAUSPARKASSE
            - ABAKUS_BANK
            - ABRECHNUNGSBANK
            - ABRECHNUNGSBANK_RATENKREDIT
            - ABRECHNUNGSBSK
            - ACADEMY
            - ACCEDOBANK
            - ALLGAEUER_VOBA
            - ALLIANZ
            - ALTE_LEIPZIGER_BAUSPAR
            - ALTE_LEIPZIGER_BAUSPAR_RATENKREDIT
            - ALTE_LEIPZIGER_BSV
            - APOBANK
            - AUGSBURG_AKTIENBANK
            - AUXMONEY
            - AUXMONEY_RATENKREDIT
            - AXA
            - BADENIA
            - BANKA_MARCH
            - BANKIA
            - BANKINTER
            - BANKVEREIN_WERTHER
            - BARCLAYCARD
            - BARCLAYCARD_RATENKREDIT
            - BARMENIA
            - BAUFI_DIREKTBANK
            - BAUFINANZTEAMBANK
            - BAUGELDSPEZIALISTEN
            - BBBANK
            - BBVA
            - BERLINER_SPK
            - BERLINER_VOBA
            - BERLINERSPK
            - BHW
            - BHW_AUSLANDSFINANZIERUNG
            - BHW_SPEED
            - BHW_ZUSATZPRODUKTE
            - BKM
            - BMN
            - BORDESHOLMER_SPK
            - BRANDENBURGER_BANK
            - BREMISCHE_VOLKSBANK
            - BSH_PLATTFORM
            - BSK_SCHWAEBISCH_HALL
            - BSQ_BAUSPAR
            - BW_BANK
            - BW_BANK_EP2
            - CAIXABANK
            - CARDIF
            - CLEARING_BFT
            - COBA_ANDERNACH
            - COBA_BALINGEN
            - COBA_BERLIN
            - COBA_DARMSTADT
            - COBA_DUESSELDORF
            - COBA_LEIPZIG
            - COBA_MAINZ
            - COBA_MEININGEN
            - COBA_NORD
            - COMMERZBANK
            - COMMERZBANK_RATENKREDIT
            - COMMERZBANK_TEST
            - CONSORS_FINANZ_BNP_PARIBAS_RATENKREDIT
            - CREDIT_EUROPE_RATENKREDIT
            - CREDIT_LIFE
            - CREDITFAIR_BANK
            - CREDITPLUS
            - CREDITPLUS_RATENKREDIT
            - CREDITWEBBANK
            - DEBEKA_BAUSPARKASSE
            - DEGUSSA_BANK
            - DEUTSCHE_BANK_BAUSPAR
            - DEUTSCHE_BANK_INDIVIDUELL
            - DEUTSCHE_BANK_TOPBAUFI
            - DEUTSCHE_BANK_PFK
            - DEUTSCHE_BANK_PFK_RATENKREDIT
            - DEUTSCHER_RING
            - DEUTSCHER_RING_BSV
            - DEUTSCHER_RING_EFI
            - DEVK
            - DKB
            - DKB_RATENKREDIT
            - DORTMUNDER_VOBA
            - DR_KLEIN
            - DR_KLEIN_DKB
            - DR_KLEIN_ING_DIBA
            - DR_KLEIN_NETBANK
            - DSL_BANK
            - DSL_BANK_RATENKREDIT
            - DT_BANK_SA
            - DTBANK_FILIALE_BER
            - DTBANK_INDIVID_BER
            - DTBANK_INDIVID_FFM
            - DTBANK_INDIVID_HH
            - DTBANK_INDIVID_KOELN
            - DTBANK_INDIVID_LUEB
            - DTBANK_INDIVID_MUC
            - DZ_HYP
            - DZ_HYP_TEST
            - ERFURTER_BANK
            - ERGO
            - EVANGELISCHE_BANK
            - FINANSBANK
            - FOERDE_SPK
            - FRANKENBERGER_BANK
            - FRANKFURTER_VOBA
            - GENERALI
            - GENO_BANK_ESSEN
            - GENOBAN_UNTERALLGAEU
            - GLADBACHER_BANK
            - GLADBACHER_BANK_EIGE
            - GLADBACHER_BANK_N
            - GLADBACHER_BANK_WL_BANK
            - HAMBURGER_SPK
            - HAMBURGER_VOLKSBANK
            - HANNOVERSCHE_LEBEN
            - HANSEATIC_BANK
            - HANSEATIC_BANK_RATENKREDIT
            - HARZER_VOBA
            - HARZSPK
            - HAUSBANK_MUENCHEN
            - HAUSWOHNENBANK
            - HDI
            - HEIDENHEIMER_VOBA
            - HERNER_SPK
            - HYPOVEREINSBANK
            - IKANO_BANK
            - IKANO_BANK_RATENKREDIT
            - ING_DIBA
            - ING_DIBA_RATENKREDIT
            - INSURANCE_EUROPE
            - INTERCAPITAL
            - INVESTITIONSBANK_SH
            - KASSEL_SPK
            - KASSELER_BANK
            - KFW
            - KOELNER_BANK
            - KSK_AHRWEILER
            - KSK_ANH_BITTER
            - KSK_ANH_BITTER_RATENKREDIT
            - KSK_AUE_SCHWARZENBERG
            - KSK_AUGSBURG
            - KSK_BAUTZEN
            - KSK_BERSENBRUECK
            - KSK_BIBERACH
            - KSK_BOEBLINGEN
            - KSK_BOERDE
            - KSK_DIEPHOLZ
            - KSK_DOEBELN
            - KSK_DOEBELN_RATENKREDIT
            - KSK_DUESSELDORF
            - KSK_EICHSFELD
            - KSK_ESSLINGEN
            - KSK_EUSKIRCHEN
            - KSK_FREUDENSTADT
            - KSK_GOEPPINGEN
            - KSK_GROSS_GERAU
            - KSK_HALLE_WEST
            - KSK_HEIDENHEIM
            - KSK_HEINSBERG
            - KSK_RHEIN_HUNSRUECK
            - KSK_KAISERSLAUTERN
            - KSK_KOELN
            - KSK_KELHEIM
            - KSK_LIMBURG
            - KSK_LUDWIGSBURG
            - KSK_MAYEN
            - KSK_MELLE
            - KSK_MUENCHEN_STARNBERG_EBERSBERG
            - KSK_NORDHAUSEN
            - KSK_OSTERHOLZ
            - KSK_PEINE
            - KSK_RATZEBURG
            - KSK_RAVENSBURG
            - KSK_SAALE_ORLA
            - KSK_SAARLOUIS
            - KSK_SAARPFALZ
            - KSK_SCHWALM_EDER
            - KSK_SIGMARINGEN
            - KSK_SOLTAU
            - KSK_STADE
            - KSK_STEINFURT
            - KSK_STENDAL
            - KSK_SYKE
            - KSK_TRAUNST_TROST
            - KSK_TUEBINGEN
            - KSK_TUTTLINGEN
            - KSK_VERDEN
            - KSK_VULKANEIFEL
            - KSK_WAIBLINGEN
            - KSK_ST_WENDEL_EV
            - KSK_ST_WENDEL_VM
            - KSK_WIEDENBRUECK
            - KYFF_SPK
            - LBS_BADEN_WUERTTEMBERG
            - LBS_BAYERN
            - LBS_BAYERN_ANNU
            - LBS_BREMEN
            - LBS_HESSEN_THUERINGEN
            - LBS_NORD
            - LBS_OST
            - LBS_RHEINLAND_PFALZ
            - LBS_SAAR
            - LBS_SCHLESWIG_HOLSTEIN_HAMBURG
            - LBS_SHH
            - LBS_SUEDWEST
            - LBS_WEST
            - LIGA_BANK
            - L_BANK
            - MAERKISCHE_BANK
            - MAINZ_VOBA
            - MHB
            - MHB_VERBUND_VV
            - MITTELBRANDENBURGISCHE_SPK_POTSDAM
            - MITTELBRANDENBURGISCHE_SPK_TEST
            - MUENCHENER_VEREIN
            - MUENCHNER_BANK
            - MUSTER_SPK
            - MUSTER_RATENSCHUTZVERSICHERUNG
            - MUSTERBANK
            - NAEV
            - NETBANK
            - NETBANK_RATENKREDIT
            - NEUE_LEBEN
            - NEUE_LEBEN_RATENSCHUTZ
            - NEUN_NEUN_HYP
            - NIBC
            - NIEDERR_SPK_RLIPPE
            - NORD_OSTSEE_SPK
            - NORDLB
            - NORDTHUERINGER_VOBA
            - NORISBANK
            - NORISBANK_RATENKREDIT
            - NRW_BANK
            - OAB
            - OAB_RATENKREDIT
            - OLB
            - ONE_CLICK_BAUFI
            - OSD_ONLINE
            - OSTFRIESISCHE_VOBA
            - OSTSAECHSISCHE_SPK_DRESDEN
            - OSTSEE_SPK_ROSTOCK
            - OSTSEE_SPK_ROSTOCK_PREMIUM
            - PAX_BANK
            - PB_LEBENSVERSICHERUNG
            - PB_VERSICHERUNG
            - PENKA
            - PILOT
            - POSTBANK
            - PROVINZIAL_NW
            - PROVINZIAL_RHEINLAND
            - PROVINZIAL_RHEINLAND_RATENSCHUTZ
            - PSD_BANK_KIEL_EIGEN
            - PSD_KIEL_EIGEN
            - PSD_BERLIN
            - PSD_BERLIN_RATENKREDIT
            - PSD_BRAUNSCHWEIG
            - PSD_BRAUNSCHWEIG_RATENKREDIT
            - PSD_HANNOVER
            - PSD_HANNOVER_RATENKREDIT
            - PSD_HESSEN_THUERINGEN
            - PSD_HESSEN_THUERINGEN_RATENKREDIT
            - PSD_KARLSRUHE_NEUSTADT
            - PSD_KARLSRUHE_BEV
            - PSD_KARLSRUHE_NEUSTADT_RATENKREDIT
            - PSD_KIEL
            - PSD_KIEL_RATENKREDIT
            - PSD_KOBLENZ
            - PSD_KOBLENZ_RATENKREDIT
            - PSD_KOELN
            - PSD_KOELN_RATENKREDIT
            - PSD_MUENCHEN
            - PSD_MUENCHEN_RATENKREDIT
            - PSD_MUSTERBANK
            - PSD_NIEDERBAYERN_OBERPFALZ
            - PSD_NORD
            - PSD_NORD_FILIALE
            - PSD_NORD_RATENKREDIT
            - PSD_NUERNBERG
            - PSD_RHEINNECKARSAAR
            - PSD_RHEINNECKARS_BEV
            - PSD_RHEINNECKARSAAR_RATENKREDIT
            - PSD_RHEINRUHR
            - PSD_RHEINRUHR_RATENKREDIT
            - PSD_TESTBANK
            - PSD_WESTFALEN_LIPPE
            - PSD_WESTFALEN_LIPPE_RATENKREDIT
            - R_UND_V_ALLGEMEINE_VERSICHERUNG
            - R_UND_V_LEBENSVERSICHERUNG
            - R_UND_V_VERSICHERUNG
            - RAIBA_ALTDORF_ERG
            - RAIBA_ARNSTORF
            - RAIBA_ASCHAFFENBURG
            - RAIBA_ASCHBERG
            - RAIBA_BAD_BRAMSTEDT
            - RAIBA_BAD_WINDSHEIM
            - RAIBA_BARGTEHEIDE
            - RAIBA_BAUNATAL
            - RAIBA_BIBERACH
            - RAIBA_BIBERTGRUND
            - RAIBA_ESSENBACH
            - RAIBA_GRAEFENBERG
            - RAIBA_GRIESSTAETT
            - RAIBA_HANDEWITT
            - RAIBA_HEILSBRONN_WIN
            - RAIBA_HESSENNORD
            - RAIBA_IM_OBERLAND
            - RAIBA_KIRCHHEIM_WALHEIM
            - RAIBA_KOCHER_JAGST
            - RAIBA_KRAICHGAU
            - RAIBA_LAUENBURG
            - RAIBA_LOISACHTAL
            - RAIBA_MUENCHEN_SUED
            - RAIBA_MUTLANGEN
            - RAIBA_NUEDLINGEN
            - RAIBA_OLDENBURG
            - RAIBA_OLDENBURG_A
            - RAIBA_PLANKSTETTEN
            - RAIBA_RATZEBURG
            - RAIBA_RAVENSBURG
            - RAIBA_RIED
            - RAIBA_ROSENSTEIN
            - RAIBA_SCHWABEN_MITTE
            - RAIBA_SIMMERATH
            - RAIBA_STRAUBING
            - RAIBA_SUEDSTORMARN
            - RAIBA_TANNHAUSEN
            - RAIBA_WEISSENBURG
            - RAIBA_WESERMARSCH
            - RAIBA_ZORNEDING
            - RAIFFEISEN_MEINEBANK
            - RB_ALTDORF_FEUCHT
            - RB_AUGSBURGERL_WEST
            - RB_BAD_KOETZTING
            - RB_IM_KREIS_CALW
            - RB_KISSING_MERING
            - RB_NEUMARKT_I_D_OPF
            - RB_WERRATAL_LANDECK
            - RBS
            - RDS_BANK
            - RHEINGAUER_VB
            - RHEINLAND_VERSICHERUNGEN
            - RHOEN_RENNSTG_SPK
            - RIMAXX
            - ROSTOCKER_VR_BANK
            - RV_AURICH
            - RV_RHEIN_HAARDT
            - SAALE_SPK
            - SAALFELD_RUDOLSTADT
            - SAB
            - SABADELL
            - SANTANDER_BANK
            - SANTANDER_CARCREDIT
            - SANTANDER_CARCREDIT_RATENKREDIT
            - SANTANDER_CONSUMER_BANK
            - SANTANDER_CONSUMER_BANK_RATENKREDIT
            - SANTANDER_ES
            - SANTANDER_EXTVERTR
            - SANTANDER_INSURANCE_LIFE
            - SBK_RHEINSTETTEN
            - SEB_LUXEMBURG
            - SIGNAL_IDUNA
            - SIGNAL_IDUNA_BAUSPAR
            - SKB_HARDT
            - SKG_BANK
            - SKG_BANK_RATENKREDIT
            - SMAVA
            - SPARDA_AUGSBURG
            - SPARDA_AUGSBURG_BEV
            - SPARDA_BERLIN
            - SPARDA_BERLIN_EIGEN
            - SPARDA_BW
            - SPARDA_HAMBURG
            - SPARDA_HANNOVER
            - SPARDA_HESSEN
            - SPARDA_HESSEN_BEV
            - SPARDA_MUENCHEN
            - SPARDA_MUENCHEN_VERM
            - SPARDA_MUENCHEN_TOP
            - SPARDA_MUENCHEN_TZ
            - SPARDA_MUENCHEN_VER
            - SPARDA_MUENSTER
            - SPARDA_NUERNBERG
            - SPARDA_NUERNBERG_BEV
            - SPARDA_OSTBAYERN_BEV
            - SPARDA_SUEDWEST
            - SPARDA_TEST
            - SPARDA_WEST
            - SPARDA_WEST_FILIALE
            - SPARDA_WEST_EIGENVER
            - SPIELBANK
            - SPK_AACHEN
            - SPK_AICHACH
            - SPK_ALTENBURGERLAND
            - SPK_ALTMARK_WEST
            - SPK_AM_NIEDERRHEIN
            - SPK_AMBERG_SULZBACH
            - SPK_AN_DER_LIPPE
            - SPK_ARNSBERG_SUND
            - SPK_ANSBACH
            - SPK_ARNSTADT_ILMENAU
            - SPK_AURICH_NORDEN
            - SPK_BAD_KISSINGEN
            - SPK_BAD_TOELZ
            - SPK_BAD_OEYNHAUSEN
            - SPK_BADEN_BADEN
            - SPK_BADHERSFELD
            - SPK_BARNIM
            - SPK_BARNIM_RATENKREDIT
            - SPK_BAYREUTH
            - SPK_BECKUM_WADERSLOH
            - SPK_BIELEFELD
            - SPK_BOCHUM
            - SPK_BODENSEE
            - SPK_BODENSEE_EV
            - SPK_BOTTROP
            - SPK_BRAUNSCHWEIG
            - SPK_BREMEN
            - SPK_BUEHL
            - SPK_BURBACH_NEUN
            - SPK_BURGENLANDKREIS
            - SPK_CELLE
            - SPK_CHEMNITZ
            - SPK_CHEMNITZ_RATENKREDIT
            - SPK_DEGGENDORF
            - SPK_DILLENBURG
            - SPK_DILLINGEN
            - SPK_DIREKT
            - SPK_DONNERSBERG
            - SPK_DORTMUND
            - SPK_DUEREN
            - SPK_DUISBURG
            - SPK_ELBE_ELSTER
            - SPK_ELMSHORN
            - SPK_EMSDETTEN
            - SPK_EMSLAND
            - SPK_ENNE_BRECKERFELD
            - SPK_ESSEN
            - SPK_FINNENTROP
            - SPK_FOERDE
            - SPK_FORCHHEIM
            - SPK_FRANKFURT
            - SPK_FREIBURG
            - SPK_FUERSTENFELDBRUCK
            - SPK_FUERTH
            - SPK_FUERTH_RATENKREDIT
            - SPK_FULDA
            - SPK_GELSENKIRCHEN
            - SPK_GERA_GREIZ
            - SPK_GERMERSHEIM
            - SPK_GESEKE
            - SPK_GEVELSBERG_WET
            - SPK_GIESSEN
            - SPK_GIFHORN
            - SPK_GLADBECK
            - SSK_GREBENSTEIN
            - SPK_GUETERSLOH
            - SPK_GUMMERSBACH
            - SPK_HAAN
            - SPK_HAGEN
            - SPK_HAMELNWESERBERG
            - SPK_HAMM
            - SPK_HANAU
            - SPK_HANNOVER
            - SPK_HARBURG_BUXTEHUDE
            - SPK_HASLACH_ZELL
            - SPK_HEGAUBODENSEE
            - SPK_HEIDELBERG
            - SPK_HEILBRONN
            - SPK_HERFORD
            - SPK_HILDEN_RATINGEN
            - SPK_HILDESHEIM
            - SPK_HOCHFRANKEN
            - SPK_HOCHRHEIN
            - SPK_HOCHSAUERLAND
            - SPK_HOCHSCHWARZWALD
            - SPK_HOCHSCHWARZWALD_RATENKREDIT
            - SPK_HOEXTER
            - SPK_HOLSTEIN
            - SPK_ISERLOHN
            - SPK_JENA_SAALE
            - SPK_JERICHOW
            - SPK_KARLSRUHE_ETTLINGEN
            - SPK_KIERSPE_MEINERZ
            - SPK_KLEVE
            - SPK_KOELN_BONN
            - SPK_KRAICHGAU
            - SPK_KREDITPARTNER
            - SPK_KREDITPARTNER_RATENKREDIT
            - SPK_KREFELD
            - SPK_KULMBACH_KR
            - SPK_LANDKREIS_CHAM
            - SPK_LANDSBERGDIESSEN
            - SPK_LANDSHUT
            - SPK_LANGEN_SELIGENSTADT
            - SPK_LEERWITTMUND
            - SPK_LEIPZIG
            - SPK_LEIPZIG_RATENKREDIT
            - SPK_LEMGO
            - SPK_LEVERKUSEN
            - SPK_LIPPSTADT
            - SPK_LK_SCHWANDORF
            - SPK_LOERRACH
            - SPK_LUEBECK
            - SPK_LUEDENSCHEID
            - SPK_LUENEBURG
            - SPK_MAERK_SAUERLAND
            - SPK_MAERKISCH_ODERLAND
            - SPK_MAIN_WUERZ
            - SPK_MANSFELD_SUEDHARZ
            - SPK_MANSFELD_SUEDHARZ_RATENKREDIT
            - SPK_MARKGRAEFL
            - SPK_MECKLBSTRELITZ
            - SPK_MECKLENBURG_NORDWEST
            - SPK_MECKLENBURG_SCHWERIN
            - SPK_MEISSEN
            - SPK_MEISSEN_RATENKREDIT
            - SPK_MILTEN
            - SPK_MINDEN_LUEBBECKE
            - SPK_MITTELBRB_ST
            - SPK_MITTELBRB_TEST
            - SPK_MITTELHOLSTEIN
            - SPK_MITTELSACHSEN
            - SPK_MITTELTHUERINGEN
            - SPK_MUELHEIM
            - SPK_MUENSTERLAND_OST
            - SPK_MUERITZ
            - SPK_MULDENTAL
            - SPK_MULDENTAL_RATENKREDIT
            - SPK_MUSTER_ZWEI
            - SPK_NASPA
            - SPK_NBRANDBG_D
            - SPK_NECKARTAL_ODENWA
            - SPK_NEUBURGRAIN
            - SPK_NEU_ULM
            - SPK_NEUMARKT
            - SPK_NEUSS
            - SPK_NEUWIED
            - SPK_NIEDERLAUSITZ
            - SPK_NIENBURG
            - SPK_NUERNBERG
            - SPK_OBERHESSEN
            - SPK_OBERLAUSITZ_N
            - SPK_OBERPFALZ_NORD
            - SPK_ODER_SPREE
            - SPK_OFFENBACH
            - SPK_OFFENBURG_ORT
            - SPK_OLDENBURG
            - SPK_OLPE
            - SPK_OSNABRUECK
            - SPK_OSTPRIGNITZ
            - SPK_PADERBORN_DET
            - SPK_PARCHIM
            - SPK_PASSAU
            - SPK_PFORZHEIM_CALW
            - SPK_PRIGNITZ
            - SPK_RADEVORMWALD
            - SPK_REGENSBURG
            - SPK_RHEIN_NECKAR_N
            - SPK_ROSENHEIM_BAD
            - SPK_ROTENBURG_BRV
            - SPK_ROTTAL_INN
            - SPK_RUEGEN
            - SPK_SAARBRUECKEN
            - SPK_SALEM_HEILIGENB
            - SPK_SALZLAND
            - SPK_SALZLAND_EV
            - SPK_SCHAUMBURG
            - SPK_SCHEESSEL
            - SPK_SCHWARZWALD_BAAR
[...]
