openapi: 3.0.1
info:
  title: Kundenangaben API
  description: Diese Schnittstelle erlaubt das Importieren von Kundenangaben in einen
    neuen Vorgang auf der Europace Plattform.
  termsOfService: https://docs.api.europace.de/nutzungsbedingungen/
  contact:
    name: Europace AG
    url: http://developer.europace.de
    email: devsupport@europace2.de
  version: 1.4.14; 80e26f7a4660d08ee1342560616fb2077f680475
externalDocs:
  url: https://developer.europace.de/api/baufismart-kundenangaben-api
servers:
- url: https://baufinanzierung.api.europace.de
  description: Produktionsserver
tags:
- name: Import
  description: Kundenangaben in einen neuen Vorgang importieren
- name: Get
  description: Kundenangaben für einen bestehenden Vorgang laden
- name: Update
  description: Kundenangaben in einem bestehenden Vorgang überschreiben
paths:
  /kundenangaben/{vorgangsnummer}:
    get:
      tags:
      - Get
      - Kundenangaben
      summary: Kundenangaben für einen bestehenden Vorgang laden
      description: Kundenangaben werden aus einem bestehenden Vorgang geladen.
      operationId: getKundenangaben
      parameters:
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
      - name: X-TraceId
        $ref: '#/components/parameters/tracingIdParam'
      - name: vorgangsnummer
        in: path
        required: true
        schema:
          type: string
      responses:
        "503":
          $ref: '#/components/responses/ServiceNotAvailable'
        "404":
          $ref: '#/components/responses/NotFound'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "403":
          $ref: '#/components/responses/Forbidden'
        "200":
          description: Kundenangaben für einen bestehenden Vorgang
          headers:
            X-TraceId:
              $ref: '#/components/headers/tracingIdHeader'
              style: simple
          content:
            application/json;version=1.0:
              schema:
                $ref: '#/components/schemas/Kundenangaben'
        "409":
          $ref: '#/components/responses/Conflict'
        "400":
          $ref: '#/components/responses/BadRequest'
      security:
      - oAuth2:
        - baufinanzierung:vorgang:lesen
    put:
      tags:
      - Update
      - Kundenangaben
      summary: Kundenangaben in einem bestehenden Vorgang überschreiben
      description: Kundenangaben werden in BaufiSmart in einem bestehenden Vorgang
        überschrieben.
      operationId: updateKundenangaben
      parameters:
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
      - name: X-TraceId
        $ref: '#/components/parameters/tracingIdParam'
      - name: vorgangsnummer
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;version=1.0:
            schema:
              $ref: '#/components/schemas/UpdateKundenangabenRequest'
        required: true
      responses:
        "503":
          $ref: '#/components/responses/ServiceNotAvailable'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "403":
          $ref: '#/components/responses/Forbidden'
        "204":
          description: Kundenangaben in einem bestehenden Vorgang überschrieben
          headers:
            X-TraceId:
              $ref: '#/components/headers/tracingIdHeader'
              style: simple
        "409":
          $ref: '#/components/responses/Conflict'
        "400":
          $ref: '#/components/responses/BadRequest'
      security:
      - oAuth2:
        - baufinanzierung:vorgang:schreiben
  /kundenangaben:
    post:
      tags:
      - Import
      - Kundenangaben
      summary: Kundenangaben in einen neuen Vorgang importieren
      description: "Kundenangaben werden in BaufiSmart in einen neuen Vorgang importiert.\
        \ Der Scope `baufinanzierung:echtgeschaeft`wird benötigt, wenn der Datenkontext\
        \ `ECHT_GESCHAEFT` gewählt wird."
      operationId: importKundenangaben
      parameters:
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
      - name: X-TraceId
        $ref: '#/components/parameters/tracingIdParam'
      requestBody:
        content:
          application/json;version=1.0:
            schema:
              $ref: '#/components/schemas/ImportKundenangabenRequest'
        required: true
      responses:
        "503":
          $ref: '#/components/responses/ServiceNotAvailable'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "201":
          description: Kundenangaben in neuen Vorgang importiert
          headers:
            X-TraceId:
              $ref: '#/components/headers/tracingIdHeader'
              style: simple
          content:
            application/json;version=1.0:
              schema:
                $ref: '#/components/schemas/KundenangabenImportResponse'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/Conflict'
        "400":
          $ref: '#/components/responses/BadRequest'
      security:
      - oAuth2:
        - baufinanzierung:vorgang:schreiben
        - baufinanzierung:echtgeschaeft
  /kundenangaben/body-validation:
    post:
      tags:
      - Import
      - Kundenangaben
      summary: "Kundenangaben validieren, jedoch NICHT in einen neuen Vorgang importieren"
      description: "Kundenangaben werden empfangen und validiert. Es wird jedoch KEIN\
        \ Vorgang in BaufiSmart erzeugt. Der Scope `baufinanzierung:echtgeschaeft`wird\
        \ benötigt, wenn der Datenkontext `ECHT_GESCHAEFT` gewählt wird."
      operationId: importKundenangabenBodyValidation
      parameters:
      - name: Authorization
        in: header
        description: Authorization Bearer Token
        required: true
        schema:
          type: string
      - name: X-TraceId
        $ref: '#/components/parameters/tracingIdParam'
      requestBody:
        content:
          application/json;version=1.0:
            schema:
              $ref: '#/components/schemas/ImportKundenangabenRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json;version=1.0:
              schema:
                $ref: '#/components/schemas/KundenangabenImportResponse'
      security:
      - oAuth2:
        - baufinanzierung:vorgang:schreiben
        - baufinanzierung:echtgeschaeft
components:
  schemas:
    AbloesungBestehendesDarlehen:
      type: object
      properties:
        referenzIdAbzuloesendesDarlehen:
          type: string
          description: ReferenzId des abzuloesenden bestehenden Darlehens des Finanzierungsobjektes.
            (Nicht von bestehenden Immobilien.)
        sondertilgungZumZinsbindungsende:
          type: number
          format: double
        referenzIdFinanzierungsbaustein:
          type: string
          description: "ReferenzId des Finanzierungsbausteins, welches das bestehende\
            \ Darlehen des Finanzierungsobjektes ablösen soll."
      description: Ablösung eines bestehenden Darlehens des Finanzierungsobjektes.
        (Nicht von bestehenden Immobilien.)
    AbsicherungUndVorsorgePraeferenz:
      type: object
      properties:
        praeferenz:
          type: string
          enum:
          - VORHANDENE_PRUEFEN
          - VORHANDENE_NICHT_PRUEFEN
          - NICHT_VORHANDEN_BERATEN
          - NICHT_VORHANDEN_NICHT_BERATEN
          - UNBEDEUTEND
          - KEINE_PRAEFERENZ
        kommentar:
          type: string
    AbtretenAlsVerwendung:
      type: object
      allOf:
      - $ref: '#/components/schemas/LiquidierbareZusatzsicherheitVerwendung'
      - type: object
        properties:
          kommentar:
            type: string
    AbzugZurWerteanpassung:
      type: object
      properties:
        betrag:
          type: number
          format: double
        grund:
          type: string
    AllgemeineWertermittlungGenopace:
      type: object
      properties:
        restnutzungsdauerInJahren:
          type: integer
          format: int32
        abzugZurWerteanpassung:
          $ref: '#/components/schemas/AbzugZurWerteanpassung'
        sicherheitsabschlag:
          type: number
          format: double
        eigennutzungsfaehigkeit:
          type: boolean
        stellplatz:
          type: number
          format: double
        carport:
          type: number
          format: double
        garage:
          type: number
          format: double
        tiefgarage:
          type: number
          format: double
    AndereAusweisart:
      type: object
      allOf:
      - $ref: '#/components/schemas/Ausweisart'
      - type: object
        properties:
          typ:
            type: string
    Angestellter:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          beschaeftigungsverhaeltnis:
            $ref: '#/components/schemas/Beschaeftigungsverhaeltnis'
          beschaeftigungsstatus:
            type: string
            enum:
            - UNBEFRISTET
            - BEFRISTET
    Annuitaetendarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
          darlehensbetrag:
            type: number
            format: double
          annuitaetendetails:
            $ref: '#/components/schemas/Annuitaetendetails'
          bereitstellungszinsfreieZeitInMonaten:
            type: integer
            format: int32
          kundenreferenzIdDerRiesterGefoerdertenPerson:
            type: string
            description: ReferenzId des Kunden bei Riesterförderung.
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
    Annuitaetendetails:
      type: object
      properties:
        zinsbindungInJahren:
          type: integer
          format: int32
        tilgungswunsch:
          $ref: '#/components/schemas/Tilgungswunsch'
        sondertilgungJaehrlich:
          type: number
          description: Angabe in Prozent.
          format: double
        auszahlungszeitpunkt:
          type: string
          format: date
    AnpassungenNachBelWertV:
      type: object
      properties:
        beleihungswertangaben:
          $ref: '#/components/schemas/BeleihungswertangabenGenopace'
        sachwertErmittlung:
          $ref: '#/components/schemas/SachwertErmittlungGenopace'
        ertragswertErmittlung:
          $ref: '#/components/schemas/ErtragswertErmittlungGenopace'
        begruendungFuerAenderungen:
          type: string
    Anschlussfinanzierung:
      type: object
      description: "Bitte Felder 'zuBeschaffendesKapital' und  'modernisierung' nicht\
        \ mehr verwenden. Falls mitgeschickt, werden die Angaben in die Felder 'zuBeschaffendesKapitalErfassung'\
        \ und 'modernisierungskostenErfassung' kopiert, falls 'zuBeschaffendesKapitalErfassung'\
        \ und 'modernisierungskostenErfassung' leer sind."
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          bereitsBeglicheneKosten:
            type: number
            format: double
          modernisierung:
            $ref: '#/components/schemas/Modernisierungskosten'
          modernisierungskostenErfassung:
            $ref: '#/components/schemas/ModernisierungskostenErfassung'
          zuBeschaffendesKapital:
            $ref: '#/components/schemas/KommentierterBetrag'
          zuBeschaffendesKapitalErfassung:
            $ref: '#/components/schemas/ZuBeschaffendesKapitalErfassung'
          marktwertFinanzierungsobjekt:
            type: number
            format: double
          abloesungDarlehenDesFinanzierungsobjektes:
            type: array
            description: Ablösung der bestehenden Darlehen des Finanzierungsobjektes.
              (Nicht von bestehenden Immobilien.)
            items:
              $ref: '#/components/schemas/AbloesungBestehendesDarlehen'
          rangruecktrittDarlehenDesFinanzierungsobjektes:
            type: array
            description: Rangrücktritt nicht abzulösender bestehender Darlehen des
              Finanzierungsobjektes. (Nicht von bestehenden Immobilien.)
            items:
              $ref: '#/components/schemas/RangruecktrittBestehendesDarlehen'
    Anschrift:
      type: object
      properties:
        strasse:
          type: string
        hausnummer:
          type: string
        plz:
          pattern: "\\d{5}"
          type: string
          description: "Postleitzahlen, die nicht aus fünf Ziffern bestehen werden\
            \ ignoriert."
          example: "10557"
        ort:
          type: string
    Arbeiter:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          beschaeftigungsverhaeltnis:
            $ref: '#/components/schemas/Beschaeftigungsverhaeltnis'
          beschaeftigungsstatus:
            type: string
            enum:
            - UNBEFRISTET
            - BEFRISTET
    Arbeitgeber:
      type: object
      properties:
        name:
          type: string
        inDeutschland:
          type: boolean
        inDeutschlandKommentar:
          type: string
    Arbeitserlaubnis:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: ArbeitserlaubnisVorhanden, KeineArbeitserlaubnis"
      discriminator:
        propertyName: '@type'
        mapping:
          ARBEITSERLAUBNIS_VORHANDEN: '#/components/schemas/ArbeitserlaubnisVorhanden'
          KEINE_ARBEITSERLAUBNIS: '#/components/schemas/KeineArbeitserlaubnis'
    ArbeitserlaubnisVorhanden:
      type: object
      allOf:
      - $ref: '#/components/schemas/Arbeitserlaubnis'
      - type: object
        properties:
          befristetBis:
            type: string
            format: date
    Arbeitsloser:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
    Aufenthalt:
      type: object
      properties:
        inDeutschlandSeit:
          type: string
          format: date
        aufenthaltstitel:
          oneOf:
          - $ref: '#/components/schemas/Aufenthaltserlaubnis'
          - $ref: '#/components/schemas/DaueraufenthaltEu'
          - $ref: '#/components/schemas/Niederlassungserlaubnis'
          - $ref: '#/components/schemas/Visum'
    Aufenthaltserlaubnis:
      type: object
      allOf:
      - $ref: '#/components/schemas/Aufenthaltstitel'
      - type: object
        properties:
          befristetBis:
            type: string
            format: date
          arbeitserlaubnis:
            $ref: '#/components/schemas/Arbeitserlaubnis'
    Aufenthaltstitel:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Visum, Aufenthaltserlaubnis, Niederlassungserlaubnis,\
        \ DaueraufenthaltEu"
      discriminator:
        propertyName: '@type'
        mapping:
          VISUM: '#/components/schemas/Visum'
          AUFENTHALTSERLAUBNIS: '#/components/schemas/Aufenthaltserlaubnis'
          NIEDERLASSUNGSERLAUBNIS: '#/components/schemas/Niederlassungserlaubnis'
          DAUERAUFENTHALT_EU: '#/components/schemas/DaueraufenthaltEu'
    AufloesungAlsVerwendung:
      type: object
      allOf:
      - $ref: '#/components/schemas/LiquidierbareVerwendung'
      - type: object
        properties:
          maximalEinzusetzenderBetrag:
            type: number
            format: double
          kommentar:
            type: string
      - $ref: '#/components/schemas/LiquidierbareZusatzsicherheitVerwendung'
    Ausweisart:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Personalausweis, Reisepass, AndereAusweisart"
      discriminator:
        propertyName: '@type'
        mapping:
          PERSONALAUSWEIS: '#/components/schemas/Personalausweis'
          REISEPASS: '#/components/schemas/Reisepass'
          ANDERE_AUSWEISART: '#/components/schemas/AndereAusweisart'
    BankUndSparguthaben:
      type: object
      properties:
        guthaben:
          type: number
          format: double
        zinsertragJaehrlich:
          type: number
          format: double
        verwendung:
          oneOf:
          - $ref: '#/components/schemas/AufloesungAlsVerwendung'
          - $ref: '#/components/schemas/KeineVerwendung'
    Bankverbindung:
      type: object
      properties:
        iban:
          type: string
        bic:
          type: string
        kundenreferenzIdsDerKontoinhaber:
          type: array
          description: "Kontoinhaberliste mit ReferenzIds der Kunden, falls zutreffend."
          items:
            type: string
            description: "Kontoinhaberliste mit ReferenzIds der Kunden, falls zutreffend."
        nameKontoinhaberKeinKunde:
          type: string
          description: Name des von den Kunden abweichenden Kontoinhabers.
    Baugrundstueck:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          grundstuecksart:
            type: string
            enum:
            - UNBEBAUTES_WOHNGRUNDSTUECK
            - UNBEBAUTES_MISCHGRUNDSTUECK
            - UNBEBAUTES_GEWERBEGRUNDSTUECK
            - LANDWIRTSCHAFTLICHES_GRUNDSTUECK
            - SONSTIGES_GRUNDSTUECK
    Bauspardarlehen:
      type: object
      description: Für leer gelassene Parameter werden automatisch Vorschläge berechnet.
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          kundenreferenzIdsDerVertragspartner:
            type: array
            description: Liste von ReferenzIds der Kunden.
            items:
              type: string
              description: Liste von ReferenzIds der Kunden.
          abschlussgebuehrmodus:
            type: string
            enum:
            - SOFORTZAHLUNG
            - VERRECHNUNG
          verwendung:
            type: string
            enum:
            - FREI_BESPAREN
            - ABTRETEN
          tarifListe:
            type: array
            items:
              type: string
              enum:
              - BKM_MAX_PREMIUM_OPTIMAL
              - BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE
              - BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG
              - BKM_MAX_PREMIUM_BESTER_ZINS
              - BKM_HAUS_PLUS_OPTIMAL
              - BKM_HAUS_PLUS_NIEDRIGE_SPARRATE
              - BKM_HAUS_PLUS_NIEDRIGE_TILGUNG
              - BKM_HAUS_PLUS_BESTER_ZINS
              - BKM_ZINS_PLUS_2_BONUS
              - BKM_ZINS_PLUS_3_BONUS
              - BKM_HAUS_PLUS_WAHLZUTEILUNG
              - FUCHS_IMMO_1
              - FUCHS_IMMO_1_PLUS
              - FUCHS_IMMO_2
              - FUCHS_IMMO_3
              - FUCHS_IMMO_4
              - FUCHS_IMMO_5
              - FUCHS_IMMO_6
              - FUCHS_IMMO_7
              - FUCHS_ECO_XE
              - FUCHS_ECO_XT
              - FUCHS_IMMO_WP
              - FUCHS_IMMO_WS
              - FUCHS_IMMO_XL
              - FUCHS_IMMO_XP
              - FUCHS_IMMO_XS
              - FUCHS_START_XX
              - FUCHS_START_XY
              - LBS_BAYERN_T4_PLUS
              - LBS_BAYERN_T4_PLUS_RIESTER
              - LBS_BAYERN_T5_PLUS
              - LBS_BAYERN_T5_PLUS_RIESTER
              - LBS_BAYERN_T6_PLUS
              - LBS_BAYERN_T6_PLUS_RIESTER
              - LBS_BAYERN_T8
              - LBS_BAYERN_T8_RIESTER
              - LBS_BAYERN_T5
              - LBS_BAYERN_T5_RIESTER
              - LBS_BAYERN_U4_PLUS
              - LBS_BAYERN_U4_PLUS_RIESTER
              - LBS_BAYERN_U5_PLUS
              - LBS_BAYERN_U5_PLUS_RIESTER
              - LBS_BAYERN_U6_PLUS
              - LBS_BAYERN_U6_PLUS_RIESTER
              - LBS_BAYERN_U8
              - LBS_BAYERN_U8_RIESTER
              - LBS_BAYERN_U9
              - LBS_BAYERN_U9_RIESTER
              - LBS_BAYERN_U5
              - LBS_BAYERN_U5_RIESTER
              - LBS_BAYERN_W4
              - LBS_BAYERN_W4_RIESTER
              - LBS_BAYERN_W6
              - LBS_BAYERN_W6_RIESTER
              - LBS_BAYERN_W9
              - LBS_BAYERN_W4_X30
              - LBS_BAYERN_W4_X35
              - LBS_BAYERN_W4_X40
              - LBS_BAYERN_WF
              - LBS_BAYERN_WU
              - LBS_BAYERN_Z35
              - LBS_BAYERN_Z35_RIESTER
              - LBS_BAYERN_Z5
              - LBS_BAYERN_Z5_RIESTER
              - LBS_BAYERN_Z8
              - LBS_BAYERN_ZF
              - LBS_BAYERN_ZF_X45
              - LBS_BAYERN_ZF_X45_RIESTER
              - LBS_BAYERN_ZF_X40
              - LBS_BAYERN_ZF_X40_RIESTER
              - LBS_BAYERN_ZF_X35
              - LBS_BAYERN_ZF_X35_RIESTER
              - LBS_HT_CLASSIC_S_2015
              - LBS_HT_CLASSIC_F_2015
              - LBS_HT_CLASSIC_L_2015
              - LBS_HT_CLASSIC_N_2015
              - LBS_HT_HOME_M
              - LBS_HT_HOME_L
              - LBS_HT_HOME_XL
              - LBS_HT_COMFORT_S
              - LBS_HT_COMFORT_N
              - LBS_HT_FLEX
              - LBS_NORD_N_STARTER_S4
              - LBS_NORD_N_STARTER_Q5
              - LBS_NORD_N_STARTER_S5
              - LBS_NORD_N_STARTER_S6
              - LBS_NORD_N_FINANZIERER_F3
              - LBS_NORD_N_FINANZIERER_F4
              - LBS_NORD_N_FINANZIERER_F5
              - LBS_NORD_N_FINANZIERER_F6
              - LBS_NORD_N_FINANZIERER_F7
              - LBS_NORD_N_FINANZIERER_MEINZUHAUSE
              - LBS_NORD_N_MODERNISIERER_MINIZINS
              - LBS_NORD_N_MODERNISIERER_M8
              - LBS_NORD_N_MODERNISIERER_MX
              - LBS_OST_CLASSIC15_F5
              - LBS_OST_CLASSIC_F15_F5
              - LBS_OST_CLASSIC_F_H4
              - LBS_OST_CLASSIC_F_H5
              - LBS_OST_CLASSIC_12_C4
              - LBS_OST_CLASSIC_12_C9
              - LBS_OST_CLASSIC15_F3
              - LBS_OST_CLASSIC15_F4
              - LBS_OST_CLASSIC15_F6
              - LBS_OST_CLASSIC15_F8
              - LBS_OST_CLASSIC15_PLUS_F
              - LBS_OST_CLASSIC15_PLUS_S
              - LBS_OST_VARIO_FLEX
              - LBS_OST_CLASSIC20_F3
              - LBS_OST_CLASSIC20_F8
              - LBS_OST_CLASSIC20_PLUS_F
              - LBS_OST_FLEX_22
              - LBS_OST_KOMFORT_22
              - LBS_OST_SPRINT_22
              - LBS_OST_KONSTANT30_V095
              - LBS_OST_KONSTANT30_V110
              - LBS_OST_KONSTANT30_V130
              - LBS_OST_KONSTANT30_V150
              - LBS_OST_KONSTANT30_V170
              - LBS_OST_KONSTANT30_V190
              - LBS_OST_KONSTANT30_V210
              - LBS_OST_KONSTANT30_V230
              - LBS_OST_KONSTANT30_V250
              - LBS_OST_KONSTANT30_V270
              - LBS_OST_KONSTANT30_V290
              - LBS_SHH_PRIMUS_SC
              - LBS_SHH_PRIMUS_SD
              - LBS_SHH_PRIMUS_SH
              - LBS_SHH_PRIMUS_SI
              - LBS_SHH_PRIMUS_SJ
              - LBS_SHH_TREND_SD
              - LBS_SHH_PRIMUS_TC
              - LBS_SHH_PRIMUS_TH
              - LBS_SHH_PRIMUS_TI
              - LBS_SHH_PRIMUS_TJ
              - LBS_SHH_PRIMUS_TD
              - LBS_SHH_TREND_TD
              - LBS_SHH_CLASSIC_TRAUMHAUS
              - LBS_WEST_ZUHAUSE_DIREKT_10
              - LBS_WEST_ZUHAUSE_DIREKT_15
              - LBS_WEST_ZUHAUSE_PLUS
              - LBS_WEST_ZUHAUSE_FLEX_4_S
              - LBS_WEST_ZUHAUSE_FLEX_4_L
              - LBS_WEST_ZUHAUSE_FLEX_5_S
              - LBS_WEST_ZUHAUSE_FLEX_5_L
              - LBS_WEST_ZUHAUSE_FLEX_6_S
              - LBS_WEST_ZUHAUSE_FLEX_6_L
              - LBS_WEST_ZUHAUSE_FLEX_8_S
              - LBS_WEST_ZUHAUSE_FLEX_8_L
              - LBS_WEST_ZUHAUSE_PRIMA
              - LBS_WEST_ZUHAUSE_PRIMA_10
              - LBS_WEST_ZUHAUSE_FLEX_4
              - LBS_WEST_ZUHAUSE_FLEX_5
              - LBS_WEST_ZUHAUSE_FLEX_6
              - LBS_WEST_ZUHAUSE_FLEX_8
              - LBS_WEST_ZUHAUSE_YOUNG
              - LBS_WEST_ZUHAUSE_SPEZIAL
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_10
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_15
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_PLUS
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_L
              - LBS_WEST_RIESTER_ZUHAUSE_SPEZIAL
              - LBS_WEST_RIESTER_KONSTANT_35
              - LBS_WEST_RIESTER_KONSTANT_40
              - LBS_WEST_RIESTER_KONSTANT_50
              - LBS_WEST_KONSTANT_35
              - LBS_WEST_KONSTANT_40
              - LBS_WEST_KONSTANT_50
              - LBS_WEST_RIESTER_KONSTANT_35_ANGEBOT
              - LBS_WEST_RIESTER_KONSTANT_40_ANGEBOT
              - LBS_WEST_RIESTER_KONSTANT_50_ANGEBOT
              - LBS_WEST_KONSTANT_35_ANGEBOT
              - LBS_WEST_KONSTANT_40_ANGEBOT
              - LBS_WEST_KONSTANT_50_ANGEBOT
              - LBS_SUEDWEST_KLASSIK_PLUS_2018
              - LBS_SUEDWEST_LANGZEIT_PLUS_2019
              - LBS_SUEDWEST_KLASSIK_PLUS_2020
              - LBS_SUEDWEST_STANDARD_PLUS_2018
              - LBS_SUEDWEST_LANGZEIT_PLUS_SPEZIAL
              - LBS_SUEDWEST_NIEDRIGZINS
              - LBS_SUEDWEST_ZUKUNFT_PLUS
              - LBS_SAAR_PREMIUM_FLEX_18
              - LBS_SAAR_PREMIUM_SICHER_18
              - LBS_SAAR_PREMIUM_TOP_18
              - LBS_SAAR_EXTRA_GUENSTIG_18
              - LBS_SAAR_EXTRA_SICHER_18
              - LBS_SAAR_EXTRA_SPEZIAL_18
              - LBS_SAAR_CLASSIC_21_ZUHAUSE
              - LBS_SAAR_FINANZIERER_20_ZUHAUSE
              - LBS_SAAR_FINANZIERER_25_ZUHAUSE
              - LBS_SAAR_FINANZIERER_30_ZUHAUSE
              - LBS_SAAR_FINANZIERER_KONSTANT_ZUHAUSE
              - LBS_SAAR_MODERNISIERER_ZUHAUSE
              - LBS_SAAR_KLIMAFIT_ZUHAUSE
              - LBS_SAAR_EINSTEIGER
              - SIGNAL_IDUNA_FREIRAUM_F_35
              - SIGNAL_IDUNA_FREIRAUM_F_35_16
              - SIGNAL_IDUNA_FREIRAUM_F_45
              - SIGNAL_IDUNA_FREIRAUM_F_45_16
              - SIGNAL_IDUNA_FREIRAUM_F_60
              - SIGNAL_IDUNA_FREIRAUM_F_30_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_30_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_35_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_35_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_40_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_40_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_45_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_45_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_50_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_60_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_30
              - SIGNAL_IDUNA_FREIRAUM_F_30_16
              - SIGNAL_IDUNA_FREIRAUM_F_40
              - SIGNAL_IDUNA_FREIRAUM_F_40_16
              - SIGNAL_IDUNA_FREIRAUM_F_50
              - SIGNAL_IDUNA_FREIRAUM_F_50_16
              - BHW_TARIF_FI1
              - BHW_TARIF_FI2
              - BHW_TARIF_FI3
              - BHW_TARIF_FI4
              - BHW_TARIF_FX1
              - BHW_TARIF_FX2
              - BHW_TARIF_REN
              - BHW_TARIF_FI1N
              - BHW_TARIF_FI2N
              - BHW_TARIF_FX1N
              - BHW_TARIF_FX2N
              - DT_RING_TARIF_FT
              - DT_RING_TARIF_FT_0
              - DT_RING_TARIF_FT_1
              - DT_RING_TARIF_FT_2
              - DT_RING_TARIF_XT_1
              - DT_RING_TARIF_XT_0
              - DT_RING_TARIF_F_1
              - DT_RING_TARIF_F_5
              - DT_RING_TARIF_F_7
              - ALTE_LEIPZIGER_1502
              - ALTE_LEIPZIGER_1602
              - ALTE_LEIPZIGER_1702
              - ALTE_LEIPZIGER_1802
              - ALTE_LEIPZIGER_1902
              - ALTE_LEIPZIGER_2002
              - ALTE_LEIPZIGER_1502_MZ
              - ALTE_LEIPZIGER_1602_MZ
              - ALTE_LEIPZIGER_1702_MZ
              - ALTE_LEIPZIGER_1802_MZ
              - ALTE_LEIPZIGER_1902_MZ
              - ALTE_LEIPZIGER_2002_MZ
              - ALTE_LEIPZIGER_1503
              - ALTE_LEIPZIGER_1603
              - ALTE_LEIPZIGER_1703
              - ALTE_LEIPZIGER_1803
              - ALTE_LEIPZIGER_1903
              - ALTE_LEIPZIGER_2003
              - ALTE_LEIPZIGER_1503_MZ
              - ALTE_LEIPZIGER_1603_MZ
              - ALTE_LEIPZIGER_1703_MZ
              - ALTE_LEIPZIGER_1803_MZ
              - ALTE_LEIPZIGER_1903_MZ
              - ALTE_LEIPZIGER_2003_MZ
              - ALTE_LEIPZIGER_150X
              - ALTE_LEIPZIGER_160X
              - ALTE_LEIPZIGER_170X
              - ALTE_LEIPZIGER_180X
              - ALTE_LEIPZIGER_190X
              - ALTE_LEIPZIGER_200X
              - ALTE_LEIPZIGER_150X_MZ
              - ALTE_LEIPZIGER_160X_MZ
              - ALTE_LEIPZIGER_170X_MZ
              - ALTE_LEIPZIGER_180X_MZ
              - ALTE_LEIPZIGER_190X_MZ
              - ALTE_LEIPZIGER_200X_MZ
              - ALTE_LEIPZIGER_ZG_21XX_20
              - ALTE_LEIPZIGER_ZG_21XX_30
              - ALTE_LEIPZIGER_ZG_25XX_49
              - ALTE_LEIPZIGER_21XX_27
              - ALTE_LEIPZIGER_21XX_20
              - ALTE_LEIPZIGER_21XX_33
              - ALTE_LEIPZIGER_21XX
              - ALTE_LEIPZIGER_25XX_30
              - ALTE_LEIPZIGER_25XX_45
              - ALTE_LEIPZIGER_22XX_33
              - ALTE_LEIPZIGER_22XX_27
              - ALTE_LEIPZIGER_22XX_20
              - ALTE_LEIPZIGER_22XX
              - ALTE_LEIPZIGER_26XX_30
              - ALTE_LEIPZIGER_26XX_45
              - WUESTENROT_01063_4
              - WUESTENROT_01063_5
              - WUESTENROT_01063_6
              - WUESTENROT_01063_7
              - WUESTENROT_01063_8
              - WUESTENROT_01063_9
              - WUESTENROT_01063_10
              - WUESTENROT_01063_12
              - WUESTENROT_01064_4
              - WUESTENROT_01064_6
              - WUESTENROT_01064_8
              - WUESTENROT_01064_10
              - WUESTENROT_01064_12
              - WUESTENROT_01061_10
              - WUESTENROT_01062_4
              - WUESTENROT_01061_10_0000
              - WUESTENROT_01062_04_0000
              - WUESTENROT_01063_05_3585
              - WUESTENROT_01063_07_5110
              - WUESTENROT_01063_09_0000
              - WUESTENROT_01064_10_0000
              - WUESTENROT_01064_04_0000
              - WUESTENROT_01064_04_5000
              - WUESTENROT_01064_05_4121
              - WUESTENROT_01064_06_0000
              - WUESTENROT_01064_07_5161
              - WUESTENROT_01064_09_0000
              - WUESTENROT_01073_04_5000
              - WUESTENROT_01073_05_9000
              - WUESTENROT_01073_08_0000
              - WUESTENROT_01076_05_8633
              - WUESTENROT_01076_07_9872
              - WUESTENROT_01076_08_0000
              - WUESTENROT_01077_04_0000
              - WUESTENROT_01077_04_7000
              - WUESTENROT_01077_06_3000
              - WUESTENROT_01077_07_5000
              - WUESTENROT_01077_06_2500
              - WUESTENROT_01077_07_9648
              - WUESTENROT_01077_08_0000
              - WUESTENROT_01074_10_0000
              - WUESTENROT_01075_03_5000
              - WUESTENROT_01079_04_0000
              - WUESTENROT_01079_04_5000
              - WUESTENROT_01078_04_0000
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI1
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI2
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI3
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI4
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FX1
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FX2
          wunschparameter:
            maxItems: 4
            minItems: 0
            type: array
            description: Pro Art des Wunschparameters darf maximal ein Eintrag vorhanden
              sein.
            items:
              $ref: '#/components/schemas/BauspardarlehenWunschparameter'
          sonderzahlungen:
            type: array
            items:
              $ref: '#/components/schemas/Sonderzahlung'
          riesterzulagenverwendung:
            type: string
            enum:
            - SONDERZAHLUNG
            - VERRECHNUNG
    BauspardarlehenWunschparameter:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: " Mögliche Typen: Sparbeginn, Bausparsumme, MonatlicherSparbeitrag,\
        \ Zuteilungszeitpunkt"
      discriminator:
        propertyName: '@type'
        mapping:
          SPARBEGINN: '#/components/schemas/Sparbeginn'
          BAUSPARSUMME: '#/components/schemas/Bausparsumme'
          MONATLICHER_SPARBEITRAG: '#/components/schemas/MonatlicherSparbeitrag'
          ZUTEILUNGSZEITPUNKT: '#/components/schemas/Zuteilungszeitpunkt'
    Bausparsumme:
      type: object
      allOf:
      - $ref: '#/components/schemas/BauspardarlehenWunschparameter'
      - type: object
        properties:
          betrag:
            type: number
            format: double
    BausparvertragAlsVermoegen:
      type: object
      properties:
        angesparterBetrag:
          type: number
          format: double
        bausparkasse:
          type: string
          enum:
          - AACHENER_BAUSPARKASSE
          - ALTE_LEIPZIGER_BAUSPAR
          - ALTE_LEIPZIGER_BAUSPAR_RATENKREDIT
          - BAUSPARKASSE_MAINZ
          - BAUSPARKASSE_SCHWAEBISCH_HALL
          - BHW
          - BSQ_BAUSPAR
          - DEBEKA_BAUSPARKASSE
          - DEUTSCHE_BANK_BAUSPAR
          - BADENIA
          - DEUTSCHER_RING
          - LBS_BAYERN
          - LBS_NORD
          - LBS_BREMEN
          - LBS_HESSEN_THUERINGEN
          - LBS_SCHLESWIG_HOLSTEIN_HAMBURG
          - LBS_RHEINLAND_PFALZ
          - LBS_WEST
          - LBS_OST
          - LBS_SAAR
          - LBS_SUEDWEST
          - LBS_BADEN_WUERTTEMBERG
          - SIGNAL_IDUNA
          - SIGNAL_IDUNA_BAUSPAR
          - WUESTENROT
        vertragsnummer:
          type: string
        tarif:
          type: string
        vertragsbeginn:
          type: string
          format: date
        jahresentgelt:
          type: number
          format: double
        sparbeitragMonatlich:
          type: number
          format: double
        bausparsumme:
          type: number
          format: double
        zuteilungsdatum:
          type: string
          format: date
        verwendung:
          oneOf:
          - $ref: '#/components/schemas/AbtretenAlsVerwendung'
          - $ref: '#/components/schemas/AufloesungAlsVerwendung'
          - $ref: '#/components/schemas/KeineVerwendung'
      description: In anderen APIs als 'bestehenderBausparvertrag' bezeichnet.
    Beamter:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          beschaeftigungsverhaeltnis:
            $ref: '#/components/schemas/Beschaeftigungsverhaeltnis'
    Beleihungswertangaben:
      type: object
      properties:
        marktueblicherKaufpreisProQm:
          type: number
          format: double
        keinBaulandFlaeche:
          minimum: 0
          type: number
          format: double
        bodenrichtwert:
          type: number
          format: double
        wohnlage:
          type: string
          enum:
          - GEHOBEN
          - MITTEL
          - EINFACH
        kubatur:
          minimum: 0
          type: number
          format: double
        vergleichsmieteFuerWohnflaecheProQm:
          type: number
          format: double
        vergleichsmieteFuerGewerbeflaecheProQm:
          type: number
          format: double
    BeleihungswertangabenGenopace:
      type: object
      properties:
        allgemeineWertermittlung:
          $ref: '#/components/schemas/AllgemeineWertermittlungGenopace'
        erbbaurecht:
          $ref: '#/components/schemas/ErbbaurechtGenopace'
    BereitstellungszinsfreieZeitPraeferenz:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: DarlehensbetragBenoetigtKurzNachDarlehensvertrag,\
        \ InMonaten, NochNichtFestgelegt, KeineBereitstellungszinsfreieZeitPraeferenz"
      discriminator:
        propertyName: '@type'
        mapping:
          DARLEHENSBETRAG_BENOETIGT_KURZ_NACH_DARLEHENSVERTRAG: '#/components/schemas/DarlehensbetragBenoetigtKurzNachDarlehensvertrag'
          IN_MONATEN: '#/components/schemas/InMonaten'
          NOCH_NICHT_FESTGELEGT: '#/components/schemas/NochNichtFestgelegt'
          KEINE_BEREITSTELLUNGSZINSFREIE_ZEIT_PRAEFERENZ: '#/components/schemas/KeineBereitstellungszinsfreieZeitPraeferenz'
    Beschaeftigung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Arbeitsloser, HaushaltendePerson, Angestellter,\
        \ Arbeiter, Beamter, Selbststaendiger, Freiberufler, Rentner"
      discriminator:
        propertyName: '@type'
        mapping:
          ARBEITSLOSER: '#/components/schemas/Arbeitsloser'
          HAUSHALTENDE_PERSON: '#/components/schemas/HaushaltendePerson'
          ANGESTELLTER: '#/components/schemas/Angestellter'
          ARBEITER: '#/components/schemas/Arbeiter'
          BEAMTER: '#/components/schemas/Beamter'
          SELBSTSTAENDIGER: '#/components/schemas/Selbststaendiger'
          FREIBERUFLER: '#/components/schemas/Freiberufler'
          RENTNER: '#/components/schemas/Rentner'
    Beschaeftigungsverhaeltnis:
      type: object
      properties:
        arbeitgeber:
          $ref: '#/components/schemas/Arbeitgeber'
        probezeit:
          type: boolean
        anzahlGehaelterProJahr:
          type: string
          enum:
          - ZWOELF
          - ZWOELF_EINHALB
          - DREIZEHN
          - DREIZEHN_EINHALB
          - VIERZEHN
          - VIERZEHN_EINHALB
          - FUENFZEHN
        beschaeftigtSeit:
          type: string
          format: date
    BestandteileDerFinanzierungPraeferenz:
      type: object
      properties:
        praeferenz:
          type: string
          enum:
          - UNKOMPLIZIERTE_FINANZIERUNG
          - WEITERE_PRODUKTE_WILLKOMMEN
          - OEFFENTLICHE_FOERDERUNGEN
          - KONKRETE_VORSTELLUNGEN
          - KEINE_PRAEFERENZ
        kommentar:
          type: string
    BestehendeDarlehenDesFinanzierungsobjektesErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandeneBestehendeDarlehenDesFinanzierungsobjektes,\
        \ KeineBestehendeDarlehenDesFinanzierungsobjektes"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENE_BESTEHENDE_DARLEHEN_DES_FINANZIERUNGSOBJEKTES: '#/components/schemas/VorhandeneBestehendeDarlehenDesFinanzierungsobjektes'
          KEINE_BESTEHENDE_DARLEHEN_DES_FINANZIERUNGSOBJEKTES: '#/components/schemas/KeineBestehendeDarlehenDesFinanzierungsobjektes'
    BestehendeDarlehenErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandeneBestehendeDarlehen, KeineBestehendenDarlehen"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENE_BESTEHENDE_DARLEHEN: '#/components/schemas/VorhandeneBestehendeDarlehen'
          KEINE_BESTEHENDEN_DARLEHEN: '#/components/schemas/KeineBestehendenDarlehen'
    BestehendeImmobilie:
      type: object
      properties:
        bezeichnung:
          type: string
        immobilie:
          $ref: '#/components/schemas/Immobilie'
        darlehensliste:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/BestehendesBauspardarlehen'
            - $ref: '#/components/schemas/BestehendesFoerderdarlehen'
            - $ref: '#/components/schemas/BestehendesImmobiliendarlehen'
            - $ref: '#/components/schemas/BestehendesPrivatdarlehen'
            - $ref: '#/components/schemas/BestehendesSonstigesDarlehen'
        darlehenslisteErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeineBestehendenDarlehen'
          - $ref: '#/components/schemas/VorhandeneBestehendeDarlehen'
        marktwert:
          type: number
          format: double
        kommentar:
          type: string
        einsatz:
          type: string
          enum:
          - KEIN_EINSATZ
          - VERKAUFEN
          - ALS_ZUSATZSICHERHEIT
        maximalEinzusetzenderBetragBeiVerkauf:
          type: number
          format: double
      description: "Bitte Feld 'darlehensliste' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'darlehenslisteErfassung' kopiert, falls 'darlehenslisteErfassung'\
        \ leer ist."
    BestehendeImmobilienErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandeneBestehendeImmobilien, KeineBestehendenImmobilien"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENE_BESTEHENDE_IMMOBILIEN: '#/components/schemas/VorhandeneBestehendeImmobilien'
          KEINE_BESTEHENDEN_IMMOBILIEN: '#/components/schemas/KeineBestehendenImmobilien'
    BestehendesBauspardarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesDarlehen:
      required:
      - '@type'
      type: object
      properties:
        darlehensgeber:
          oneOf:
          - $ref: '#/components/schemas/ProduktanbieterDarlehensgeber'
          - $ref: '#/components/schemas/SonstigerDarlehensgeber'
        grundschuld:
          type: number
          format: double
        darlehensbetrag:
          type: number
          format: double
        rateMonatlich:
          type: number
          format: double
        sollzins:
          type: number
          format: double
        zinsbindungBis:
          type: string
          format: date
        laufzeitende:
          type: string
          format: date
        restschuld:
          $ref: '#/components/schemas/Restschuld'
        darlehenskontonummer:
          type: string
          description: IBAN des Darlehenskontos
        '@type':
          type: string
      description: "Mögliche Typen: BestehendesImmobiliendarlehen, BestehendesBauspardarlehen,\
        \ BestehendesFoerderdarlehen, BestehendesPrivatdarlehen, BestehendesSonstigesDarlehen"
      discriminator:
        propertyName: '@type'
        mapping:
          BESTEHENDES_IMMOBILIENDARLEHEN: '#/components/schemas/BestehendesImmobiliendarlehen'
          BESTEHENDES_BAUSPARDARLEHEN: '#/components/schemas/BestehendesBauspardarlehen'
          BESTEHENDES_FOERDERDARLEHEN: '#/components/schemas/BestehendesFoerderdarlehen'
          BESTEHENDES_PRIVATDARLEHEN: '#/components/schemas/BestehendesPrivatdarlehen'
          BESTEHENDES_SONSTIGES_DARLEHEN: '#/components/schemas/BestehendesSonstigesDarlehen'
    BestehendesDarlehenDesFinanzierungsobjektes:
      required:
      - darlehen
      type: object
      properties:
        referenzId:
          type: string
          description: "Eindeutige Referenz-ID für dieses bestehende Darlehen des\
            \ Finanzierungsobjektes. Sie gilt nur innerhalb dieses Aufrufs, ist freiwä\
            hlbar und wird nicht abgespeichert. Auf sie wird beim (optionalen) Ablö\
            sen dieses Darlehens verwiesen."
        darlehen:
          oneOf:
          - $ref: '#/components/schemas/BestehendesBauspardarlehen'
          - $ref: '#/components/schemas/BestehendesFoerderdarlehen'
          - $ref: '#/components/schemas/BestehendesImmobiliendarlehen'
          - $ref: '#/components/schemas/BestehendesPrivatdarlehen'
          - $ref: '#/components/schemas/BestehendesSonstigesDarlehen'
    BestehendesFoerderdarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesImmobiliendarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesPrivatdarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
    BestehendesSonstigesDarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendesDarlehen'
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    Betrag:
      type: object
      allOf:
      - $ref: '#/components/schemas/Tippgeberprovision'
      - type: object
        properties:
          betrag:
            type: number
            format: double
    BisZumJahr:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          jahr:
            type: integer
            format: int32
          kommentar:
            type: string
    BisZurRenteImJahr:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          jahr:
            type: integer
            format: int32
          kommentar:
            type: string
    DarlehensbetragBenoetigtKurzNachDarlehensvertrag:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Darlehensgeber:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: SonstigerDarlehensgeber, ProduktanbieterDarlehensgeber"
      discriminator:
        propertyName: '@type'
        mapping:
          SONSTIGER_DARLEHENSGEBER: '#/components/schemas/SonstigerDarlehensgeber'
          PRODUKTANBIETER_DARLEHENSGEBER: '#/components/schemas/ProduktanbieterDarlehensgeber'
    DaueraufenthaltEu:
      type: object
      allOf:
      - $ref: '#/components/schemas/Aufenthaltstitel'
    Deadline:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZeitlicherRahmenPraeferenz'
      - type: object
        properties:
          zumDatum:
            type: string
            format: date
          kommentar:
            type: string
    Depotvermoegen:
      type: object
      properties:
        depotwert:
          type: number
          format: double
        verwendung:
          oneOf:
          - $ref: '#/components/schemas/AufloesungAlsVerwendung'
          - $ref: '#/components/schemas/KeineVerwendung'
    DerzeitNichtGeplant:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Doppelhaushaelfte:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          einliegerwohnungVorhanden:
            type: boolean
          nutzflaechen:
            $ref: '#/components/schemas/Nutzflaechen'
          fertighaus:
            type: boolean
    EffektivzinsErhoehendeKosten:
      type: object
      properties:
        wohngebaeudeversicherungskostenJaehrlich:
          type: number
          format: double
        grundbucheintragungskostenEinmalig:
          type: number
          format: double
        sonstigeKosten:
          $ref: '#/components/schemas/SonstigeEffektivzinsErhoehendeKosten'
      description: Anpassungen nach PAngV
    Eigengenutzt:
      type: object
      allOf:
      - $ref: '#/components/schemas/Nutzungsart'
    EigenleistungErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandeneEigenleistung, KeineEigenleistung"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENE_EIGENLEISTUNG: '#/components/schemas/VorhandeneEigenleistung'
          KEINE_EIGENLEISTUNG: '#/components/schemas/KeineEigenleistung'
    Eigentumswohnung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          miteigentumsanteil:
            $ref: '#/components/schemas/Miteigentumsanteil'
          anzahlDerWohneinheitenImObjekt:
            type: integer
            format: int32
          anzahlDerGewerbeeinheitenImObjekt:
            type: integer
            format: int32
          bezeichnungWohneinheit:
            type: string
    Einfamilienhaus:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
          einliegerwohnungVorhanden:
            type: boolean
          nutzflaechen:
            $ref: '#/components/schemas/Nutzflaechen'
          fertighaus:
            type: boolean
    EinkuenfteAusNebentaetigkeit:
      type: object
      properties:
        betragMonatlich:
          type: number
          format: double
        beginnDerTaetigkeit:
          type: string
          format: date
    EinmaligePraemienzahlung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Praemienzahlung'
      - type: object
        properties:
          absicherungsfinanzierungsweise:
            type: string
            enum:
            - DURCH_HAUPTDARLEHEN
            - INDIVIDUELL
    EnergieEffizienzAusweis:
      type: object
      properties:
        ausweistyp:
          type: string
          enum:
          - ENDENERGIEBEDARF
          - ENDENERGIEVERBRAUCH
        endEnergie:
          type: integer
          format: int32
        energieEffizienzklasse:
          type: string
          enum:
          - A_PLUS
          - A
          - B
          - C
          - D
          - E
          - F
          - G
          - H
    Erbbaurecht:
      type: object
      properties:
        erbbauzinsJaehrlich:
          type: number
          format: double
        grundstueckseigentuemer:
          type: string
          enum:
          - OEFFENTLICH_KIRCHLICH
          - ANDERE
        laufzeitBis:
          type: integer
          format: int32
      description: Bitte 'Erbbaurecht' nicht mehr verwenden. Ersetzt durch 'ErbbaurechtErfassung'
      deprecated: true
    ErbbaurechtErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandenesErbbaurecht, KeinErbbaurecht"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENES_ERBBAURECHT: '#/components/schemas/VorhandenesErbbaurecht'
          KEIN_ERBBAURECHT: '#/components/schemas/KeinErbbaurecht'
    ErbbaurechtGenopace:
      type: object
      properties:
        liegenschaftszins:
          type: number
          format: double
        gebaeudeEntschaedigungBeiAblauf:
          type: number
          format: double
    ErtragswertErmittlungGenopace:
      type: object
      properties:
        wohnwirtschaftlich:
          $ref: '#/components/schemas/ErtragswertErmittlungWohnwirtschaftlich'
        gewerblich:
          $ref: '#/components/schemas/ErtragswertErmittlungsangaben'
    ErtragswertErmittlungWohnwirtschaftlich:
      type: object
      properties:
        angaben:
          $ref: '#/components/schemas/ErtragswertErmittlungsangaben'
        bewirtschaftungskostenGarage:
          type: number
          format: double
        bewirtschaftungskostenStellplaetze:
          type: number
          format: double
    ErtragswertErmittlungsangaben:
      type: object
      properties:
        liegenschaftszins:
          type: number
          format: double
        kapitalisierungszins:
          type: number
          format: double
        verwaltungskosten:
          type: number
          format: double
        instandhaltungskosten:
          type: number
          format: double
        mietausfallwagnis:
          type: number
          format: double
        nichtUmlagefaehigeBetriebskosten:
          type: number
          format: double
        modernisierungsrisiko:
          type: number
          format: double
    EuroEinmalig:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          betrag:
            type: number
            format: double
          kommentar:
            type: string
    EuroJaehrlich:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          betrag:
            type: number
            format: double
          kommentar:
            type: string
    Familienstand:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Ledig, Verheiratet, Verwitwet, Geschieden, GetrenntLebend,\
        \ Lebenspartnerschaft"
      discriminator:
        propertyName: '@type'
        mapping:
          LEDIG: '#/components/schemas/Ledig'
          VERHEIRATET: '#/components/schemas/Verheiratet'
          VERWITWET: '#/components/schemas/Verwitwet'
          GESCHIEDEN: '#/components/schemas/Geschieden'
          GETRENNT_LEBEND: '#/components/schemas/GetrenntLebend'
          LEBENSPARTNERSCHAFT: '#/components/schemas/Lebenspartnerschaft'
    FinanzielleSituation:
      type: object
      properties:
        bestehendeImmobilien:
          type: array
          items:
            $ref: '#/components/schemas/BestehendeImmobilie'
        bestehendeImmobilienErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeineBestehendenImmobilien'
          - $ref: '#/components/schemas/VorhandeneBestehendeImmobilien'
        vermoegen:
          $ref: '#/components/schemas/Haushaltsvermoegen'
        einnahmen:
          $ref: '#/components/schemas/Haushaltseinnahmen'
        ausgaben:
          $ref: '#/components/schemas/Haushaltsausgaben'
        verbindlichkeiten:
          $ref: '#/components/schemas/Haushaltsverbindlichkeiten'
      description: "Bitte Feld 'bestehendeImmobilien' nicht mehr verwenden. Falls\
        \ mitgeschickt, werden die Angaben ins Feld 'bestehendeImmobilienErfassung'\
        \ kopiert, falls 'bestehendeImmobilienErfassung' leer ist."
    Finanzielles:
      type: object
      properties:
        steuerId:
          type: string
        beschaeftigung:
          oneOf:
          - $ref: '#/components/schemas/Angestellter'
          - $ref: '#/components/schemas/Arbeiter'
          - $ref: '#/components/schemas/Arbeitsloser'
          - $ref: '#/components/schemas/Beamter'
          - $ref: '#/components/schemas/Freiberufler'
          - $ref: '#/components/schemas/HaushaltendePerson'
          - $ref: '#/components/schemas/Rentner'
          - $ref: '#/components/schemas/Selbststaendiger'
        einkommenNetto:
          type: number
          format: double
        riesterangaben:
          $ref: '#/components/schemas/Riesterangaben'
    Finanzierungsbaustein:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Annuitaetendarlehen, Forwarddarlehen, Privatdarlehen,\
        \ Zwischenfinanzierung, VariablesDarlehen, Bauspardarlehen, KfwDarlehen"
      discriminator:
        propertyName: '@type'
        mapping:
          ANNUITAETENDARLEHEN: '#/components/schemas/Annuitaetendarlehen'
          FORWARDDARLEHEN: '#/components/schemas/Forwarddarlehen'
          PRIVATDARLEHEN: '#/components/schemas/Privatdarlehen'
          ZWISCHENFINANZIERUNG: '#/components/schemas/Zwischenfinanzierung'
          VARIABLES_DARLEHEN: '#/components/schemas/VariablesDarlehen'
          BAUSPARDARLEHEN: '#/components/schemas/Bauspardarlehen'
          KFW_DARLEHEN: '#/components/schemas/KfwDarlehen'
    Finanzierungsbedarf:
      type: object
      properties:
        finanzierungszweck:
          oneOf:
          - $ref: '#/components/schemas/Anschlussfinanzierung'
          - $ref: '#/components/schemas/Kapitalbeschaffung'
          - $ref: '#/components/schemas/Kauf'
          - $ref: '#/components/schemas/KaufNeubauVomBautraeger'
          - $ref: '#/components/schemas/ModernisierungUmbauAnbau'
          - $ref: '#/components/schemas/Neubau'
        beratungshonorar:
          type: number
          description: "Das Beratungshonorar, welches anstelle einer Provision zwischen\
            \ dem Kundenbetreuer und Kunden vereinbart wurde."
          format: double
        unbesicherteExterneDarlehen:
          type: array
          description: Als Eigenkapital. In anderen APIs als 'nachrangigesExternesDarlehen'
            bezeichnet.
          items:
            $ref: '#/components/schemas/UnbesichertesExternesDarlehen'
        praeferenzen:
          $ref: '#/components/schemas/Praeferenzen'
        finanzierungsbausteine:
          maxItems: 5
          minItems: 0
          type: array
          description: In anderen APIs im 'Finanzierungswunsch' zu finden.
          items:
            oneOf:
            - $ref: '#/components/schemas/Annuitaetendarlehen'
            - $ref: '#/components/schemas/Bauspardarlehen'
            - $ref: '#/components/schemas/Forwarddarlehen'
            - $ref: '#/components/schemas/KfwDarlehen'
            - $ref: '#/components/schemas/Privatdarlehen'
            - $ref: '#/components/schemas/VariablesDarlehen'
            - $ref: '#/components/schemas/Zwischenfinanzierung'
        ratenschutzbausteine:
          maxItems: 2
          minItems: 0
          type: array
          description: Absicherungswünsche in Form von Ratenschutzversicherungen.
            In anderen APIs im 'absicherungsWunsch' zu finden. Maximal ein Baustein
            je Kunde.
          items:
            $ref: '#/components/schemas/Ratenschutz'
      description: Der Finanzierungsbedarf beinhaltet alle relevanten Finanzierungsinformationen.
        In anderen APIs als 'Vorhaben' bezeichnet.
    Finanzierungsdetailspraeferenzen:
      type: object
      properties:
        zinsbindung:
          oneOf:
          - $ref: '#/components/schemas/FlexibelKurzfristigHandlungsfaehig'
          - $ref: '#/components/schemas/KeineZinsbindungPraeferenz'
          - $ref: '#/components/schemas/LangeZinssicherheit'
          - $ref: '#/components/schemas/ZinsbindungInJahren'
          - $ref: '#/components/schemas/Zinsbindungsspanne'
        laufzeit:
          oneOf:
          - $ref: '#/components/schemas/BisZumJahr'
          - $ref: '#/components/schemas/BisZurRenteImJahr'
          - $ref: '#/components/schemas/InJahren'
          - $ref: '#/components/schemas/KeineLaufzeitPraeferenz'
          - $ref: '#/components/schemas/MoeglichstSchnell'
        ratenhoehe:
          oneOf:
          - $ref: '#/components/schemas/KeineRatePraeferenz'
          - $ref: '#/components/schemas/MoeglichstNiedrigeRate'
          - $ref: '#/components/schemas/RateAlsBetrag'
          - $ref: '#/components/schemas/Ratenspanne'
          - $ref: '#/components/schemas/VerfuegbaresEinkommenAusschoepfen'
          - $ref: '#/components/schemas/WarmmieteVonHeute'
        tilgungssatzwechsel:
          oneOf:
          - $ref: '#/components/schemas/KeineTilgungssatzwechselPraeferenz'
          - $ref: '#/components/schemas/Mindestens'
          - $ref: '#/components/schemas/NichtEingeplantOderAbsehbar'
        sondertilgung:
          oneOf:
          - $ref: '#/components/schemas/DerzeitNichtGeplant'
          - $ref: '#/components/schemas/EuroEinmalig'
          - $ref: '#/components/schemas/EuroJaehrlich'
          - $ref: '#/components/schemas/KeineSondertilgungPraeferenz'
          - $ref: '#/components/schemas/ProzentJaehrlich'
        bereitstellungszinsfreieZeit:
          oneOf:
          - $ref: '#/components/schemas/DarlehensbetragBenoetigtKurzNachDarlehensvertrag'
          - $ref: '#/components/schemas/InMonaten'
          - $ref: '#/components/schemas/KeineBereitstellungszinsfreieZeitPraeferenz'
          - $ref: '#/components/schemas/NochNichtFestgelegt'
    Finanzierungsobjekt:
      type: object
      properties:
        immobilie:
          $ref: '#/components/schemas/Immobilie'
        darlehensliste:
          type: array
          items:
            $ref: '#/components/schemas/BestehendesDarlehenDesFinanzierungsobjektes'
        darlehenslisteErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeineBestehendeDarlehenDesFinanzierungsobjektes'
          - $ref: '#/components/schemas/VorhandeneBestehendeDarlehenDesFinanzierungsobjektes'
      description: "Bitte Feld 'darlehensliste' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'darlehenslisteErfassung' kopiert, falls 'darlehenslisteErfassung'\
        \ leer ist."
    Finanzierungszweck:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Der Finanzierungszweck zeigt an, wofür die gestellten Mittel verwendet\
        \ werden und wie der Bedarf zusammen gesetzt ist. Mögliche Typen: Neubau,\
        \ Kauf, KaufNeubauVomBautraeger, ModernisierungUmbauAnbau, Anschlussfinanzierung,\
        \ Kapitalbeschaffung"
      discriminator:
        propertyName: '@type'
        mapping:
          NEUBAU: '#/components/schemas/Neubau'
          KAUF: '#/components/schemas/Kauf'
          KAUF_NEUBAU_VOM_BAUTRAEGER: '#/components/schemas/KaufNeubauVomBautraeger'
          MODERNISIERUNG_UMBAU_ANBAU: '#/components/schemas/ModernisierungUmbauAnbau'
          ANSCHLUSSFINANZIERUNG: '#/components/schemas/Anschlussfinanzierung'
          KAPITALBESCHAFFUNG: '#/components/schemas/Kapitalbeschaffung'
    Flaechennutzung:
      type: object
      properties:
        gesamtflaeche:
          minimum: 0
          type: number
          format: double
        nutzungsart:
          $ref: '#/components/schemas/Nutzungsart'
    FlexibelKurzfristigHandlungsfaehig:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZinsbindungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Flurstueck:
      type: object
      properties:
        flur:
          type: string
        flurstueck:
          type: string
        anteil:
          $ref: '#/components/schemas/Miteigentumsanteil'
        groesse:
          minimum: 0
          type: number
          format: double
    Forwarddarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
          darlehensbetrag:
            type: number
            format: double
          annuitaetendetails:
            $ref: '#/components/schemas/Annuitaetendetails'
          provision:
            type: number
            description: Angabe in Prozent.
            format: double
    Freiberufler:
      type: object
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
          taetigkeit:
            $ref: '#/components/schemas/SelbststaendigeTaetigkeit'
    Gebaeude:
      type: object
      properties:
        baujahr:
          type: integer
          description: Beim Finanzierungsobjekt mit Finanzierungszweck NEUBAU oder
            KAUF_NEUBAU_VOM_BAUTRAEGER leer. Wird ggf gelöscht.
          format: int32
        bauweise:
          type: string
          enum:
          - MASSIV
          - HOLZ
          - GLAS_STAHL
          - FACHWERK_MIT_ZIEGELN
          - FACHWERK_MIT_STROH_LEHM
        anzahlGeschosse:
          type: integer
          format: int32
        zustand:
          type: string
          enum:
          - SEHR_GUT
          - GUT
          - MITTEL
          - MAESSIG
          - SCHLECHT
        ausstattung:
          type: string
          enum:
          - STARK_GEHOBEN
          - GEHOBEN
          - MITTEL
          - EINFACH
        nutzung:
          $ref: '#/components/schemas/Nutzung'
        modernisierung:
          $ref: '#/components/schemas/Modernisierung'
        modernisierungErfassung:
          $ref: '#/components/schemas/ModernisierungErfassung'
        energieEffizienzAusweis:
          $ref: '#/components/schemas/EnergieEffizienzAusweis'
      description: "Bitte Feld 'modernisierung' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'modernisierungErfassung' kopiert, falls 'modernisierungErfassung'\
        \ leer ist."
    Geschieden:
      type: object
      allOf:
      - $ref: '#/components/schemas/Familienstand'
    GetrenntLebend:
      type: object
      allOf:
      - $ref: '#/components/schemas/Familienstand'
      - type: object
        properties:
          guetertrennungVereinbart:
            type: boolean
            description: Wurde zwischen den Partnern Gütertrennung vereinbart
    GewerbeErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandenesGewerbe, KeinGewerbe"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENES_GEWERBE: '#/components/schemas/VorhandenesGewerbe'
          KEIN_GEWERBE: '#/components/schemas/KeinGewerbe'
    GirokontoPraeferenz:
      type: object
      properties:
        bestehendeGirokontenBeiBanken:
          type: array
          description: "Einige Darlehensgeber geben Zinsvorteile, wenn bereits ein\
            \ Girokonto besteht."
          items:
            type: string
            description: "Einige Darlehensgeber geben Zinsvorteile, wenn bereits ein\
              \ Girokonto besteht."
        wechselbereitZumDarlehensgeber:
          type: boolean
          description: "Einige Darlehensgeber geben Zinsvorteile, wenn mit Abschluss\
            \ der Finanzierung auch ein Girokonto eingerichtet wird."
      description: Sonderkonditionen für Girokonten.
    Grundbuchangabe:
      type: object
      properties:
        ort:
          type: string
        blatt:
          type: string
        amtsgericht:
          type: string
        flurstuecke:
          type: array
          items:
            $ref: '#/components/schemas/Flurstueck'
        rechteInAbteilung2:
          $ref: '#/components/schemas/RechteAbteilung2'
        anmerkungen:
          type: string
      description: Bitte 'Grundbuchangabe' nicht mehr verwenden. Ersetzt durch 'GrundbuchangabeErfassung'
      deprecated: true
    GrundbuchangabeErfassung:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: VorhandeneGrundbuchangabe, KeineGrundbuchangabe"
      discriminator:
        propertyName: '@type'
        mapping:
          VORHANDENE_GRUNDBUCHANGABE: '#/components/schemas/VorhandeneGrundbuchangabe'
          KEINE_GRUNDBUCHANGABE: '#/components/schemas/KeineGrundbuchangabe'
    Grundstueckskosten:
      type: object
      properties:
        grundstueckkaufpreis:
          type: number
          format: double
        grundstueckBereitsBezahlt:
          type: boolean
        erschliessungskosten:
          type: number
          format: double
    Haushalt:
      type: object
      properties:
        kunden:
          maxItems: 2
          minItems: 0
          type: array
          description: In anderen APIs als 'Antragsteller' bezeichnet.
          items:
            $ref: '#/components/schemas/Kunde'
        erfahrungImmobilienFinanzierung:
          type: boolean
        kinder:
          type: array
          items:
            $ref: '#/components/schemas/Kind'
        kinderErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeineKinder'
          - $ref: '#/components/schemas/VorhandeneKinder'
        finanzielleSituation:
          $ref: '#/components/schemas/FinanzielleSituation'
        zusatzangaben:
          $ref: '#/components/schemas/ZusatzangabenHaushalt'
      description: "Bitte Feld 'kinder' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'kinderErfassung' kopiert, falls 'kinderErfassung'\
        \ leer ist."
    HaushaltendePerson:
      type: object
      description: "Ein allgemeiner Begriff, der die Beschäftigungen 'Hausfrau' und\
        \ 'Hausmann' zusammenfasst."
      allOf:
      - $ref: '#/components/schemas/Beschaeftigung'
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: '#/components/schemas/SituationNachRenteneintritt'
    Haushaltsausgaben:
      type: object
      properties:
        summeMietausgaben:
          $ref: '#/components/schemas/Mietausgaben'
        summePrivaterKrankenversicherungenMonatlich:
          type: number
          format: double
        unterhaltsverpflichtungenMonatlich:
          type: array
          items:
            type: number
            format: double
        summeSonstigerVersicherungsausgabenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
        summeSonstigerAusgabenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
    Haushaltseinnahmen:
      type: object
      properties:
        summeEinkuenfteAusKapitalvermoegen:
          type: number
          description: In anderen APIs als 'dividende' unter 'wertpapiere'.
          format: double
        summeVariablerEinkuenfteMonatlich:
          type: number
          format: double
        einkuenfteAusNebentaetigkeit:
          type: array
          items:
            $ref: '#/components/schemas/EinkuenfteAusNebentaetigkeit'
        summeEhegattenunterhalt:
          type: number
          format: double
        summeUnbefristeteZusatzrentenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
        summeSonstigeEinnahmenMonatlich:
          $ref: '#/components/schemas/KommentierterBetrag'
    Haushaltsverbindlichkeiten:
      type: object
      properties:
        ratenkredite:
          maxItems: 3
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Verbindlichkeit'
        privatdarlehen:
          maxItems: 3
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Verbindlichkeit'
        sonstigeVerbindlichkeit:
          $ref: '#/components/schemas/Verbindlichkeit'
    Haushaltsvermoegen:
      type: object
      properties:
        summeBankUndSparguthaben:
          $ref: '#/components/schemas/BankUndSparguthaben'
        summeSparplaene:
          $ref: '#/components/schemas/Sparplaene'
        summeDepotvermoegen:
          $ref: '#/components/schemas/Depotvermoegen'
        bausparvertraege:
          type: array
          items:
            $ref: '#/components/schemas/BausparvertragAlsVermoegen'
        lebensOderRentenversicherungen:
          type: array
          items:
            $ref: '#/components/schemas/LebensOderRentenversicherung'
        summeSonstigesVermoegen:
          $ref: '#/components/schemas/SonstigesVermoegen'
    Immobilie:
      type: object
      properties:
        adresse:
          $ref: '#/components/schemas/Anschrift'
        typ:
          oneOf:
          - $ref: '#/components/schemas/Baugrundstueck'
          - $ref: '#/components/schemas/Doppelhaushaelfte'
          - $ref: '#/components/schemas/Eigentumswohnung'
          - $ref: '#/components/schemas/Einfamilienhaus'
          - $ref: '#/components/schemas/ImmobilieOhneTyp'
          - $ref: '#/components/schemas/Mehrfamilienhaus'
          - $ref: '#/components/schemas/Reihenhaus'
          - $ref: '#/components/schemas/Zweifamilienhaus'
        stellplaetze:
          type: array
          items:
            $ref: '#/components/schemas/Stellplatz'
        stellplaetzeErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeineStellplaetze'
          - $ref: '#/components/schemas/VorhandeneStellplaetze'
        erbbaurecht:
          $ref: '#/components/schemas/Erbbaurecht'
        erbbaurechtErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeinErbbaurecht'
          - $ref: '#/components/schemas/VorhandenesErbbaurecht'
        grundbuchangabe:
          $ref: '#/components/schemas/Grundbuchangabe'
        grundbuchangabeErfassung:
          oneOf:
          - $ref: '#/components/schemas/KeineGrundbuchangabe'
          - $ref: '#/components/schemas/VorhandeneGrundbuchangabe'
        zusatzangaben:
          $ref: '#/components/schemas/ZusatzangabenImmobilie'
      description: "Bitte Felder 'erbbaurecht', 'stellplaetze' und 'grundbuchangabe'\
        \ nicht mehr verwenden. Falls mitgeschickt, werden die Angaben in die Felder\
        \ '...Erfassung' kopiert, falls '...Erfassung' leer sind."
    ImmobilieOhneTyp:
      type: object
      allOf:
      - $ref: '#/components/schemas/Immobilientyp'
      - type: object
        properties:
          grundstuecksgroesse:
            minimum: 0
            type: number
            format: double
          gebaeude:
            $ref: '#/components/schemas/Gebaeude'
    Immobilientyp:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: Baugrundstueck, Eigentumswohnung, Doppelhaushaelfte,\
        \ Einfamilienhaus, Zweifamilienhaus, Mehrfamilienhaus, Reihenhaus, ImmobilieOhneTyp"
      discriminator:
        propertyName: '@type'
        mapping:
          BAUGRUNDSTUECK: '#/components/schemas/Baugrundstueck'
          EIGENTUMSWOHNUNG: '#/components/schemas/Eigentumswohnung'
          DOPPELHAUSHAELFTE: '#/components/schemas/Doppelhaushaelfte'
          EINFAMILIENHAUS: '#/components/schemas/Einfamilienhaus'
          ZWEIFAMILIENHAUS: '#/components/schemas/Zweifamilienhaus'
          MEHRFAMILIENHAUS: '#/components/schemas/Mehrfamilienhaus'
          REIHENHAUS: '#/components/schemas/Reihenhaus'
          IMMOBILIE_OHNE_TYP: '#/components/schemas/ImmobilieOhneTyp'
    InJahren:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          jahre:
            type: integer
            format: int32
          kommentar:
            type: string
    InMonaten:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          monate:
            type: integer
            format: int32
          kommentar:
            type: string
    IngBeleihungsobjekt:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: IngEigentumswohnung, IngHaus, IngGrundstueck"
      discriminator:
        propertyName: '@type'
        mapping:
          ING_EIGENTUMSWOHNUNG: '#/components/schemas/IngEigentumswohnung'
          ING_HAUS: '#/components/schemas/IngHaus'
          ING_GRUNDSTUECK: '#/components/schemas/IngGrundstueck'
    IngEigentumswohnung:
      type: object
      allOf:
      - $ref: '#/components/schemas/IngBeleihungsobjekt'
      - type: object
        properties:
          geschosslage:
            type: string
            enum:
            - UNTERGESCHOSS
            - ERDGESCHOSS
            - ERSTES_OBERGESCHOSS
            - ZWEITES_OBERGESCHOSS
            - DRITTES_BIS_FUENFTES_OBERGESCHOSS
            - AB_SECHSTES_OBERGESCHOSS
            - UNBEKANNT
          gebaude:
            $ref: '#/components/schemas/IngGebaeude'
    IngGebaeude:
      type: object
      properties:
        ausstattung:
          type: string
          enum:
          - STANDARD
          - GEHOBEN
          - UEBERDURCHSCHNITT
        kellerausbau:
          type: string
          description: "Wird ignoriert, wenn die Immobilie nicht unterkellert ist\
            \ (`Immobilie.typ.nutzflaechen`)"
          enum:
          - AUSGEBAUT
          - TEILWEISE_AUSGEBAUT
          - VORHANDEN
        aufzugVorhanden:
          type: boolean
        modernisierungsangaben:
          $ref: '#/components/schemas/IngModernisierungsangaben'
        modernisierung:
          $ref: '#/components/schemas/IngModernisierung'
        aufbaufinanzierung:
          type: boolean
          description: "Nur bei Neubau. Ja, falls das Grundstück bereits von ING finanziert\
            \ wurde und jetzt die Errichtung des Gebäudes finanziert werden soll.\
            \ Nein, falls Nachfinanzierung, oder das Grundstück hiermit mitfinanziert\
            \ wird, oder das Grundstück von einer anderen Bank finanziert wurde."
        kuerzlicheProlongation:
          type: boolean
          description: Nur bei Kapitalbeschaffung und einem bestehenden Darlehen bei
            ING. Wird andernfalls ignoriert.
    IngGrundstueck:
      type: object
      allOf:
      - $ref: '#/components/schemas/IngBeleihungsobjekt'
    IngHaus:
      type: object
      allOf:
      - $ref: '#/components/schemas/IngBeleihungsobjekt'
      - type: object
        properties:
          gebaude:
            $ref: '#/components/schemas/IngGebaeude'
    IngModernisierung:
      type: object
      properties:
        kernsanierung:
          $ref: '#/components/schemas/Kernsanierung'
        bodenWandTreppe:
          $ref: '#/components/schemas/IngModernisierungElement'
        heizungZentral:
          $ref: '#/components/schemas/IngModernisierungElement'
        fenster:
          $ref: '#/components/schemas/IngModernisierungElement'
        dach:
          $ref: '#/components/schemas/IngModernisierungElement'
        badWc:
          $ref: '#/components/schemas/IngModernisierungElement'
        stromAbwasserHeizkoerper:
          $ref: '#/components/schemas/IngModernisierungElement'
        waermedaemmung:
          $ref: '#/components/schemas/IngModernisierungElement'
        raumaufteilung:
          $ref: '#/components/schemas/IngModernisierungElement'
      description: "Alle Modernisierungen der letzten 15 Jahre, inklusive der neu\
        \ zu finanzierenden."
    IngModernisierungElement:
      type: object
      properties:
        modernisierungGrad:
          type: string
          description: Grad der Modernisierung
          enum:
          - TEILWEISE
          - KOMPLETT
        modernisiert:
          type: boolean
          description: "Gibt an, ob das Element modernisiert wurde"
      description: "Grundriss, Zimmergrößen"
    IngModernisierungsangaben:
      type: object
      properties:
        bodenWandTreppe:
          type: boolean
          description: "Bodenbeläge, Wandbekleidung oder Treppenhaus"
        heizungZentral:
          type: boolean
          description: "Brenner, ggf. Kessel"
        fenster:
          type: boolean
          description: Rahmen oder Isolierung
        dach:
          type: boolean
          description: Eindeckung oder Wärmedämmung
        badWc:
          type: boolean
          description: "Bäder und WCs, Fliesen oder Sanitärobjekte"
        stromAbwasserHeizkoerper:
          type: boolean
          description: "Strom, (Ab-) Wasser, Heizungsleitung oder Heizkörper"
        waermedaemmung:
          type: boolean
        raumaufteilung:
          type: boolean
          description: "Grundriss, Zimmergrößen"
      description: "Alle Modernisierungen der letzten 15 Jahre, inklusive der neu\
        \ zu finanzierenden."
    Kapitalbeschaffung:
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          zuBeschaffendesKapital:
            $ref: '#/components/schemas/KommentierterBetrag'
          marktwertFinanzierungsobjekt:
            type: number
            format: double
          rangruecktrittDarlehenDesFinanzierungsobjektes:
            type: array
            description: Rangrücktritt nicht abzulösender bestehender Darlehen des
              Finanzierungsobjektes. (Nicht von bestehenden Immobilien.)
            items:
              $ref: '#/components/schemas/RangruecktrittBestehendesDarlehen'
    Kauf:
      type: object
      description: "Bitte Feld 'modernisierung' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'modernisierungskostenErfassung' kopiert, falls\
        \ 'modernisierungskostenErfassung' leer ist."
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          weitereKosten:
            $ref: '#/components/schemas/WeitereKosten'
          nebenkosten:
            $ref: '#/components/schemas/Nebenkosten'
          kaufpreis:
            type: number
            format: double
          modernisierung:
            $ref: '#/components/schemas/Modernisierungskosten'
          modernisierungskostenErfassung:
            $ref: '#/components/schemas/ModernisierungskostenErfassung'
          rangruecktrittDarlehenDesFinanzierungsobjektes:
            type: array
            description: Rangrücktritt nicht abzulösender bestehender Darlehen des
              Finanzierungsobjektes. (Nicht von bestehenden Immobilien.)
            items:
              $ref: '#/components/schemas/RangruecktrittBestehendesDarlehen'
    KaufNeubauVomBautraeger:
      type: object
      description: "Bitte Feld 'eigenleistung' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'eigenleistungErfassung' kopiert, falls 'eigenleistungErfassung'\
        \ leer ist."
      allOf:
      - $ref: '#/components/schemas/Finanzierungszweck'
      - type: object
        properties:
          weitereKosten:
            $ref: '#/components/schemas/WeitereKosten'
          nebenkosten:
            $ref: '#/components/schemas/Nebenkosten'
          kaufpreis:
            type: number
            format: double
          anzahlTeilzahlungen:
            type: integer
            format: int32
          eigenleistung:
            type: number
            format: double
          eigenleistungErfassung:
            $ref: '#/components/schemas/EigenleistungErfassung'
          rangruecktrittDarlehenDesFinanzierungsobjektes:
            type: array
            description: Rangrücktritt nicht abzulösender bestehender Darlehen des
              Finanzierungsobjektes. (Nicht von bestehenden Immobilien.)
            items:
              $ref: '#/components/schemas/RangruecktrittBestehendesDarlehen'
    KeinErbbaurecht:
      type: object
      allOf:
      - $ref: '#/components/schemas/ErbbaurechtErfassung'
    KeinGewerbe:
      type: object
      allOf:
      - $ref: '#/components/schemas/GewerbeErfassung'
    KeinZeitdruck:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZeitlicherRahmenPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeinZuBeschaffendesKapital:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZuBeschaffendesKapitalErfassung'
    KeineArbeitserlaubnis:
      type: object
      allOf:
      - $ref: '#/components/schemas/Arbeitserlaubnis'
    KeineBereitstellungszinsfreieZeitPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/BereitstellungszinsfreieZeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineBestehendeDarlehenDesFinanzierungsobjektes:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendeDarlehenDesFinanzierungsobjektesErfassung'
    KeineBestehendenDarlehen:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendeDarlehenErfassung'
    KeineBestehendenImmobilien:
      type: object
      allOf:
      - $ref: '#/components/schemas/BestehendeImmobilienErfassung'
    KeineEigenleistung:
      type: object
      allOf:
      - $ref: '#/components/schemas/EigenleistungErfassung'
    KeineGrundbuchangabe:
      type: object
      allOf:
      - $ref: '#/components/schemas/GrundbuchangabeErfassung'
    KeineKinder:
      type: object
      allOf:
      - $ref: '#/components/schemas/KinderErfassung'
    KeineLaufzeitPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/LaufzeitPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineModernisierung:
      type: object
      allOf:
      - $ref: '#/components/schemas/ModernisierungErfassung'
    KeineModernisierungskosten:
      type: object
      allOf:
      - $ref: '#/components/schemas/ModernisierungskostenErfassung'
    KeineRatePraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/RatenhoehePraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineRechteAbteilung2:
      type: object
      allOf:
      - $ref: '#/components/schemas/RechteAbteilung2Erfassung'
    KeineSondertilgungPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/SondertilgungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineStellplaetze:
      type: object
      allOf:
      - $ref: '#/components/schemas/StellplaetzeErfassung'
    KeineStellplatzVermietung:
      type: object
      allOf:
      - $ref: '#/components/schemas/StellplatzVermietungErfassung'
    KeineTilgungssatzwechselPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/TilgungssatzwechselPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineVerwendung:
      type: object
      allOf:
      - $ref: '#/components/schemas/LiquidierbareVerwendung'
      - type: object
        properties:
          kommentar:
            type: string
      - $ref: '#/components/schemas/LiquidierbareZusatzsicherheitVerwendung'
    KeineWeitereStaatsangehoerigkeiten:
      type: object
      allOf:
      - $ref: '#/components/schemas/WeitereStaatsangehoerigkeitenErfassung'
    KeineZeitlicherRahmenPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZeitlicherRahmenPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    KeineZinsbindungPraeferenz:
      type: object
      allOf:
      - $ref: '#/components/schemas/ZinsbindungPraeferenz'
      - type: object
        properties:
          kommentar:
            type: string
    Kernsanierung:
      type: object
      properties:
        jahrDerModernisierung:
          type: integer
          format: int32
        kernsaniert:
          type: boolean
    KfwDarlehen:
      required:
      - darlehensbetrag
      - programm
      type: object
      allOf:
      - $ref: '#/components/schemas/Finanzierungsbaustein'
      - type: object
        properties:
          darlehensbetrag:
            type: number
            format: double
          kfwEndfaellig:
            type: string
            enum:
            - NEIN
            - ENDFAELLIG_BERECHNET
            - ENDFAELLIG_EIGENES_ANGEBOT
          tilgungswunsch:
            $ref: '#/components/schemas/Tilgungswunsch'
          programm:
            $ref: '#/components/schemas/KfwProgramm'
    KfwProgramm:
      required:
      - '@type'
      type: object
      properties:
        '@type':
          type: string
      description: "Mögliche Typen: KfwProgramm124, KfwProgramm151, KfwProgramm152,\
        \ KfwProgramm153, KfwProgramm159, KfwProgramm167, KfwProgramm261Neubau, KfwProgramm261Sanierung,\
        \ KfwProgramm262"
      discriminator:
        propertyName: '@type'
        mapping:
          KFW_PROGRAMM_124: '#/components/schemas/KfwProgramm124'
          KFW_PROGRAMM_151: '#/components/schemas/KfwProgramm151'
          KFW_PROGRAMM_152: '#/components/schemas/KfwProgramm152'
          KFW_PROGRAMM_153: '#/components/schemas/KfwProgramm153'
          KFW_PROGRAMM_159: '#/components/schemas/KfwProgramm159'
          KFW_PROGRAMM_167: '#/components/schemas/KfwProgramm167'
          KFW_PROGRAMM_261_NEUBAU: '#/components/schemas/KfwProgramm261Neubau'
          KFW_PROGRAMM_261_SANIERUNG: '#/components/schemas/KfwProgramm261Sanierung'
          KFW_PROGRAMM_262: '#/components/schemas/KfwProgramm262'
    KfwProgramm124:
      required:
      - laufzeitInJahren
      - tilgungsfreieAnlaufjahre
      - zinsbindungInJahren
      type: object
      description: "Wohneigentum Schaffen: Selbstgenutztes Eigentum (Programm-Nr.:\
        \ 124)"
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitInJahren:
            maximum: 25
            minimum: 1
            type: integer
            format: int32
          zinsbindungInJahren:
            type: integer
            description: 5 oder 10 Jahre
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3 oder 10 Jahre"
            format: int32
    KfwProgramm151:
      type: object
      description: "Energieeffizient Sanieren: Kauf oder Komplettsanierung (Programm-Nr.:\
        \ 151). Die Zinsbindung beträgt immer 10 Jahre. Wird zum 1. Juli 2021 eingestellt."
      deprecated: true
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3, 4, 5 oder 10 Jahre"
            format: int32
    KfwProgramm152:
      required:
      - laufzeitInJahren
      - tilgungsfreieAnlaufjahre
      type: object
      description: "Energieeffizient Sanieren: Einzelmaßnahmen (Programm-Nr.: 152).\
        \ Die Zinsbindung beträgt immer 10 Jahre. Wird zum 1. Juli 2021 eingestellt."
      deprecated: true
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3, 4, 5 oder 10 Jahre"
            format: int32
    KfwProgramm153:
      required:
      - laufzeitInJahren
      - tilgungsfreieAnlaufjahre
      - zinsbindungInJahren
      type: object
      description: "Energieeffizient Bauen: Effizienzhaus (Programm-Nr.: 153). Wird\
        \ zum 1. Juli 2021 eingestellt."
      deprecated: true
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          kfwEnergieEffizienzStandard:
            type: string
            enum:
            - STANDARD_40
            - STANDARD_40_PLUS
            - STANDARD_40_EEK
            - STANDARD_40_EEK_ONLY
            - STANDARD_40_NH
            - STANDARD_55
            - STANDARD_55_EEK
            - STANDARD_70
            - STANDARD_70_EEK
            - STANDARD_85
            - STANDARD_85_EEK
            - STANDARD_100
            - STANDARD_100_EEK
            - STANDARD_DENKMAL
            - STANDARD_DENKMAL_EEK
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          zinsbindungInJahren:
            type: integer
            description: 5 oder 10 Jahre
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3, 4, 5 oder 10 Jahre"
            format: int32
    KfwProgramm159:
      required:
      - tilgungsfreieAnlaufjahre
      type: object
      description: "Wohnraum Modernisieren: Altersgerecht Umbauen (Programm-Nr.: 159)"
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          zinsbindungInJahren:
            type: integer
            description: 5 oder 10 Jahre
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3, 4, 5 oder 10 Jahre"
            format: int32
    KfwProgramm167:
      required:
      - laufzeitUndZinsbindungInJahren
      - tilgungsfreieAnlaufjahre
      type: object
      description: "Energieeffizient Sanieren: Heizungsanlagen Erneuerbare Energien\
        \ (Programm-Nr.: 167). Die Laufzeit und Zinsbindung sind bei diesem Programmm\
        \ identisch. Wird zum 1. Juli 2021 eingestellt."
      deprecated: true
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          laufzeitUndZinsbindungInJahren:
            maximum: 10
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2 oder 10 Jahre"
            format: int32
    KfwProgramm261Neubau:
      type: object
      description: "Energieeffizient Bauen: bauen oder kaufen (Programm-Nr.: 261).\
        \ Die Zinsbindung beträgt immer 10 Jahre."
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          kfwEnergieEffizienzStandard:
            type: string
            description: "Erlaubte Werte sind: STANDARD_40_PLUS, STANDARD_40_EEK_ONLY,\
              \ STANDARD_40_NH, STANDARD_40, STANDARD_40_EEK, STANDARD_55, STANDARD_55_EEK"
            enum:
            - STANDARD_40
            - STANDARD_40_PLUS
            - STANDARD_40_EEK
            - STANDARD_40_EEK_ONLY
            - STANDARD_40_NH
            - STANDARD_55
            - STANDARD_55_EEK
            - STANDARD_70
            - STANDARD_70_EEK
            - STANDARD_85
            - STANDARD_85_EEK
            - STANDARD_100
            - STANDARD_100_EEK
            - STANDARD_DENKMAL
            - STANDARD_DENKMAL_EEK
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3, 4, 5 oder 10 Jahre"
            format: int32
    KfwProgramm261Sanierung:
      type: object
      description: "Energieeffizient Sanieren: sanieren oder ein frisch saniertes\
        \ Effizienzhaus kaufen (Programm-Nr.: 261). Die Zinsbindung beträgt immer\
        \ 10 Jahre."
      allOf:
      - $ref: '#/components/schemas/KfwProgramm'
      - type: object
        properties:
          kfwEnergieEffizienzStandard:
            type: string
            description: "Erlaubte Werte sind: STANDARD_40, STANDARD_40_EEK, STANDARD_55,\
              \ STANDARD_55_EEK, STANDARD_70, STANDARD_70_EEK, STANDARD_85, STANDARD_85_EEK,\
              \ STANDARD_100, STANDARD_100_EEK, STANDARD_DENKMAL, STANDARD_DENKMAL_EEK"
            enum:
            - STANDARD_40
            - STANDARD_40_PLUS
            - STANDARD_40_EEK
            - STANDARD_40_EEK_ONLY
            - STANDARD_40_NH
            - STANDARD_55
            - STANDARD_55_EEK
            - STANDARD_70
            - STANDARD_70_EEK
            - STANDARD_85
            - STANDARD_85_EEK
            - STANDARD_100
            - STANDARD_100_EEK
            - STANDARD_DENKMAL
            - STANDARD_DENKMAL_EEK
          kfwSanierungsFahrplanLiegtVor:
            type: boolean
          laufzeitInJahren:
            maximum: 30
            minimum: 4
            type: integer
            format: int32
          tilgungsfreieAnlaufjahre:
            type: integer
            description: "1, 2, 3, 4, 5 oder 10 Jahre"
            format: int32
    KfwProgramm262:
      type: object
[...]
