openapi: 3.0.1
info:
  contact:
    email: devsupport@europace2.de
    name: Europace AG
    url: http://developer.europace.de
  description: Diese Schnittstelle erlaubt das Importieren von Kundenangaben in einen
    neuen Vorgang auf der Europace Plattform.
  termsOfService: https://docs.api.europace.de/nutzungsbedingungen/
  title: Kundenangaben API
  version: 1.5.33; 7e3e3be526ad500b087be3788e101941d2ecb370
externalDocs:
  url: https://developer.europace.de/api/baufismart-kundenangaben-api
servers:
- description: Produktionsserver
  url: https://baufinanzierung.api.europace.de
tags:
- description: Kundenangaben in einen neuen Vorgang importieren
  name: Import
- description: Kundenangaben für einen bestehenden Vorgang laden
  name: Get
- description: Kundenangaben in einem bestehenden Vorgang überschreiben
  name: Update
paths:
  /kundenangaben:
    post:
      description: "Kundenangaben werden in BaufiSmart in einen neuen Vorgang importiert.\
        \ Der Scope `baufinanzierung:echtgeschaeft`wird benötigt, wenn der Datenkontext\
        \ `ECHT_GESCHAEFT` gewählt wird."
      operationId: importKundenangaben
      parameters:
      - description: Authorization Bearer Token
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/tracingIdParam"
        name: X-TraceId
      requestBody:
        content:
          application/json;version=1.0:
            schema:
              $ref: "#/components/schemas/ImportKundenangabenRequest"
        required: true
      responses:
        "201":
          content:
            application/json;version=1.0:
              schema:
                $ref: "#/components/schemas/KundenangabenImportResponse"
          description: Kundenangaben in neuen Vorgang importiert
          headers:
            X-TraceId:
              $ref: "#/components/headers/tracingIdHeader"
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      security:
      - oAuth2:
        - baufinanzierung:vorgang:schreiben
        - baufinanzierung:echtgeschaeft
      summary: Kundenangaben in einen neuen Vorgang importieren
      tags:
      - Import
      - Kundenangaben
  /kundenangaben/body-validation:
    post:
      description: "Kundenangaben werden empfangen und validiert. Es wird jedoch KEIN\
        \ Vorgang in BaufiSmart erzeugt. Der Scope `baufinanzierung:echtgeschaeft`wird\
        \ benötigt, wenn der Datenkontext `ECHT_GESCHAEFT` gewählt wird."
      operationId: importKundenangabenBodyValidation
      parameters:
      - description: Authorization Bearer Token
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/tracingIdParam"
        name: X-TraceId
      requestBody:
        content:
          application/json;version=1.0:
            schema:
              $ref: "#/components/schemas/ImportKundenangabenRequest"
        required: true
      responses:
        "200":
          content:
            application/json;version=1.0:
              schema:
                $ref: "#/components/schemas/KundenangabenImportResponse"
          description: OK
      security:
      - oAuth2:
        - baufinanzierung:vorgang:schreiben
        - baufinanzierung:echtgeschaeft
      summary: "Kundenangaben validieren, jedoch NICHT in einen neuen Vorgang importieren"
      tags:
      - Import
      - Kundenangaben
  /kundenangaben/{vorgangsnummer}:
    get:
      description: Kundenangaben werden aus einem bestehenden Vorgang geladen.
      operationId: getKundenangaben
      parameters:
      - description: Authorization Bearer Token
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/tracingIdParam"
        name: X-TraceId
      - in: path
        name: vorgangsnummer
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;version=1.0:
              schema:
                $ref: "#/components/schemas/Kundenangaben"
          description: Kundenangaben für einen bestehenden Vorgang
          headers:
            X-TraceId:
              $ref: "#/components/headers/tracingIdHeader"
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      security:
      - oAuth2:
        - baufinanzierung:vorgang:lesen
      summary: Kundenangaben für einen bestehenden Vorgang laden
      tags:
      - Get
      - Kundenangaben
    put:
      description: Kundenangaben werden in BaufiSmart in einem bestehenden Vorgang
        überschrieben.
      operationId: updateKundenangaben
      parameters:
      - description: Authorization Bearer Token
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/tracingIdParam"
        name: X-TraceId
      - in: path
        name: vorgangsnummer
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;version=1.0:
            schema:
              $ref: "#/components/schemas/UpdateKundenangabenRequest"
        required: true
      responses:
        "204":
          description: Kundenangaben in einem bestehenden Vorgang überschrieben
          headers:
            X-TraceId:
              $ref: "#/components/headers/tracingIdHeader"
              style: simple
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceNotAvailable"
      security:
      - oAuth2:
        - baufinanzierung:vorgang:schreiben
      summary: Kundenangaben in einem bestehenden Vorgang überschreiben
      tags:
      - Update
      - Kundenangaben
components:
  headers:
    tracingIdHeader:
      description: Eine eindeutige technische Id zur Identifikation des Requests
      schema:
        type: string
  parameters:
    tracingIdParam:
      description: Eine eindeutige technische Id zur Identifikation des Requests
      in: header
      name: X-TraceId
      schema:
        type: string
  responses:
    BadRequest:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/BadRequestProblem"
      description: Der Request hat ein fehlerhaftes Format oder der Datentyp eines
        Felds weicht von der Spezifikation ab.
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
    Conflict:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
      description: Kundenbetreuer oder Bearbeiter können nicht festgelegt werden.
        Die Ursache sind entweder fehlende Übernahmerechte oder eine nicht vorhandene
        Plakette
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
    Forbidden:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
      description: "Es fehlt die Berechtigung, um die Anfrage auszuführen"
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
    NotFound:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
      description: Es wurde kein Vorgang mit der angegebenen Vorgangsnummer gefunden
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
    ServiceNotAvailable:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
      description: Der Service kann den Request momentan nicht verarbeiten
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
    TooManyRequests:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
      description: Der Service wurde zu häufig hintereinander aufgerufen.
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
    Unauthorized:
      description: Die Authentifizierung ist fehlgeschlagen
      headers:
        WWW-Authenticate:
          description: "Weitere Informationen über die fehlgeschlagene Authentifizierung,\
            \ sofern vorhanden"
          schema:
            type: string
    UnprocessableEntity:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
      description: "Die Anfrage ist syntaktisch korrekt, allerdings können die enthaltenen\
        \ Daten nicht verarbeitet werden."
      headers:
        X-TraceId:
          description: Eine eindeutige technische Id zur Identifikation des Requests
          schema:
            type: string
  schemas:
    AbloesungBestehendesDarlehen:
      type: object
      description: Ablösung eines bestehenden Darlehens des Finanzierungsobjektes.
        (Nicht von bestehenden Immobilien.)
      properties:
        referenzIdAbzuloesendesDarlehen:
          type: string
          description: ReferenzId des abzuloesenden bestehenden Darlehens des Finanzierungsobjektes.
            (Nicht von bestehenden Immobilien.)
        referenzIdFinanzierungsbaustein:
          type: string
          description: "ReferenzId des Finanzierungsbausteins, welches das bestehende\
            \ Darlehen des Finanzierungsobjektes ablösen soll."
        sondertilgungZumZinsbindungsende:
          type: number
          format: double
    AbsicherungUndVorsorgePraeferenz:
      type: object
      properties:
        kommentar:
          type: string
        praeferenz:
          type: string
          enum:
          - VORHANDENE_PRUEFEN
          - VORHANDENE_NICHT_PRUEFEN
          - NICHT_VORHANDEN_BERATEN
          - NICHT_VORHANDEN_NICHT_BERATEN
          - UNBEDEUTEND
          - KEINE_PRAEFERENZ
    AbtretenAlsVerwendung:
      type: object
      allOf:
      - $ref: "#/components/schemas/LiquidierbareZusatzsicherheitVerwendung"
      - type: object
        properties:
          kommentar:
            type: string
    AbzugZurWerteanpassung:
      type: object
      properties:
        betrag:
          type: number
          format: double
        grund:
          type: string
    AllgemeineWertermittlungGenopace:
      type: object
      properties:
        abzugZurWerteanpassung:
          $ref: "#/components/schemas/AbzugZurWerteanpassung"
        carport:
          type: number
          format: double
        eigennutzungsfaehigkeit:
          type: boolean
        garage:
          type: number
          format: double
        restnutzungsdauerInJahren:
          type: integer
          format: int32
        sicherheitsabschlag:
          type: number
          format: double
        stellplatz:
          type: number
          format: double
        tiefgarage:
          type: number
          format: double
    AndereAusweisart:
      type: object
      allOf:
      - $ref: "#/components/schemas/Ausweisart"
      - type: object
        properties:
          typ:
            type: string
    Angestellter:
      type: object
      allOf:
      - $ref: "#/components/schemas/Beschaeftigung"
      - type: object
        properties:
          beruf:
            type: string
          beschaeftigungsstatus:
            type: string
            enum:
            - UNBEFRISTET
            - BEFRISTET
          beschaeftigungsverhaeltnis:
            $ref: "#/components/schemas/Beschaeftigungsverhaeltnis"
          situationNachRenteneintritt:
            $ref: "#/components/schemas/SituationNachRenteneintritt"
    Annuitaetendarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/Finanzierungsbaustein"
      - type: object
        properties:
          annuitaetendetails:
            $ref: "#/components/schemas/Annuitaetendetails"
          bereitstellungszinsfreieZeitInMonaten:
            type: integer
            format: int32
          darlehensbetrag:
            type: number
            format: double
          id:
            type: string
            description: Eindeutige interne ID
          kundenreferenzIdDerRiesterGefoerdertenPerson:
            type: string
            description: ReferenzId des Kunden bei Riesterförderung.
          provision:
            type: number
            format: double
            description: Angabe in Prozent.
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
    Annuitaetendetails:
      type: object
      properties:
        auszahlungszeitpunkt:
          type: string
          format: date
          description: Der Auszahlungzeitpunkt muss in der Zukunft liegen.
        sondertilgungJaehrlich:
          type: number
          format: double
          description: Angabe in Prozent.
        tilgungswunsch:
          $ref: "#/components/schemas/Tilgungswunsch"
        zinsbindungInJahren:
          type: integer
          format: int32
    AnpassungenNachBelWertV:
      type: object
      properties:
        begruendungFuerAenderungen:
          type: string
        beleihungswertangaben:
          $ref: "#/components/schemas/BeleihungswertangabenGenopace"
        ertragswertErmittlung:
          $ref: "#/components/schemas/ErtragswertErmittlungGenopace"
        sachwertErmittlung:
          $ref: "#/components/schemas/SachwertErmittlungGenopace"
    Anschlussfinanzierung:
      type: object
      allOf:
      - $ref: "#/components/schemas/Finanzierungszweck"
      - type: object
        properties:
          abloesungDarlehenDesFinanzierungsobjektes:
            type: array
            description: Ablösung der bestehenden Darlehen des Finanzierungsobjektes.
              (Nicht von bestehenden Immobilien.)
            items:
              $ref: "#/components/schemas/AbloesungBestehendesDarlehen"
          bereitsBeglicheneKosten:
            type: number
            format: double
          marktwertFinanzierungsobjekt:
            type: number
            format: double
          modernisierung:
            $ref: "#/components/schemas/Modernisierungskosten"
          modernisierungskostenErfassung:
            $ref: "#/components/schemas/ModernisierungskostenErfassung"
          rangruecktrittDarlehenDesFinanzierungsobjektes:
            type: array
            description: Rangrücktritt nicht abzulösender bestehender Darlehen des
              Finanzierungsobjektes. (Nicht von bestehenden Immobilien.)
            items:
              $ref: "#/components/schemas/RangruecktrittBestehendesDarlehen"
          zuBeschaffendesKapital:
            $ref: "#/components/schemas/KommentierterBetrag"
          zuBeschaffendesKapitalErfassung:
            $ref: "#/components/schemas/ZuBeschaffendesKapitalErfassung"
      description: "Bitte Felder 'zuBeschaffendesKapital' und  'modernisierung' nicht\
        \ mehr verwenden. Falls mitgeschickt, werden die Angaben in die Felder 'zuBeschaffendesKapitalErfassung'\
        \ und 'modernisierungskostenErfassung' kopiert, falls 'zuBeschaffendesKapitalErfassung'\
        \ und 'modernisierungskostenErfassung' leer sind."
    Anschrift:
      type: object
      properties:
        hausnummer:
          type: string
        ort:
          type: string
        plz:
          type: string
          description: "Postleitzahlen, die nicht aus fünf Ziffern bestehen werden\
            \ ignoriert."
          example: "10557"
          pattern: "\\d{5}"
        strasse:
          type: string
    Arbeiter:
      type: object
      allOf:
      - $ref: "#/components/schemas/Beschaeftigung"
      - type: object
        properties:
          beruf:
            type: string
          beschaeftigungsstatus:
            type: string
            enum:
            - UNBEFRISTET
            - BEFRISTET
          beschaeftigungsverhaeltnis:
            $ref: "#/components/schemas/Beschaeftigungsverhaeltnis"
          situationNachRenteneintritt:
            $ref: "#/components/schemas/SituationNachRenteneintritt"
    Arbeitgeber:
      type: object
      properties:
        inDeutschland:
          type: boolean
        inDeutschlandKommentar:
          type: string
        name:
          type: string
    Arbeitserlaubnis:
      type: object
      description: "Mögliche Typen: ArbeitserlaubnisVorhanden, KeineArbeitserlaubnis"
      discriminator:
        mapping:
          ARBEITSERLAUBNIS_VORHANDEN: "#/components/schemas/ArbeitserlaubnisVorhanden"
          KEINE_ARBEITSERLAUBNIS: "#/components/schemas/KeineArbeitserlaubnis"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    ArbeitserlaubnisVorhanden:
      type: object
      allOf:
      - $ref: "#/components/schemas/Arbeitserlaubnis"
      - type: object
        properties:
          befristetBis:
            type: string
            format: date
            description: Die Befristung der Arbeitserlaubnis muss in der Zukunft liegen.
    Arbeitsloser:
      type: object
      allOf:
      - $ref: "#/components/schemas/Beschaeftigung"
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: "#/components/schemas/SituationNachRenteneintritt"
    Aufenthalt:
      type: object
      properties:
        aufenthaltstitel:
          oneOf:
          - $ref: "#/components/schemas/Aufenthaltserlaubnis"
          - $ref: "#/components/schemas/BlaueKarteEu"
          - $ref: "#/components/schemas/DaueraufenthaltEu"
          - $ref: "#/components/schemas/Niederlassungserlaubnis"
          - $ref: "#/components/schemas/Visum"
        inDeutschlandSeit:
          type: string
          format: date
    Aufenthaltserlaubnis:
      type: object
      allOf:
      - $ref: "#/components/schemas/Aufenthaltstitel"
      - type: object
        properties:
          arbeitserlaubnis:
            $ref: "#/components/schemas/Arbeitserlaubnis"
          befristetBis:
            type: string
            format: date
            description: Die Aufenthaltserlaubnis muss gültig sein.
    Aufenthaltstitel:
      type: object
      description: "Mögliche Typen: Visum, Aufenthaltserlaubnis, Niederlassungserlaubnis,\
        \ DaueraufenthaltEu, BlaueKarteEu"
      discriminator:
        mapping:
          AUFENTHALTSERLAUBNIS: "#/components/schemas/Aufenthaltserlaubnis"
          BLAUE_KARTE_EU: "#/components/schemas/BlaueKarteEu"
          DAUERAUFENTHALT_EU: "#/components/schemas/DaueraufenthaltEu"
          NIEDERLASSUNGSERLAUBNIS: "#/components/schemas/Niederlassungserlaubnis"
          VISUM: "#/components/schemas/Visum"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    AufloesungAlsVerwendung:
      type: object
      allOf:
      - $ref: "#/components/schemas/LiquidierbareVerwendung"
      - type: object
        properties:
          kommentar:
            type: string
          maximalEinzusetzenderBetrag:
            type: number
            format: double
      - $ref: "#/components/schemas/LiquidierbareZusatzsicherheitVerwendung"
    Ausweisart:
      type: object
      description: "Mögliche Typen: Personalausweis, Reisepass, AndereAusweisart"
      discriminator:
        mapping:
          ANDERE_AUSWEISART: "#/components/schemas/AndereAusweisart"
          PERSONALAUSWEIS: "#/components/schemas/Personalausweis"
          REISEPASS: "#/components/schemas/Reisepass"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    BadRequestProblem:
      allOf:
      - $ref: "#/components/schemas/Problem"
      - type: object
        properties:
          violations:
            type: object
            properties:
              field:
                type: string
                description: "Das Feld, welches einen ungültigen Wert beinhaltet"
              message:
                type: string
                description: Eine genauere Beschreibung des Fehlers
            required:
            - field
    BankUndSparguthaben:
      type: object
      properties:
        guthaben:
          type: number
          format: double
        verwendung:
          oneOf:
          - $ref: "#/components/schemas/AufloesungAlsVerwendung"
          - $ref: "#/components/schemas/KeineVerwendung"
        zinsertragJaehrlich:
          type: number
          format: double
    Bankverbindung:
      type: object
      properties:
        bic:
          type: string
        iban:
          type: string
        id:
          type: string
          description: Eindeutige interne ID
        kundenreferenzIdsDerKontoinhaber:
          type: array
          description: "Kontoinhaberliste mit ReferenzIds der Kunden, falls zutreffend."
          items:
            type: string
            description: "Kontoinhaberliste mit ReferenzIds der Kunden, falls zutreffend."
        nameKontoinhaberKeinKunde:
          type: string
          description: Name des von den Kunden abweichenden Kontoinhabers.
    Baugrundstueck:
      type: object
      allOf:
      - $ref: "#/components/schemas/Immobilientyp"
      - type: object
        properties:
          grundstuecksart:
            type: string
            enum:
            - UNBEBAUTES_WOHNGRUNDSTUECK
            - UNBEBAUTES_MISCHGRUNDSTUECK
            - UNBEBAUTES_GEWERBEGRUNDSTUECK
            - LANDWIRTSCHAFTLICHES_GRUNDSTUECK
            - SONSTIGES_GRUNDSTUECK
          grundstuecksgroesse:
            type: number
            format: double
            minimum: 0
    BausparAngebotExtern:
      type: object
      description: In anderen APIs als 'BausparAngebotExtern' bezeichnet.
      properties:
        abschlussGebuehr:
          type: number
          format: double
        abschlussGebuehrenVerrechnung:
          type: string
          enum:
          - SOFORTZAHLUNG
          - VERRECHNUNG
        angebotsHinweisFuerDenKunden:
          type: string
        bausparkasse:
          type: string
          enum:
          - AACHENER_BAUSPARKASSE
          - ALTE_LEIPZIGER_BAUSPAR
          - ALTE_LEIPZIGER_BAUSPAR_RATENKREDIT
          - BAUSPARKASSE_MAINZ
          - BAUSPARKASSE_SCHWAEBISCH_HALL
          - BHW
          - BSQ_BAUSPAR
          - DEBEKA_BAUSPARKASSE
          - DEUTSCHE_BANK_BAUSPAR
          - BADENIA
          - DEUTSCHER_RING
          - LBS_BAYERN
          - LBS_NORD
          - LBS_BREMEN
          - LBS_HESSEN_THUERINGEN
          - LBS_SCHLESWIG_HOLSTEIN_HAMBURG
          - LBS_RHEINLAND_PFALZ
          - LBS_WEST
          - LBS_OST
          - LBS_SAAR
          - LBS_SUEDWEST
          - LBS_BADEN_WUERTTEMBERG
          - SIGNAL_IDUNA
          - SIGNAL_IDUNA_BAUSPAR
          - WUESTENROT
        bausparsumme:
          type: number
          format: double
        gesamtLaufzeitInJahren:
          type: integer
          format: int32
        id:
          type: string
          description: Eindeutige interne ID
        jahresentgelt:
          type: number
          format: double
        sonderZahlungen:
          type: array
          items:
            $ref: "#/components/schemas/Sonderzahlung"
        sparBeginn:
          type: string
          format: date
        sparbeitragMonatlich:
          type: number
          format: double
        tarif:
          type: string
        vertragsPartnerIds:
          type: array
          description: Eindeutige interne vertragsPartnerID
          items:
            type: string
            description: Eindeutige interne vertragsPartnerID
        vertragsbeginn:
          type: string
          format: date
        vertragsnummer:
          type: string
        zuteilungsdatum:
          type: string
          format: date
    Bauspardarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/Finanzierungsbaustein"
      - type: object
        properties:
          abschlussgebuehrmodus:
            type: string
            enum:
            - SOFORTZAHLUNG
            - VERRECHNUNG
          id:
            type: string
            description: Eindeutige interne ID
          kundenreferenzIdsDerVertragspartner:
            type: array
            description: Liste von ReferenzIds der Kunden.
            items:
              type: string
              description: Liste von ReferenzIds der Kunden.
          riesterzulagenverwendung:
            type: string
            enum:
            - SONDERZAHLUNG
            - VERRECHNUNG
          sonderzahlungen:
            type: array
            items:
              $ref: "#/components/schemas/Sonderzahlung"
          tarifListe:
            type: array
            items:
              type: string
              enum:
              - BKM_MAX_PREMIUM_OPTIMAL
              - BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE
              - BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG
              - BKM_MAX_PREMIUM_BESTER_ZINS
              - BKM_HAUS_PLUS_OPTIMAL
              - BKM_HAUS_PLUS_NIEDRIGE_SPARRATE
              - BKM_HAUS_PLUS_NIEDRIGE_TILGUNG
              - BKM_HAUS_PLUS_BESTER_ZINS
              - BKM_ZINS_PLUS_2_BONUS
              - BKM_ZINS_PLUS_3_BONUS
              - BKM_HAUS_PLUS_WAHLZUTEILUNG
              - BKM_HAUS_PLUS_KOMBI
              - FUCHS_IMMO_1
              - FUCHS_IMMO_1_PLUS
              - FUCHS_IMMO_2
              - FUCHS_IMMO_3
              - FUCHS_IMMO_4
              - FUCHS_IMMO_5
              - FUCHS_IMMO_6
              - FUCHS_IMMO_7
              - FUCHS_ECO_XE
              - FUCHS_ECO_XT
              - FUCHS_IMMO_WP
              - FUCHS_IMMO_WS
              - FUCHS_IMMO_XL
              - FUCHS_IMMO_XP
              - FUCHS_IMMO_XS
              - FUCHS_START_XX
              - FUCHS_START_XY
              - FUCHS_ECO_XE_06
              - FUCHS_IMMO_XL_06
              - FUCHS_IMMO_XP_06
              - FUCHS_IMMO_XS_06
              - FUCHS_START_XX_06
              - FUCHS_START_XR_06
              - FUCHS_IMMO_WP_06
              - FUCHS_IMMO_WS_06
              - FUCHS_IMMO_WL_06
              - LBS_BAYERN_F6_PLUS
              - LBS_BAYERN_F9
              - LBS_BAYERN_FU4
              - LBS_BAYERN_FU4_RIESTER
              - LBS_BAYERN_FU5
              - LBS_BAYERN_FU5_RIESTER
              - LBS_BAYERN_FU6
              - LBS_BAYERN_FU6_RIESTER
              - LBS_BAYERN_FU6_PLUS_RIESTER
              - LBS_BAYERN_FU9_RIESTER
              - LBS_BAYERN_N4_PLUS
              - LBS_BAYERN_N4_PLUS_RIESTER
              - LBS_BAYERN_N5
              - LBS_BAYERN_N5_RIESTER
              - LBS_BAYERN_N5_PLUS
              - LBS_BAYERN_N5_PLUS_RIESTER
              - LBS_BAYERN_N6_PLUS
              - LBS_BAYERN_N6_PLUS_RIESTER
              - LBS_BAYERN_N8
              - LBS_BAYERN_N8_RIESTER
              - LBS_BAYERN_T4_PLUS
              - LBS_BAYERN_T4_PLUS_RIESTER
              - LBS_BAYERN_T5_PLUS
              - LBS_BAYERN_T5_PLUS_RIESTER
              - LBS_BAYERN_T6_PLUS
              - LBS_BAYERN_T6_PLUS_RIESTER
              - LBS_BAYERN_T8
              - LBS_BAYERN_T8_RIESTER
              - LBS_BAYERN_T5
              - LBS_BAYERN_T5_RIESTER
              - LBS_BAYERN_U4_PLUS
              - LBS_BAYERN_U4_PLUS_RIESTER
              - LBS_BAYERN_U5_PLUS
              - LBS_BAYERN_U5_PLUS_RIESTER
              - LBS_BAYERN_U6_PLUS
              - LBS_BAYERN_U6_PLUS_RIESTER
              - LBS_BAYERN_U8
              - LBS_BAYERN_U8_RIESTER
              - LBS_BAYERN_U9
              - LBS_BAYERN_U9_RIESTER
              - LBS_BAYERN_U5
              - LBS_BAYERN_U5_RIESTER
              - LBS_BAYERN_V18
              - LBS_BAYERN_V25
              - LBS_BAYERN_V30
              - LBS_BAYERN_W4
              - LBS_BAYERN_W4_RIESTER
              - LBS_BAYERN_W6
              - LBS_BAYERN_W6_RIESTER
              - LBS_BAYERN_W9
              - LBS_BAYERN_W4_X30
              - LBS_BAYERN_W4_X35
              - LBS_BAYERN_W4_X40
              - LBS_BAYERN_WF
              - LBS_BAYERN_WU
              - LBS_BAYERN_Z35
              - LBS_BAYERN_Z35_RIESTER
              - LBS_BAYERN_Z5
              - LBS_BAYERN_Z5_RIESTER
              - LBS_BAYERN_Z8
              - LBS_BAYERN_ZF
              - LBS_BAYERN_ZF_X45
              - LBS_BAYERN_ZF_X45_RIESTER
              - LBS_BAYERN_ZF_X40
              - LBS_BAYERN_ZF_X40_RIESTER
              - LBS_BAYERN_ZF_X35
              - LBS_BAYERN_ZF_X35_RIESTER
              - LBS_SUED_ANKOMMER_3_5
              - LBS_SUED_ANKOMMER_5
              - LBS_SUED_ANKOMMER_6
              - LBS_SUED_BONUSBRINGER
              - LBS_SUED_SPRINTER
              - LBS_SUED_SPRINTER_E
              - LBS_SUED_ZINSSPARER
              - LBS_SUED_SPRINTER_RIESTER
              - LBS_SUED_SPRINTER_E_RIESTER
              - LBS_SUED_VORSORGER_RIESTER
              - LBS_HT_CLASSIC_S_2015
              - LBS_HT_CLASSIC_F_2015
              - LBS_HT_CLASSIC_L_2015
              - LBS_HT_CLASSIC_N_2015
              - LBS_HT_HOME_M
              - LBS_HT_HOME_L
              - LBS_HT_HOME_XL
              - LBS_HT_COMFORT_S
              - LBS_HT_COMFORT_N
              - LBS_HT_FLEX
              - LBS_NORDWEST_TRAUMSTART_YOUNG
              - LBS_NORDWEST_WT_FIN_10_V1_2024
              - LBS_NORDWEST_WT_FIN_10_V2_2024
              - LBS_NORDWEST_WT_FIN_12_2024
              - LBS_NORDWEST_WT_FIN_15_V1_2024
              - LBS_NORDWEST_WT_FIN_15_V2_2024
              - LBS_NORDWEST_WT_FIN_SPEZIAL_2024
              - LBS_NORDWEST_WT_MINI_2024
              - LBS_NORDWEST_WT_MOD_ECOFLEX_2024
              - LBS_NORDWEST_WT_MOD_FLEX_2024
              - LBS_NORDWEST_WT_MOD_ECOSPRINT_2024
              - LBS_NORDWEST_WT_MOD_SPRINT_2024
              - LBS_NORDWEST_WT_PLUS
              - LBS_NORDWEST_WT_FIN_10_V1_2024_R
              - LBS_NORDWEST_WT_FIN_10_V2_2024_R
              - LBS_NORDWEST_WT_FIN_15_V1_2024_R
              - LBS_NORDWEST_WT_FIN_15_V2_2024_R
              - LBS_NORDWEST_WT_SPEZIAL_2024_R
              - LBS_NORDWEST_WT_MOD_ECOFLEX_2024_R
              - LBS_NORDWEST_WT_MOD_FLEX_2024_R
              - LBS_NORDWEST_BESTAND_CLASSIC_06_L
              - LBS_NORDWEST_BESTAND_CLASSIC_06_N
              - LBS_NORDWEST_BESTAND_CLASSIC_06_S
              - LBS_NORDWEST_BESTAND_CLASSIC_11_F
              - LBS_NORDWEST_BESTAND_CLASSIC_11_F_MAXI
              - LBS_NORDWEST_BESTAND_CLASSIC_11_L
              - LBS_NORDWEST_BESTAND_CLASSIC_11_N
              - LBS_NORDWEST_BESTAND_CLASSIC_11_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_4_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_4_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_5_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_5_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_6_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_6_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_8_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_FLEX_8_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_13_PLUS
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_DIREKT_10
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_DIREKT_15
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_4_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_4_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_5_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_5_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_6_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_6_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_8_L
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_FLEX_8_S
              - LBS_NORDWEST_BESTAND_ZUHAUSE_15_PLUS
              - LBS_NORDWEST_BESTAND_ZUHAUSE_17_PRIMA
              - LBS_NORDWEST_BESTAND_ZUHAUSE_17_PRIMA_10
              - LBS_NORD_CLASSIC_GU
              - LBS_NORD_CLASSIC_GV
              - LBS_NORD_CLASSIC_MINI_GM
              - LBS_NORD_CLASSIC_TF_GF
              - LBS_NORD_CLASSIC_JC
              - LBS_NORD_CLASSIC_JV
              - LBS_NORD_CLASSIC_MINI
              - LBS_NORD_CLASSIC_TF_JF
              - LBS_NORD_PLUS
              - LBS_NORD_FINANZIERER_F3_2016
              - LBS_NORD_FINANZIERER_F4_2016
              - LBS_NORD_FINANZIERER_F5_2016
              - LBS_NORD_FINANZIERER_F6_2016
              - LBS_NORD_FINANZIERER_F7_2016
              - LBS_NORD_MODERNISIERER_M8_2016
              - LBS_NORD_MODERNISIERER_M10_2016
              - LBS_NORD_MODERNISIERER_MINIZINS_2016
              - LBS_NORD_STARTER_S4_2016
              - LBS_NORD_STARTER_S5_2016
              - LBS_NORD_STARTER_S6_2016
              - LBS_NORD_N_STARTER_S4
              - LBS_NORD_N_STARTER_S5
              - LBS_NORD_N_STARTER_S6
              - LBS_NORD_N_FINANZIERER_F3
              - LBS_NORD_N_FINANZIERER_F4
              - LBS_NORD_N_FINANZIERER_F5
              - LBS_NORD_N_FINANZIERER_F6
              - LBS_NORD_N_FINANZIERER_F7
              - LBS_NORD_N_FINANZIERER_MEINZUHAUSE
              - LBS_NORD_N_MODERNISIERER_MINIZINS
              - LBS_NORD_N_MODERNISIERER_M8
              - LBS_NORD_N_MODERNISIERER_MX
              - LBS_NORD_N_STARTER_Q5
              - LBS_WEST_BESTAND_ZUHAUSE_DIREKT_10
              - LBS_WEST_BESTAND_ZUHAUSE_DIREKT_15
              - LBS_WEST_BESTAND_ZUHAUSE_PRIMA
              - LBS_WEST_BESTAND_ZUHAUSE_FLEX_4
              - LBS_WEST_BESTAND_ZUHAUSE_FLEX_5
              - LBS_WEST_BESTAND_ZUHAUSE_FLEX_8
              - LBS_WEST_BESTAND_ZUHAUSE_SPEZIAL
              - LBS_WEST_BESTAND_RIESTER_ZUHAUSE_DIREKT_10
              - LBS_WEST_BESTAND_RIESTER_ZUHAUSE_DIREKT_15
              - LBS_WEST_BESTAND_RIESTER_ZUHAUSE_FLEX_4
              - LBS_WEST_BESTAND_RIESTER_ZUHAUSE_SPEZIAL
              - LBS_OST_CLASSIC_F15_F5
              - LBS_OST_CLASSIC_F_H4
              - LBS_OST_CLASSIC_F_H5
              - LBS_OST_CLASSIC_12_C4
              - LBS_OST_CLASSIC_12_C9
              - LBS_OST_VARIO_FLEX
              - LBS_OST_CLASSIC20_F3
              - LBS_OST_CLASSIC20_F8
              - LBS_OST_CLASSIC20_PLUS_F
              - LBS_OST_FLEX_22
              - LBS_OST_KOMFORT_22
              - LBS_OST_SPRINT_22
              - LBS_OST_KONSTANT30_V095
              - LBS_OST_KONSTANT30_V110
              - LBS_OST_KONSTANT30_V130
              - LBS_OST_KONSTANT30_V150
              - LBS_OST_KONSTANT30_V170
              - LBS_OST_KONSTANT30_V190
              - LBS_OST_KONSTANT30_V210
              - LBS_OST_KONSTANT30_V230
              - LBS_OST_KONSTANT30_V250
              - LBS_OST_KONSTANT30_V270
              - LBS_OST_KONSTANT30_V290
              - LBS_OST_KONSTANT30_V310
              - LBS_OST_KONSTANT30_V330
              - LBS_OST_KONSTANT30_V350
              - LBS_OST_KONSTANT30_V370
              - LBS_OST_KONSTANT30_V390
              - LBS_OST_KONSTANT30_V410
              - LBS_OST_KONSTANT30_V430
              - LBS_OST_KONSTANT30_V450
              - LBS_OST_KONSTANT30_V470
              - LBS_OST_KONSTANT30_V490
              - LBS_OST_KONSTANT30_V510
              - LBS_OST_KONSTANT30_V530
              - LBS_OST_KONSTANT30_V550
              - LBS_OST_CLASSIC15_F3
              - LBS_OST_CLASSIC15_F4
              - LBS_OST_CLASSIC15_F5
              - LBS_OST_CLASSIC15_F6
              - LBS_OST_CLASSIC15_F8
              - LBS_OST_CLASSIC15_PLUS_F
              - LBS_OST_CLASSIC15_PLUS_S
              - LBS_OST_BESTAND_CLASSIC_F4
              - LBS_OST_BESTAND_CLASSIC_F5
              - LBS_OST_BESTAND_CLASSIC_F6
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_SC
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_SD
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_SH
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_SI
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_SJ
              - LBS_NORDOST_BESTAND_SHH_TREND_SD
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_AUSBAU_TD
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_FORMAT
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_FORMAT_MB
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TC
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TH
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TI
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TJ
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TK
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TL
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TM
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_HAUSBAU_TN
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PERSPEKTIVE
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PERSPEKTIVE_MA
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PRIMUS
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PRIMUS_MC
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PRIMUS_SK
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PRIMUS_SL
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PRIMUS_SM
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_PRIMUS_SN
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_TRAUMHAUS_TB
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_TREND
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_TREND_MD
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_VITA_SE
              - LBS_NORDOST_BESTAND_SHH_VITA_ME
              - LBS_NORDOST_BESTAND_SHH_VITA_OE
              - LBS_NORDOST_BESTAND_SHH_VITA_PE
              - LBS_NORDOST_BESTAND_SHH_VITA_SE
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_TC
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_TH
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_TI
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_TJ
              - LBS_NORDOST_BESTAND_SHH_PRIMUS_TD
              - LBS_NORDOST_BESTAND_SHH_TREND_TD
              - LBS_NORDOST_BESTAND_SHH_CLASSIC_TRAUMHAUS
              - LBS_SHH_PRIMUS_SC
              - LBS_SHH_PRIMUS_SD
              - LBS_SHH_PRIMUS_SH
              - LBS_SHH_PRIMUS_SI
              - LBS_SHH_PRIMUS_SJ
              - LBS_SHH_TREND_SD
              - LBS_SHH_PRIMUS_TC
              - LBS_SHH_PRIMUS_TH
              - LBS_SHH_PRIMUS_TI
              - LBS_SHH_PRIMUS_TJ
              - LBS_SHH_PRIMUS_TD
              - LBS_SHH_TREND_TD
              - LBS_SHH_CLASSIC_TRAUMHAUS
              - LBS_SHH_CLASSIC_AUSBAU_TD
              - LBS_SHH_CLASSIC_FORMAT
              - LBS_SHH_CLASSIC_FORMAT_MB
              - LBS_SHH_CLASSIC_HAUSBAU_TC
              - LBS_SHH_CLASSIC_HAUSBAU_TH
              - LBS_SHH_CLASSIC_HAUSBAU_TI
              - LBS_SHH_CLASSIC_HAUSBAU_TJ
              - LBS_SHH_CLASSIC_HAUSBAU_TK
              - LBS_SHH_CLASSIC_HAUSBAU_TL
              - LBS_SHH_CLASSIC_HAUSBAU_TM
              - LBS_SHH_CLASSIC_HAUSBAU_TN
              - LBS_SHH_CLASSIC_PERSPEKTIVE
              - LBS_SHH_CLASSIC_PERSPEKTIVE_MA
              - LBS_SHH_CLASSIC_PRIMUS
              - LBS_SHH_CLASSIC_PRIMUS_MC
              - LBS_SHH_CLASSIC_PRIMUS_SK
              - LBS_SHH_CLASSIC_PRIMUS_SL
              - LBS_SHH_CLASSIC_PRIMUS_SM
              - LBS_SHH_CLASSIC_PRIMUS_SN
              - LBS_SHH_CLASSIC_TRAUMHAUS_TB
              - LBS_SHH_CLASSIC_TREND
              - LBS_SHH_CLASSIC_TREND_MD
              - LBS_SHH_CLASSIC_VITA_SE
              - LBS_SHH_VITA_ME
              - LBS_SHH_VITA_OE
              - LBS_SHH_VITA_PE
              - LBS_SHH_VITA_SE
              - LBS_WEST_ZUHAUSE_DIREKT_10
              - LBS_WEST_ZUHAUSE_DIREKT_15
              - LBS_WEST_ZUHAUSE_PLUS
              - LBS_WEST_ZUHAUSE_FLEX_4_S
              - LBS_WEST_ZUHAUSE_FLEX_4_L
              - LBS_WEST_ZUHAUSE_FLEX_5_S
              - LBS_WEST_ZUHAUSE_FLEX_5_L
              - LBS_WEST_ZUHAUSE_FLEX_6_S
              - LBS_WEST_ZUHAUSE_FLEX_6_L
              - LBS_WEST_ZUHAUSE_FLEX_8_S
              - LBS_WEST_ZUHAUSE_FLEX_8_L
              - LBS_WEST_ZUHAUSE_PRIMA
              - LBS_WEST_ZUHAUSE_PRIMA_10
              - LBS_WEST_ZUHAUSE_FLEX_4
              - LBS_WEST_ZUHAUSE_FLEX_5
              - LBS_WEST_ZUHAUSE_FLEX_6
              - LBS_WEST_ZUHAUSE_FLEX_8
              - LBS_WEST_ZUHAUSE_YOUNG
              - LBS_WEST_ZUHAUSE_SPEZIAL
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_10
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_15
              - LBS_WEST_RIESTER_ZUHAUSE_DIREKT_PLUS
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_S
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_L
              - LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_L
              - LBS_WEST_RIESTER_ZUHAUSE_SPEZIAL
              - LBS_WEST_RIESTER_KONSTANT_35
              - LBS_WEST_RIESTER_KONSTANT_40
              - LBS_WEST_RIESTER_KONSTANT_50
              - LBS_WEST_KONSTANT_35
              - LBS_WEST_KONSTANT_40
              - LBS_WEST_KONSTANT_50
              - LBS_WEST_RIESTER_KONSTANT_35_ANGEBOT
              - LBS_WEST_RIESTER_KONSTANT_40_ANGEBOT
              - LBS_WEST_RIESTER_KONSTANT_50_ANGEBOT
              - LBS_WEST_KONSTANT_35_ANGEBOT
              - LBS_WEST_KONSTANT_40_ANGEBOT
              - LBS_WEST_KONSTANT_50_ANGEBOT
              - LBS_SUEDWEST_KLASSIK_PLUS_2018
              - LBS_SUEDWEST_LANGZEIT_PLUS_2019
              - LBS_SUEDWEST_KLASSIK_PLUS_2020
              - LBS_SUEDWEST_STANDARD_PLUS_2018
              - LBS_SUEDWEST_LANGZEIT_PLUS_SPEZIAL
              - LBS_SUEDWEST_NIEDRIGZINS
              - LBS_SUEDWEST_ZUKUNFT_PLUS
              - LBS_SUEDWEST_ANKOMMER_3_5
              - LBS_SUEDWEST_ANKOMMER_5
              - LBS_SUEDWEST_ANKOMMER_6
              - LBS_SUEDWEST_BONUSBRINGER
              - LBS_SUEDWEST_SPRINTER
              - LBS_SUEDWEST_SPRINTER_E
              - LBS_SUEDWEST_ZINSSPARER
              - LBS_SUEDWEST_SPRINTER_RIESTER
              - LBS_SUEDWEST_SPRINTER_E_RIESTER
              - LBS_SUEDWEST_VORSORGER_RIESTER
              - LBS_SAAR_PREMIUM_FLEX_18
              - LBS_SAAR_PREMIUM_SICHER_18
              - LBS_SAAR_PREMIUM_TOP_18
              - LBS_SAAR_EXTRA_GUENSTIG_18
              - LBS_SAAR_EXTRA_SICHER_18
              - LBS_SAAR_EXTRA_SPEZIAL_18
              - LBS_SAAR_CLASSIC_21_ZUHAUSE
              - LBS_SAAR_FINANZIERER_20_ZUHAUSE
              - LBS_SAAR_FINANZIERER_25_ZUHAUSE
              - LBS_SAAR_FINANZIERER_30_ZUHAUSE
              - LBS_SAAR_FINANZIERER_KONSTANT_ZUHAUSE
              - LBS_SAAR_MODERNISIERER_ZUHAUSE
              - LBS_SAAR_KLIMAFIT_ZUHAUSE
              - LBS_SAAR_EINSTEIGER
              - LBS_SAAR_FINANZIERER_MAX
              - LBS_SAAR_KLASSIK
              - LBS_SAAR_KLIMAFIT
              - LBS_SAAR_TOP_RATE
              - LBS_SAAR_TOP_ZINS
              - LBS_SAAR_WOHNFIT
              - SIGNAL_IDUNA_FREIRAUM_F_35
              - SIGNAL_IDUNA_FREIRAUM_F_35_16
              - SIGNAL_IDUNA_FREIRAUM_F_45
              - SIGNAL_IDUNA_FREIRAUM_F_45_16
              - SIGNAL_IDUNA_FREIRAUM_F_60
              - SIGNAL_IDUNA_FREIRAUM_F_30_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_30_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_35_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_35_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_40_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_40_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_45_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_45_MZ_16
              - SIGNAL_IDUNA_FREIRAUM_F_50_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_60_MZ
              - SIGNAL_IDUNA_FREIRAUM_F_30
              - SIGNAL_IDUNA_FREIRAUM_F_30_16
              - SIGNAL_IDUNA_FREIRAUM_F_40
              - SIGNAL_IDUNA_FREIRAUM_F_40_16
              - SIGNAL_IDUNA_FREIRAUM_F_50
              - SIGNAL_IDUNA_FREIRAUM_F_50_16
              - BHW_TARIF_FI1
              - BHW_TARIF_FI2
              - BHW_TARIF_FI3
              - BHW_TARIF_FI3N
              - BHW_TARIF_FI4
              - BHW_TARIF_FI4N
              - BHW_TARIF_FX1
              - BHW_TARIF_FX2
              - BHW_TARIF_REN
              - BHW_TARIF_DISPOPLUS
              - BHW_TARIF_DX3
              - BHW_TARIF_DX4
              - BHW_TARIF_DX5
              - BHW_TARIF_DM3
              - BHW_TARIF_DM3N
              - BHW_TARIF_DM4
              - BHW_TARIF_DM4N
              - BHW_TARIF_DM4_75N
              - BHW_TARIF_DM5
              - BHW_TARIF_DN2
              - BHW_TARIF_DN3
              - BHW_TARIF_DN4
              - BHW_TARIF_DV1
              - BHW_TARIF_DV1N
              - BHW_TARIF_DV2
              - BHW_TARIF_DV2N
              - BHW_TARIF_DV3
              - BHW_TARIF_DV3N
              - BHW_TARIF_WM
              - BHW_TARIF_FI1N
              - BHW_TARIF_FI2N
              - BHW_TARIF_FX1N
              - BHW_TARIF_FX2N
              - DT_RING_TARIF_FT
              - DT_RING_TARIF_FT_0
              - DT_RING_TARIF_FT_1
              - DT_RING_TARIF_FT_2
              - DT_RING_TARIF_XT_1
              - DT_RING_TARIF_XT_0
              - DT_RING_TARIF_F_1
              - DT_RING_TARIF_F_5
              - DT_RING_TARIF_F_7
              - ALTE_LEIPZIGER_1502
              - ALTE_LEIPZIGER_1602
              - ALTE_LEIPZIGER_1702
              - ALTE_LEIPZIGER_1802
              - ALTE_LEIPZIGER_1902
              - ALTE_LEIPZIGER_2002
              - ALTE_LEIPZIGER_1502_MZ
              - ALTE_LEIPZIGER_1602_MZ
              - ALTE_LEIPZIGER_1702_MZ
              - ALTE_LEIPZIGER_1802_MZ
              - ALTE_LEIPZIGER_1902_MZ
              - ALTE_LEIPZIGER_2002_MZ
              - ALTE_LEIPZIGER_1503
              - ALTE_LEIPZIGER_1603
              - ALTE_LEIPZIGER_1703
              - ALTE_LEIPZIGER_1803
              - ALTE_LEIPZIGER_1903
              - ALTE_LEIPZIGER_2003
              - ALTE_LEIPZIGER_1503_MZ
              - ALTE_LEIPZIGER_1603_MZ
              - ALTE_LEIPZIGER_1703_MZ
              - ALTE_LEIPZIGER_1803_MZ
              - ALTE_LEIPZIGER_1903_MZ
              - ALTE_LEIPZIGER_2003_MZ
              - ALTE_LEIPZIGER_150X
              - ALTE_LEIPZIGER_160X
              - ALTE_LEIPZIGER_170X
              - ALTE_LEIPZIGER_180X
              - ALTE_LEIPZIGER_190X
              - ALTE_LEIPZIGER_200X
              - ALTE_LEIPZIGER_150X_MZ
              - ALTE_LEIPZIGER_160X_MZ
              - ALTE_LEIPZIGER_170X_MZ
              - ALTE_LEIPZIGER_180X_MZ
              - ALTE_LEIPZIGER_190X_MZ
              - ALTE_LEIPZIGER_200X_MZ
              - ALTE_LEIPZIGER_ZG_21XX_20
              - ALTE_LEIPZIGER_ZG_21XX_30
              - ALTE_LEIPZIGER_ZG_25XX_49
              - ALTE_LEIPZIGER_21XX
              - ALTE_LEIPZIGER_21XX_27
              - ALTE_LEIPZIGER_22XX
              - ALTE_LEIPZIGER_22XX_27
              - ALTE_LEIPZIGER_21XX_33
              - ALTE_LEIPZIGER_22XX_33
              - ALTE_LEIPZIGER_21XX_20
              - ALTE_LEIPZIGER_22XX_20
              - ALTE_LEIPZIGER_25XX_45
              - ALTE_LEIPZIGER_26XX_45
              - ALTE_LEIPZIGER_25XX_30
              - ALTE_LEIPZIGER_26XX_30
              - ALTE_LEIPZIGER_BS_22XX_33
              - WUESTENROT_01063_4
              - WUESTENROT_01063_5
              - WUESTENROT_01063_6
              - WUESTENROT_01063_7
              - WUESTENROT_01063_8
              - WUESTENROT_01063_9
              - WUESTENROT_01063_10
              - WUESTENROT_01063_12
              - WUESTENROT_01064_4
              - WUESTENROT_01064_6
              - WUESTENROT_01064_8
              - WUESTENROT_01064_10
              - WUESTENROT_01064_12
              - WUESTENROT_01061_10
              - WUESTENROT_01062_4
              - WUESTENROT_01061_10_0000
              - WUESTENROT_01062_04_0000
              - WUESTENROT_01063_05_3585
              - WUESTENROT_01063_07_5110
              - WUESTENROT_01063_09_0000
              - WUESTENROT_01064_10_0000
              - WUESTENROT_01064_04_0000
              - WUESTENROT_01064_04_5000
              - WUESTENROT_01064_05_4121
              - WUESTENROT_01064_06_0000
              - WUESTENROT_01064_07_5161
              - WUESTENROT_01064_09_0000
              - WUESTENROT_01073_08_0000
              - WUESTENROT_01074_10_0000
              - WUESTENROT_01075_03_5000
              - WUESTENROT_01076_08_0000
              - WUESTENROT_01077_04_0000
              - WUESTENROT_01077_07_5000
              - WUESTENROT_01077_08_0000
              - WUESTENROT_01078_04_0000
              - WUESTENROT_01079_04_0000
              - WUESTENROT_01079_04_5000
              - WUESTENROT_01073_04_5000
              - WUESTENROT_01073_05_9000
              - WUESTENROT_01094_04_5000
              - WUESTENROT_01094_08_0000
              - WUESTENROT_01094_05_9000
              - WUESTENROT_01076_07_9872
              - WUESTENROT_01076_05_8633
              - WUESTENROT_01087_08_0000
              - WUESTENROT_01087_07_9872
              - WUESTENROT_01087_05_8633
              - WUESTENROT_01088_04_0000
              - WUESTENROT_01077_06_3000
              - WUESTENROT_01077_04_7000
              - WUESTENROT_01088_07_5000
              - WUESTENROT_01088_06_3000
              - WUESTENROT_01088_04_7000
              - WUESTENROT_01077_07_9648
              - WUESTENROT_01077_06_2500
              - WUESTENROT_01088_08_0000
              - WUESTENROT_01088_07_9648
              - WUESTENROT_01088_06_2500
              - WUESTENROT_01085_10_0000
              - WUESTENROT_01086_03_5000
              - WUESTENROT_01090_04_0000
              - WUESTENROT_01090_04_5000
              - WUESTENROT_01089_04_0000
              - WUESTENROT_01093_05_0000
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI1
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI2
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI3
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FI4
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FX1
              - DEUTSCHE_BANK_BAUSPAR_TARIF_FX2
          verwendung:
            type: string
            enum:
            - FREI_BESPAREN
            - ABTRETEN
          wunschparameter:
            type: array
            description: Pro Art des Wunschparameters darf maximal ein Eintrag vorhanden
              sein.
            items:
              $ref: "#/components/schemas/BauspardarlehenWunschparameter"
            maxItems: 4
            minItems: 0
      description: Für leer gelassene Parameter werden automatisch Vorschläge berechnet.
    BauspardarlehenWunschparameter:
      type: object
      description: " Mögliche Typen: Sparbeginn, Bausparsumme, MonatlicherSparbeitrag,\
        \ Zuteilungszeitpunkt, Tilgungsrate"
      discriminator:
        mapping:
          BAUSPARSUMME: "#/components/schemas/Bausparsumme"
          MONATLICHER_SPARBEITRAG: "#/components/schemas/MonatlicherSparbeitrag"
          SPARBEGINN: "#/components/schemas/Sparbeginn"
          TILGUNGSRATE: "#/components/schemas/Tilgungsrate"
          ZUTEILUNGSZEITPUNKT: "#/components/schemas/Zuteilungszeitpunkt"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Bausparsumme:
      type: object
      allOf:
      - $ref: "#/components/schemas/BauspardarlehenWunschparameter"
      - type: object
        properties:
          betrag:
            type: number
            format: double
    BausparvertragAlsVermoegen:
      type: object
      description: In anderen APIs als 'bestehenderBausparvertrag' bezeichnet.
      properties:
        angesparterBetrag:
          type: number
          format: double
        bausparkasse:
          type: string
          enum:
          - AACHENER_BAUSPARKASSE
          - ALTE_LEIPZIGER_BAUSPAR
          - ALTE_LEIPZIGER_BAUSPAR_RATENKREDIT
          - BAUSPARKASSE_MAINZ
          - BAUSPARKASSE_SCHWAEBISCH_HALL
          - BHW
          - BSQ_BAUSPAR
          - DEBEKA_BAUSPARKASSE
          - DEUTSCHE_BANK_BAUSPAR
          - BADENIA
          - DEUTSCHER_RING
          - LBS_BAYERN
          - LBS_NORD
          - LBS_BREMEN
          - LBS_HESSEN_THUERINGEN
          - LBS_SCHLESWIG_HOLSTEIN_HAMBURG
          - LBS_RHEINLAND_PFALZ
          - LBS_WEST
          - LBS_OST
          - LBS_SAAR
          - LBS_SUEDWEST
          - LBS_BADEN_WUERTTEMBERG
          - SIGNAL_IDUNA
          - SIGNAL_IDUNA_BAUSPAR
          - WUESTENROT
        bausparsumme:
          type: number
          format: double
        id:
          type: string
          description: Eindeutige interne ID
        jahresentgelt:
          type: number
          format: double
        sparbeitragMonatlich:
          type: number
          format: double
        tarif:
          type: string
        vertragsbeginn:
          type: string
          format: date
        vertragsnummer:
          type: string
        verwendung:
          oneOf:
          - $ref: "#/components/schemas/AbtretenAlsVerwendung"
          - $ref: "#/components/schemas/AufloesungAlsVerwendung"
          - $ref: "#/components/schemas/KeineVerwendung"
        zuteilungsdatum:
          type: string
          format: date
    Beamter:
      type: object
      allOf:
      - $ref: "#/components/schemas/Beschaeftigung"
      - type: object
        properties:
          beruf:
            type: string
          beschaeftigungsverhaeltnis:
            $ref: "#/components/schemas/Beschaeftigungsverhaeltnis"
          situationNachRenteneintritt:
            $ref: "#/components/schemas/SituationNachRenteneintritt"
    Beleihungswertangaben:
      type: object
      properties:
        bodenrichtwert:
          type: number
          format: double
        keinBaulandFlaeche:
          type: number
          format: double
          minimum: 0
        kubatur:
          type: number
          format: double
          minimum: 0
        marktueblicherKaufpreisProQm:
          type: number
          format: double
        vergleichsmieteFuerGewerbeflaecheProQm:
          type: number
          format: double
        vergleichsmieteFuerWohnflaecheProQm:
          type: number
          format: double
        wohnlage:
          type: string
          enum:
          - GEHOBEN
          - MITTEL
          - EINFACH
    BeleihungswertangabenGenopace:
      type: object
      properties:
        allgemeineWertermittlung:
          $ref: "#/components/schemas/AllgemeineWertermittlungGenopace"
        erbbaurecht:
          $ref: "#/components/schemas/ErbbaurechtGenopace"
    BereitstellungszinsfreieZeitPraeferenz:
      type: object
      description: "Mögliche Typen: DarlehensbetragBenoetigtKurzNachDarlehensvertrag,\
        \ InMonaten, NochNichtFestgelegt, KeineBereitstellungszinsfreieZeitPraeferenz"
      discriminator:
        mapping:
          DARLEHENSBETRAG_BENOETIGT_KURZ_NACH_DARLEHENSVERTRAG: "#/components/schemas/DarlehensbetragBenoetigtKurzNachDarlehensvertrag"
          IN_MONATEN: "#/components/schemas/InMonaten"
          KEINE_BEREITSTELLUNGSZINSFREIE_ZEIT_PRAEFERENZ: "#/components/schemas/KeineBereitstellungszinsfreieZeitPraeferenz"
          NOCH_NICHT_FESTGELEGT: "#/components/schemas/NochNichtFestgelegt"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Beschaeftigung:
      type: object
      description: "Mögliche Typen: Arbeitsloser, HaushaltendePerson, Angestellter,\
        \ Arbeiter, Beamter, Selbststaendiger, Freiberufler, Rentner"
      discriminator:
        mapping:
          ANGESTELLTER: "#/components/schemas/Angestellter"
          ARBEITER: "#/components/schemas/Arbeiter"
          ARBEITSLOSER: "#/components/schemas/Arbeitsloser"
          BEAMTER: "#/components/schemas/Beamter"
          FREIBERUFLER: "#/components/schemas/Freiberufler"
          HAUSHALTENDE_PERSON: "#/components/schemas/HaushaltendePerson"
          RENTNER: "#/components/schemas/Rentner"
          SELBSTSTAENDIGER: "#/components/schemas/Selbststaendiger"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Beschaeftigungsverhaeltnis:
      type: object
      properties:
        anzahlGehaelterProJahr:
          type: string
          enum:
          - ZWOELF
          - ZWOELF_EINHALB
          - DREIZEHN
          - DREIZEHN_EINHALB
          - VIERZEHN
          - VIERZEHN_EINHALB
          - FUENFZEHN
        arbeitgeber:
          $ref: "#/components/schemas/Arbeitgeber"
        beschaeftigtSeit:
          type: string
          format: date
        probezeit:
          type: boolean
    BestandteileDerFinanzierungPraeferenz:
      type: object
      properties:
        kommentar:
          type: string
        praeferenz:
          type: string
          enum:
          - UNKOMPLIZIERTE_FINANZIERUNG
          - WEITERE_PRODUKTE_WILLKOMMEN
          - OEFFENTLICHE_FOERDERUNGEN
          - KONKRETE_VORSTELLUNGEN
          - KEINE_PRAEFERENZ
    BestehendeDarlehenDesFinanzierungsobjektesErfassung:
      type: object
      description: "Mögliche Typen: VorhandeneBestehendeDarlehenDesFinanzierungsobjektes,\
        \ KeineBestehendeDarlehenDesFinanzierungsobjektes"
      discriminator:
        mapping:
          KEINE_BESTEHENDE_DARLEHEN_DES_FINANZIERUNGSOBJEKTES: "#/components/schemas/KeineBestehendeDarlehenDesFinanzierungsobjektes"
          VORHANDENE_BESTEHENDE_DARLEHEN_DES_FINANZIERUNGSOBJEKTES: "#/components/schemas/VorhandeneBestehendeDarlehenDesFinanzierungsobjektes"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    BestehendeDarlehenErfassung:
      type: object
      description: "Mögliche Typen: VorhandeneBestehendeDarlehen, KeineBestehendenDarlehen"
      discriminator:
        mapping:
          KEINE_BESTEHENDEN_DARLEHEN: "#/components/schemas/KeineBestehendenDarlehen"
          VORHANDENE_BESTEHENDE_DARLEHEN: "#/components/schemas/VorhandeneBestehendeDarlehen"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    BestehendeImmobilie:
      type: object
      description: "Bitte Feld 'darlehensliste' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'darlehenslisteErfassung' kopiert, falls 'darlehenslisteErfassung'\
        \ leer ist."
      properties:
        bezeichnung:
          type: string
        darlehensliste:
          type: array
          deprecated: true
          description: Ersetzt durch 'darlehenslisteErfassung'
          items:
            oneOf:
            - $ref: "#/components/schemas/BestehendesBauspardarlehen"
            - $ref: "#/components/schemas/BestehendesDarlehenUnbekannterTyp"
            - $ref: "#/components/schemas/BestehendesFoerderdarlehen"
            - $ref: "#/components/schemas/BestehendesImmobiliendarlehen"
            - $ref: "#/components/schemas/BestehendesPrivatdarlehen"
            - $ref: "#/components/schemas/BestehendesSonstigesDarlehen"
        darlehenslisteErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeineBestehendenDarlehen"
          - $ref: "#/components/schemas/VorhandeneBestehendeDarlehen"
        einsatz:
          type: string
          enum:
          - KEIN_EINSATZ
          - VERKAUFEN
          - ALS_ZUSATZSICHERHEIT
        einzusetzenderBetragBeiEinsatzAlsZusatzsicherheit:
          type: number
          format: double
        id:
          type: string
          description: Eindeutige interne ID
        immobilie:
          $ref: "#/components/schemas/Immobilie"
        kommentar:
          type: string
        marktwert:
          type: number
          format: double
        maximalEinzusetzenderBetragBeiVerkauf:
          type: number
          format: double
    BestehendeImmobilienErfassung:
      type: object
      description: "Mögliche Typen: VorhandeneBestehendeImmobilien, KeineBestehendenImmobilien"
      discriminator:
        mapping:
          KEINE_BESTEHENDEN_IMMOBILIEN: "#/components/schemas/KeineBestehendenImmobilien"
          VORHANDENE_BESTEHENDE_IMMOBILIEN: "#/components/schemas/VorhandeneBestehendeImmobilien"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    BestehendesBauspardarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/BestehendesDarlehen"
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesDarlehen:
      type: object
      description: "Mögliche Typen: BestehendesImmobiliendarlehen, BestehendesBauspardarlehen,\
        \ BestehendesFoerderdarlehen, BestehendesPrivatdarlehen, BestehendesSonstigesDarlehen"
      discriminator:
        mapping:
          BESTEHENDES_BAUSPARDARLEHEN: "#/components/schemas/BestehendesBauspardarlehen"
          BESTEHENDES_FOERDERDARLEHEN: "#/components/schemas/BestehendesFoerderdarlehen"
          BESTEHENDES_IMMOBILIENDARLEHEN: "#/components/schemas/BestehendesImmobiliendarlehen"
          BESTEHENDES_PRIVATDARLEHEN: "#/components/schemas/BestehendesPrivatdarlehen"
          BESTEHENDES_SONSTIGES_DARLEHEN: "#/components/schemas/BestehendesSonstigesDarlehen"
        propertyName: '@type'
      properties:
        '@type':
          type: string
        darlehensbetrag:
          type: number
          format: double
        darlehensgeber:
          oneOf:
          - $ref: "#/components/schemas/ProduktanbieterDarlehensgeber"
          - $ref: "#/components/schemas/SonstigerDarlehensgeber"
        darlehenskontonummer:
          type: string
          description: IBAN des Darlehenskontos
        grundschuld:
          type: number
          format: double
        id:
          type: string
          description: Eindeutige interne ID
        laufzeitende:
          type: string
          format: date
        rateMonatlich:
          type: number
          format: double
        restschuld:
          $ref: "#/components/schemas/Restschuld"
        sollzins:
          type: number
          format: double
        zinsbindungBis:
          type: string
          format: date
      required:
      - '@type'
    BestehendesDarlehenDesFinanzierungsobjektes:
      type: object
      properties:
        darlehen:
          oneOf:
          - $ref: "#/components/schemas/BestehendesBauspardarlehen"
          - $ref: "#/components/schemas/BestehendesDarlehenUnbekannterTyp"
          - $ref: "#/components/schemas/BestehendesFoerderdarlehen"
          - $ref: "#/components/schemas/BestehendesImmobiliendarlehen"
          - $ref: "#/components/schemas/BestehendesPrivatdarlehen"
          - $ref: "#/components/schemas/BestehendesSonstigesDarlehen"
        referenzId:
          type: string
          description: "Eindeutige Referenz-ID für dieses bestehende Darlehen des\
            \ Finanzierungsobjektes. Sie gilt nur innerhalb dieses Aufrufs, ist freiwä\
            hlbar und wird nicht abgespeichert. Auf sie wird beim (optionalen) Ablö\
            sen dieses Darlehens verwiesen."
      required:
      - darlehen
    BestehendesDarlehenUnbekannterTyp:
      type: object
      allOf:
      - $ref: "#/components/schemas/BestehendesDarlehen"
    BestehendesFoerderdarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/BestehendesDarlehen"
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesImmobiliendarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/BestehendesDarlehen"
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    BestehendesPrivatdarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/BestehendesDarlehen"
    BestehendesSonstigesDarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/BestehendesDarlehen"
      - type: object
        properties:
          grundschuldart:
            type: string
            enum:
            - BRIEF_GRUNDSCHULD
            - BUCH_GRUNDSCHULD
    Betrag:
      type: object
      allOf:
      - $ref: "#/components/schemas/Tippgeberprovision"
      - type: object
        properties:
          betrag:
            type: number
            format: double
    Betreuung:
      type: object
      properties:
        bearbeiter:
          type: string
          description: "Die PartnerId einer Person, die als Bearbeiter des neuen Vorgangs\
            \ eingetragen wird. Übernahmerechte müssen für die PartnerId vorhanden\
            \ sein."
        kundenbetreuer:
          type: string
          description: "Die PartnerId des Empfängers (Organisation) oder Kundenbetreuers\
            \ (Person) für den neuen Vorgang. Wird keine Betreuung angegeben, wird\
            \ die PartnerId des aufrufenden Clients verwendet. Übernahmerechte mü\
            ssen vorhanden sein."
      required:
      - kundenbetreuer
    BisZumJahr:
      type: object
      allOf:
      - $ref: "#/components/schemas/LaufzeitPraeferenz"
      - type: object
        properties:
          jahr:
            type: integer
            format: int32
          kommentar:
            type: string
    BisZurRenteImJahr:
      type: object
      allOf:
      - $ref: "#/components/schemas/LaufzeitPraeferenz"
      - type: object
        properties:
          jahr:
            type: integer
            format: int32
          kommentar:
            type: string
    BlaueKarteEu:
      type: object
      allOf:
      - $ref: "#/components/schemas/Aufenthaltstitel"
      - type: object
        properties:
          befristetBis:
            type: string
            format: date
            description: Die EU Blue Card muss gültig sein.
    DarlehensbetragBenoetigtKurzNachDarlehensvertrag:
      type: object
      allOf:
      - $ref: "#/components/schemas/BereitstellungszinsfreieZeitPraeferenz"
      - type: object
        properties:
          kommentar:
            type: string
    Darlehensgeber:
      type: object
      description: "Mögliche Typen: SonstigerDarlehensgeber, ProduktanbieterDarlehensgeber"
      discriminator:
        mapping:
          PRODUKTANBIETER_DARLEHENSGEBER: "#/components/schemas/ProduktanbieterDarlehensgeber"
          SONSTIGER_DARLEHENSGEBER: "#/components/schemas/SonstigerDarlehensgeber"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    DaueraufenthaltEu:
      type: object
      allOf:
      - $ref: "#/components/schemas/Aufenthaltstitel"
    Deadline:
      type: object
      allOf:
      - $ref: "#/components/schemas/ZeitlicherRahmenPraeferenz"
      - type: object
        properties:
          kommentar:
            type: string
          zumDatum:
            type: string
            format: date
    Depotvermoegen:
      type: object
      properties:
        depotwert:
          type: number
          format: double
        verwendung:
          oneOf:
          - $ref: "#/components/schemas/AufloesungAlsVerwendung"
          - $ref: "#/components/schemas/KeineVerwendung"
    DerzeitNichtGeplant:
      type: object
      allOf:
      - $ref: "#/components/schemas/SondertilgungPraeferenz"
      - type: object
        properties:
          kommentar:
            type: string
    Doppelhaushaelfte:
      type: object
      allOf:
      - $ref: "#/components/schemas/Immobilientyp"
      - type: object
        properties:
          einliegerwohnungVorhanden:
            type: boolean
          fertighaus:
            type: boolean
          gebaeude:
            $ref: "#/components/schemas/Gebaeude"
          grundstuecksgroesse:
            type: number
            format: double
            minimum: 0
          nutzflaechen:
            $ref: "#/components/schemas/Nutzflaechen"
    EffektivzinsErhoehendeKosten:
      type: object
      description: Anpassungen nach PAngV
      properties:
        grundbucheintragungskostenEinmalig:
          type: number
          format: double
        sonstigeKosten:
          $ref: "#/components/schemas/SonstigeEffektivzinsErhoehendeKosten"
        wohngebaeudeversicherungskostenJaehrlich:
          type: number
          format: double
    Eigengenutzt:
      type: object
      allOf:
      - $ref: "#/components/schemas/Nutzungsart"
    EigenleistungErfassung:
      type: object
      description: "Mögliche Typen: VorhandeneEigenleistung, KeineEigenleistung"
      discriminator:
        mapping:
          KEINE_EIGENLEISTUNG: "#/components/schemas/KeineEigenleistung"
          VORHANDENE_EIGENLEISTUNG: "#/components/schemas/VorhandeneEigenleistung"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Eigentumswohnung:
      type: object
      allOf:
      - $ref: "#/components/schemas/Immobilientyp"
      - type: object
        properties:
          anzahlDerGewerbeeinheitenImObjekt:
            type: integer
            format: int32
          anzahlDerWohneinheitenImObjekt:
            type: integer
            format: int32
          bezeichnungWohneinheit:
            type: string
          gebaeude:
            $ref: "#/components/schemas/Gebaeude"
          grundstuecksgroesse:
            type: number
            format: double
            minimum: 0
          miteigentumsanteil:
            $ref: "#/components/schemas/Miteigentumsanteil"
    Einfamilienhaus:
      type: object
      allOf:
      - $ref: "#/components/schemas/Immobilientyp"
      - type: object
        properties:
          einliegerwohnungVorhanden:
            type: boolean
          fertighaus:
            type: boolean
          gebaeude:
            $ref: "#/components/schemas/Gebaeude"
          grundstuecksgroesse:
            type: number
            format: double
            minimum: 0
          nutzflaechen:
            $ref: "#/components/schemas/Nutzflaechen"
    EinkuenfteAusNebentaetigkeit:
      type: object
      properties:
        beginnDerTaetigkeit:
          type: string
          format: date
          description: Der Beginn der Nebenbeschäftigung darf nicht mehr als ein Jahr
            in der Zukunft liegen.
        betragMonatlich:
          type: number
          format: double
    EinmaligePraemienzahlung:
      type: object
      allOf:
      - $ref: "#/components/schemas/Praemienzahlung"
      - type: object
        properties:
          absicherungsfinanzierungsweise:
            type: string
            enum:
            - DURCH_HAUPTDARLEHEN
            - INDIVIDUELL
    EnergieEffizienzAusweis:
      type: object
      properties:
        ausweistyp:
          type: string
          enum:
          - ENDENERGIEBEDARF
          - ENDENERGIEVERBRAUCH
        co2Emissionen:
          type: integer
          format: int32
        endEnergie:
          type: integer
          format: int32
        energieEffizienzklasse:
          type: string
          description: "Wird beim Anlegen/Updaten nicht übernommen, sondern aus dem\
            \ Feld endEnergie berechnet."
          enum:
          - A_PLUS
          - A
          - B
          - C
          - D
          - E
          - F
          - G
          - H
        primaerEnergieTraeger:
          type: string
          enum:
          - OEL_GAS
          - PHOTOVOLTAIK_WINDKRAFT
          - WAERME_KAELTE
          - STEINKOHLE
          - BRAUNKOHLE
          - NETZSTROM
          - VERDRAENGUNGSSTROM
          - HOLZ
          - ABFAELLE
          - SONSTIGES
    Erbbaurecht:
      type: object
      deprecated: true
      description: Bitte 'Erbbaurecht' nicht mehr verwenden. Ersetzt durch 'ErbbaurechtErfassung'
      properties:
        erbbauzinsJaehrlich:
          type: number
          format: double
        grundstueckseigentuemer:
          type: string
          enum:
          - OEFFENTLICH_KIRCHLICH
          - ANDERE
        laufzeitBis:
          type: integer
          format: int32
    ErbbaurechtErfassung:
      type: object
      description: "Mögliche Typen: VorhandenesErbbaurecht, KeinErbbaurecht"
      discriminator:
        mapping:
          KEIN_ERBBAURECHT: "#/components/schemas/KeinErbbaurecht"
          VORHANDENES_ERBBAURECHT: "#/components/schemas/VorhandenesErbbaurecht"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    ErbbaurechtGenopace:
      type: object
      properties:
        gebaeudeEntschaedigungBeiAblauf:
          type: number
          format: double
        liegenschaftszins:
          type: number
          format: double
    ErtragswertErmittlungGenopace:
      type: object
      properties:
        gewerblich:
          $ref: "#/components/schemas/ErtragswertErmittlungsangaben"
        wohnwirtschaftlich:
          $ref: "#/components/schemas/ErtragswertErmittlungWohnwirtschaftlich"
    ErtragswertErmittlungWohnwirtschaftlich:
      type: object
      properties:
        angaben:
          $ref: "#/components/schemas/ErtragswertErmittlungsangaben"
        bewirtschaftungskostenGarage:
          type: number
          format: double
        bewirtschaftungskostenStellplaetze:
          type: number
          format: double
    ErtragswertErmittlungsangaben:
      type: object
      properties:
        instandhaltungskosten:
          type: number
          format: double
        kapitalisierungszins:
          type: number
          format: double
        liegenschaftszins:
          type: number
          format: double
        mietausfallwagnis:
          type: number
          format: double
        modernisierungsrisiko:
          type: number
          format: double
        nichtUmlagefaehigeBetriebskosten:
          type: number
          format: double
        verwaltungskosten:
          type: number
          format: double
    EuroEinmalig:
      type: object
      allOf:
      - $ref: "#/components/schemas/SondertilgungPraeferenz"
      - type: object
        properties:
          betrag:
            type: number
            format: double
          kommentar:
            type: string
    EuroJaehrlich:
      type: object
      allOf:
      - $ref: "#/components/schemas/SondertilgungPraeferenz"
      - type: object
        properties:
          betrag:
            type: number
            format: double
          kommentar:
            type: string
    Familienstand:
      type: object
      description: "Mögliche Typen: LEDIG, VERHEIRATET, VERWITWET, GESCHIEDEN, GETRENNT_LEBEND,\
        \ LEBENSPARTNERSCHAFT"
      discriminator:
        mapping:
          GESCHIEDEN: "#/components/schemas/Geschieden"
          GETRENNT_LEBEND: "#/components/schemas/GetrenntLebend"
          LEBENSPARTNERSCHAFT: "#/components/schemas/Lebenspartnerschaft"
          LEDIG: "#/components/schemas/Ledig"
          VERHEIRATET: "#/components/schemas/Verheiratet"
          VERWITWET: "#/components/schemas/Verwitwet"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    FinanzielleSituation:
      type: object
      description: "Bitte Feld 'bestehendeImmobilien' nicht mehr verwenden. Falls\
        \ mitgeschickt, werden die Angaben ins Feld 'bestehendeImmobilienErfassung'\
        \ kopiert, falls 'bestehendeImmobilienErfassung' leer ist."
      properties:
        ausgaben:
          $ref: "#/components/schemas/Haushaltsausgaben"
        bestehendeImmobilien:
          type: array
          deprecated: true
          description: Ersetzt durch 'bestehendeImmobilienErfassung'
          items:
            $ref: "#/components/schemas/BestehendeImmobilie"
        bestehendeImmobilienErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeineBestehendenImmobilien"
          - $ref: "#/components/schemas/VorhandeneBestehendeImmobilien"
        einnahmen:
          $ref: "#/components/schemas/Haushaltseinnahmen"
        verbindlichkeiten:
          $ref: "#/components/schemas/Haushaltsverbindlichkeiten"
        vermoegen:
          $ref: "#/components/schemas/Haushaltsvermoegen"
    Finanzielles:
      type: object
      properties:
        beschaeftigung:
          oneOf:
          - $ref: "#/components/schemas/Angestellter"
          - $ref: "#/components/schemas/Arbeiter"
          - $ref: "#/components/schemas/Arbeitsloser"
          - $ref: "#/components/schemas/Beamter"
          - $ref: "#/components/schemas/Freiberufler"
          - $ref: "#/components/schemas/HaushaltendePerson"
          - $ref: "#/components/schemas/Rentner"
          - $ref: "#/components/schemas/Selbststaendiger"
        einkommenNetto:
          type: number
          format: double
        riesterangaben:
          $ref: "#/components/schemas/Riesterangaben"
        steuerId:
          type: string
    Finanzierungsbaustein:
      type: object
      description: "Mögliche Typen: Annuitaetendarlehen, Forwarddarlehen, Privatdarlehen,\
        \ Zwischenfinanzierung, VariablesDarlehen, Bauspardarlehen, KfwDarlehen, RegionalFoerderDarlehen"
      discriminator:
        mapping:
          ANNUITAETENDARLEHEN: "#/components/schemas/Annuitaetendarlehen"
          BAUSPARDARLEHEN: "#/components/schemas/Bauspardarlehen"
          FORWARDDARLEHEN: "#/components/schemas/Forwarddarlehen"
          KFW_DARLEHEN: "#/components/schemas/KfwDarlehen"
          KONSTANTDARLEHEN: "#/components/schemas/Konstantdarlehen"
          PRIVATDARLEHEN: "#/components/schemas/Privatdarlehen"
          REGIONAL_FOERDER_DARLEHEN: "#/components/schemas/RegionalFoerderDarlehen"
          VARIABLES_DARLEHEN: "#/components/schemas/VariablesDarlehen"
          ZWISCHENFINANZIERUNG: "#/components/schemas/Zwischenfinanzierung"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Finanzierungsbedarf:
      type: object
      description: Der Finanzierungsbedarf beinhaltet alle relevanten Finanzierungsinformationen.
        In anderen APIs als 'Vorhaben' bezeichnet.
      properties:
        beratungshonorar:
          type: number
          format: double
          description: "Das Beratungshonorar, welches anstelle einer Provision zwischen\
            \ dem Kundenbetreuer und Kunden vereinbart wurde."
        externeBausparangebote:
          type: array
          description: 'Bestehender externer Bausparvertrag. '
          items:
            $ref: "#/components/schemas/BausparAngebotExtern"
          maxItems: 3
          minItems: 0
        finanzierungsbausteine:
          type: array
          description: In anderen APIs im 'Finanzierungswunsch' zu finden.
          items:
            oneOf:
            - $ref: "#/components/schemas/Annuitaetendarlehen"
            - $ref: "#/components/schemas/Bauspardarlehen"
            - $ref: "#/components/schemas/Forwarddarlehen"
            - $ref: "#/components/schemas/KfwDarlehen"
            - $ref: "#/components/schemas/Konstantdarlehen"
            - $ref: "#/components/schemas/Privatdarlehen"
            - $ref: "#/components/schemas/RegionalFoerderDarlehen"
            - $ref: "#/components/schemas/VariablesDarlehen"
            - $ref: "#/components/schemas/Zwischenfinanzierung"
          maxItems: 5
          minItems: 0
        finanzierungszweck:
          oneOf:
          - $ref: "#/components/schemas/Anschlussfinanzierung"
          - $ref: "#/components/schemas/Kapitalbeschaffung"
          - $ref: "#/components/schemas/Kauf"
          - $ref: "#/components/schemas/KaufNeubauVomBautraeger"
          - $ref: "#/components/schemas/ModernisierungUmbauAnbau"
          - $ref: "#/components/schemas/Neubau"
        id:
          type: string
          description: Eindeutige interne ID
        praeferenzen:
          $ref: "#/components/schemas/Praeferenzen"
        ratenschutzbausteine:
          type: array
          description: Absicherungswünsche in Form von Ratenschutzversicherungen.
            In anderen APIs im 'absicherungsWunsch' zu finden. Maximal ein Baustein
            je Kunde.
          items:
            $ref: "#/components/schemas/Ratenschutz"
          maxItems: 2
          minItems: 0
        unbesicherteExterneDarlehen:
          type: array
          description: Als Eigenkapital. In anderen APIs als 'nachrangigesExternesDarlehen'
            bezeichnet.
          items:
            $ref: "#/components/schemas/UnbesichertesExternesDarlehen"
    Finanzierungsdetailspraeferenzen:
      type: object
      properties:
        bereitstellungszinsfreieZeit:
          oneOf:
          - $ref: "#/components/schemas/DarlehensbetragBenoetigtKurzNachDarlehensvertrag"
          - $ref: "#/components/schemas/InMonaten"
          - $ref: "#/components/schemas/KeineBereitstellungszinsfreieZeitPraeferenz"
          - $ref: "#/components/schemas/NochNichtFestgelegt"
        laufzeit:
          oneOf:
          - $ref: "#/components/schemas/BisZumJahr"
          - $ref: "#/components/schemas/BisZurRenteImJahr"
          - $ref: "#/components/schemas/InJahren"
          - $ref: "#/components/schemas/KeineLaufzeitPraeferenz"
          - $ref: "#/components/schemas/MoeglichstSchnell"
        ratenhoehe:
          oneOf:
          - $ref: "#/components/schemas/KeineRatePraeferenz"
          - $ref: "#/components/schemas/MoeglichstNiedrigeRate"
          - $ref: "#/components/schemas/RateAlsBetrag"
          - $ref: "#/components/schemas/Ratenspanne"
          - $ref: "#/components/schemas/VerfuegbaresEinkommenAusschoepfen"
          - $ref: "#/components/schemas/WarmmieteVonHeute"
        sondertilgung:
          oneOf:
          - $ref: "#/components/schemas/DerzeitNichtGeplant"
          - $ref: "#/components/schemas/EuroEinmalig"
          - $ref: "#/components/schemas/EuroJaehrlich"
          - $ref: "#/components/schemas/KeineSondertilgungPraeferenz"
          - $ref: "#/components/schemas/ProzentJaehrlich"
        tilgungssatzwechsel:
          oneOf:
          - $ref: "#/components/schemas/KeineTilgungssatzwechselPraeferenz"
          - $ref: "#/components/schemas/Mindestens"
          - $ref: "#/components/schemas/NichtEingeplantOderAbsehbar"
        zinsbindung:
          oneOf:
          - $ref: "#/components/schemas/FlexibelKurzfristigHandlungsfaehig"
          - $ref: "#/components/schemas/KeineZinsbindungPraeferenz"
          - $ref: "#/components/schemas/LangeZinssicherheit"
          - $ref: "#/components/schemas/ZinsbindungInJahren"
          - $ref: "#/components/schemas/Zinsbindungsspanne"
    Finanzierungsobjekt:
      type: object
      description: "Bitte Feld 'darlehensliste' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'darlehenslisteErfassung' kopiert, falls 'darlehenslisteErfassung'\
        \ leer ist."
      properties:
        darlehensliste:
          type: array
          deprecated: true
          description: Ersetzt durch 'darlehenslisteErfassung'
          items:
            $ref: "#/components/schemas/BestehendesDarlehenDesFinanzierungsobjektes"
        darlehenslisteErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeineBestehendeDarlehenDesFinanzierungsobjektes"
          - $ref: "#/components/schemas/VorhandeneBestehendeDarlehenDesFinanzierungsobjektes"
        immobilie:
          $ref: "#/components/schemas/Immobilie"
    Finanzierungszweck:
      type: object
      description: "Der Finanzierungszweck zeigt an, wofür die gestellten Mittel verwendet\
        \ werden und wie der Bedarf zusammen gesetzt ist. Mögliche Typen: Neubau,\
        \ Kauf, KaufNeubauVomBautraeger, ModernisierungUmbauAnbau, Anschlussfinanzierung,\
        \ Kapitalbeschaffung"
      discriminator:
        mapping:
          ANSCHLUSSFINANZIERUNG: "#/components/schemas/Anschlussfinanzierung"
          KAPITALBESCHAFFUNG: "#/components/schemas/Kapitalbeschaffung"
          KAUF: "#/components/schemas/Kauf"
          KAUF_NEUBAU_VOM_BAUTRAEGER: "#/components/schemas/KaufNeubauVomBautraeger"
          MODERNISIERUNG_UMBAU_ANBAU: "#/components/schemas/ModernisierungUmbauAnbau"
          NEUBAU: "#/components/schemas/Neubau"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Flaechennutzung:
      type: object
      properties:
        gesamtflaeche:
          type: number
          format: double
          minimum: 0
        nutzungsart:
          $ref: "#/components/schemas/Nutzungsart"
    FlexibelKurzfristigHandlungsfaehig:
      type: object
      allOf:
      - $ref: "#/components/schemas/ZinsbindungPraeferenz"
      - type: object
        properties:
          kommentar:
            type: string
    Flurstueck:
      type: object
      properties:
        anteil:
          $ref: "#/components/schemas/Miteigentumsanteil"
        flur:
          type: string
        flurstueck:
          type: string
        groesse:
          type: number
          format: double
          minimum: 0
    Forwarddarlehen:
      type: object
      allOf:
      - $ref: "#/components/schemas/Finanzierungsbaustein"
      - type: object
        properties:
          annuitaetendetails:
            $ref: "#/components/schemas/Annuitaetendetails"
          darlehensbetrag:
            type: number
            format: double
          id:
            type: string
            description: Eindeutige interne ID
          provision:
            type: number
            format: double
            description: Angabe in Prozent.
          referenzId:
            type: string
            description: "Eindeutige Referenz-ID für diesen Finanzierungsbaustein.\
              \ Sie gilt nur innerhalb dieses Aufrufs, ist freiwählbar und wird nicht\
              \ abgespeichert. Auf sie wird beim (optionalen) Ablösen der bestehenden\
              \ Darlehen bei Anschlussfinanzierung verwiesen."
    Freiberufler:
      type: object
      allOf:
      - $ref: "#/components/schemas/Beschaeftigung"
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: "#/components/schemas/SituationNachRenteneintritt"
          taetigkeit:
            $ref: "#/components/schemas/SelbststaendigeTaetigkeit"
    Gebaeude:
      type: object
      description: "Bitte Feld 'modernisierung' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'modernisierungErfassung' kopiert, falls 'modernisierungErfassung'\
        \ leer ist."
      properties:
        anzahlGeschosse:
          type: integer
          format: int32
        ausstattung:
          type: string
          enum:
          - STARK_GEHOBEN
          - GEHOBEN
          - MITTEL
          - EINFACH
        baujahr:
          type: integer
          format: int32
          description: Beim Finanzierungsobjekt mit Finanzierungszweck NEUBAU oder
            KAUF_NEUBAU_VOM_BAUTRAEGER leer. Wird ggf gelöscht.
        bauweise:
          type: string
          enum:
          - MASSIV
          - HOLZ
          - GLAS_STAHL
          - FACHWERK_MIT_ZIEGELN
          - FACHWERK_MIT_STROH_LEHM
        denkmalschutz:
          type: boolean
        energieEffizienzAusweis:
          $ref: "#/components/schemas/EnergieEffizienzAusweis"
        modernisierung:
          $ref: "#/components/schemas/Modernisierung"
        modernisierungErfassung:
          $ref: "#/components/schemas/ModernisierungErfassung"
        nutzung:
          $ref: "#/components/schemas/Nutzung"
        zustand:
          type: string
          enum:
          - SEHR_GUT
          - GUT
          - MITTEL
          - MAESSIG
          - SCHLECHT
    Geschieden:
      type: object
      allOf:
      - $ref: "#/components/schemas/Familienstand"
    GetrenntLebend:
      type: object
      allOf:
      - $ref: "#/components/schemas/Familienstand"
      - type: object
        properties:
          guetertrennungVereinbart:
            type: boolean
            description: Wurde zwischen den Partnern Gütertrennung vereinbart
    GewerbeErfassung:
      type: object
      description: "Mögliche Typen: VorhandenesGewerbe, KeinGewerbe"
      discriminator:
        mapping:
          KEIN_GEWERBE: "#/components/schemas/KeinGewerbe"
          VORHANDENES_GEWERBE: "#/components/schemas/VorhandenesGewerbe"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    GirokontoPraeferenz:
      type: object
      description: Sonderkonditionen für Girokonten.
      properties:
        bestehendeGirokontenBeiBanken:
          type: array
          description: "Einige Darlehensgeber geben Zinsvorteile, wenn bereits ein\
            \ Girokonto besteht."
          items:
            type: string
            description: "Einige Darlehensgeber geben Zinsvorteile, wenn bereits ein\
              \ Girokonto besteht."
        wechselbereitZumDarlehensgeber:
          type: boolean
          description: "Einige Darlehensgeber geben Zinsvorteile, wenn mit Abschluss\
            \ der Finanzierung auch ein Girokonto eingerichtet wird."
    Grundbuchangabe:
      type: object
      deprecated: true
      description: Bitte 'Grundbuchangabe' nicht mehr verwenden. Ersetzt durch 'GrundbuchangabeErfassung'
      properties:
        amtsgericht:
          type: string
        anmerkungen:
          type: string
        blatt:
          type: string
        flurstuecke:
          type: array
          items:
            $ref: "#/components/schemas/Flurstueck"
        ort:
          type: string
        rechteInAbteilung2:
          $ref: "#/components/schemas/RechteAbteilung2"
    GrundbuchangabeErfassung:
      type: object
      description: "Mögliche Typen: VorhandeneGrundbuchangabe, KeineGrundbuchangabe"
      discriminator:
        mapping:
          KEINE_GRUNDBUCHANGABE: "#/components/schemas/KeineGrundbuchangabe"
          VORHANDENE_GRUNDBUCHANGABE: "#/components/schemas/VorhandeneGrundbuchangabe"
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
    Grundstueckskosten:
      type: object
      properties:
        erschliessungskosten:
          type: number
          format: double
        grundstueckBereitsBezahlt:
          type: boolean
        grundstueckkaufpreis:
          type: number
          format: double
    Haushalt:
      type: object
      description: "Bitte Feld 'kinder' nicht mehr verwenden. Falls mitgeschickt,\
        \ werden die Angaben ins Feld 'kinderErfassung' kopiert, falls 'kinderErfassung'\
        \ leer ist."
      properties:
        erfahrungImmobilienFinanzierung:
          type: boolean
        finanzielleSituation:
          $ref: "#/components/schemas/FinanzielleSituation"
        id:
          type: string
          description: Eindeutige interne ID
        kinder:
          type: array
          deprecated: true
          description: Ersetzt durch 'kinderErfassung'
          items:
            $ref: "#/components/schemas/Kind"
        kinderErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeineKinder"
          - $ref: "#/components/schemas/VorhandeneKinder"
        kunden:
          type: array
          description: In anderen APIs als 'Antragsteller' bezeichnet.
          items:
            $ref: "#/components/schemas/Kunde"
          maxItems: 2
          minItems: 0
        zusatzangaben:
          $ref: "#/components/schemas/ZusatzangabenHaushalt"
    HaushaltendePerson:
      type: object
      allOf:
      - $ref: "#/components/schemas/Beschaeftigung"
      - type: object
        properties:
          beruf:
            type: string
          situationNachRenteneintritt:
            $ref: "#/components/schemas/SituationNachRenteneintritt"
      description: "Ein allgemeiner Begriff, der die Beschäftigungen 'Hausfrau' und\
        \ 'Hausmann' zusammenfasst."
    Haushaltsausgaben:
      type: object
      properties:
        summeMietausgaben:
          $ref: "#/components/schemas/Mietausgaben"
        summePrivaterKrankenversicherungenMonatlich:
          type: number
          format: double
        summeSonstigerAusgabenMonatlich:
          $ref: "#/components/schemas/KommentierterBetrag"
        summeSonstigerVersicherungsausgabenMonatlich:
          $ref: "#/components/schemas/KommentierterBetrag"
        unterhaltsverpflichtungenMonatlich:
          type: array
          items:
            type: number
            format: double
    Haushaltseinnahmen:
      type: object
      properties:
        einkuenfteAusNebentaetigkeit:
          type: array
          items:
            $ref: "#/components/schemas/EinkuenfteAusNebentaetigkeit"
        summeEhegattenunterhalt:
          type: number
          format: double
        summeEinkuenfteAusKapitalvermoegen:
          type: number
          format: double
          description: In anderen APIs als 'dividende' unter 'wertpapiere'.
        summeSonstigeEinnahmenMonatlich:
          $ref: "#/components/schemas/KommentierterBetrag"
        summeUnbefristeteZusatzrentenMonatlich:
          $ref: "#/components/schemas/KommentierterBetrag"
        summeVariablerEinkuenfteMonatlich:
          type: number
          format: double
    Haushaltsverbindlichkeiten:
      type: object
      properties:
        privatdarlehen:
          type: array
          items:
            $ref: "#/components/schemas/Verbindlichkeit"
          maxItems: 3
          minItems: 0
        ratenkredite:
          type: array
          items:
            $ref: "#/components/schemas/Verbindlichkeit"
          maxItems: 3
          minItems: 0
        sonstigeVerbindlichkeit:
          $ref: "#/components/schemas/Verbindlichkeit"
    Haushaltsvermoegen:
      type: object
      properties:
        bausparvertraege:
          type: array
          items:
            $ref: "#/components/schemas/BausparvertragAlsVermoegen"
        lebensOderRentenversicherungen:
          type: array
          items:
            $ref: "#/components/schemas/LebensOderRentenversicherung"
        summeBankUndSparguthaben:
          $ref: "#/components/schemas/BankUndSparguthaben"
        summeDepotvermoegen:
          $ref: "#/components/schemas/Depotvermoegen"
        summeSonstigesVermoegen:
          $ref: "#/components/schemas/SonstigesVermoegen"
        summeSparplaene:
          $ref: "#/components/schemas/Sparplaene"
    Immobilie:
      type: object
      description: "Bitte Felder 'erbbaurecht', 'stellplaetze' und 'grundbuchangabe'\
        \ nicht mehr verwenden. Falls mitgeschickt, werden die Angaben in die Felder\
        \ '...Erfassung' kopiert, falls '...Erfassung' leer sind."
      properties:
        adresse:
          $ref: "#/components/schemas/Anschrift"
        erbbaurecht:
          $ref: "#/components/schemas/Erbbaurecht"
        erbbaurechtErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeinErbbaurecht"
          - $ref: "#/components/schemas/VorhandenesErbbaurecht"
        grundbuchangabe:
          $ref: "#/components/schemas/Grundbuchangabe"
        grundbuchangabeErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeineGrundbuchangabe"
          - $ref: "#/components/schemas/VorhandeneGrundbuchangabe"
        id:
          type: string
          description: Eindeutige interne ID
        stellplaetze:
          type: array
          deprecated: true
          description: Ersetzt durch 'stellplaetzeErfassung'
          items:
            $ref: "#/components/schemas/Stellplatz"
        stellplaetzeErfassung:
          oneOf:
          - $ref: "#/components/schemas/KeineStellplaetze"
          - $ref: "#/components/schemas/VorhandeneStellplaetze"
        typ:
          oneOf:
          - $ref: "#/components/schemas/Baugrundstueck"
          - $ref: "#/components/schemas/Doppelhaushaelfte"
          - $ref: "#/components/schemas/Eigentumswohnung"
          - $ref: "#/components/schemas/Einfamilienhaus"
          - $ref: "#/components/schemas/ImmobilieOhneTyp"
          - $ref: "#/components/schemas/Mehrfamilienhaus"
          - $ref: "#/components/schemas/Reihenhaus"
          - $ref: "#/components/schemas/Zweifamilienhaus"
        zusatzangaben:
          $ref: "#/components/schemas/ZusatzangabenImmobilie"
    ImmobilieOhneTyp:
      type: object
      allOf:
      - $ref: "#/components/schemas/Immobilientyp"
      - type: object
        properties:
          gebaeude:
            $ref: "#/components/schemas/Gebaeude"
          grundstuecksgroesse:
            type: number
            format: double
            minimum: 0
    Immobilientyp:
      type: object
      description: "Mögliche Typen: Baugrundstueck, Eigentumswohnung, Doppelhaushaelfte,\
        \ Einfamilienhaus, Zweifamilienhaus, Mehrfamilienhaus, Reihenhaus, ImmobilieOhneTyp"
      discriminator:
        mapping:
          BAUGRUNDSTUECK: "#/components/schemas/Baugrundstueck"
          DOPPELHAUSHAELFTE: "#/components/schemas/Doppelhaushaelfte"
          EIGENTUMSWOHNUNG: "#/components/schemas/Eigentumswohnung"
          EINFAMILIENHAUS: "#/components/schemas/Einfamilienhaus"
          IMMOBILIE_OHNE_TYP: "#/components/schemas/ImmobilieOhneTyp"
          MEHRFAMILIENHAUS: "#/components/schemas/Mehrfamilienhaus"
[...]
